/**公用CSS**/
.fl {
	float: left;
	display: inline;
}

.fr {
	float: right;
	display: inline;
}

.clear {
	clear: both;
}

.mg10 {
	margin: 10px;
}

.mt10 {
	margin-top: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.ml10 {
	margin-left: 10px;
}

.mr10 {
	margin-right: 10px;
}

.posAbs {
	position: absolute;
}

.posRel {
	position: relative;
}

.commonInput {
	height: 28px;
	border: none;
	background: url(./inputBg.png) no-repeat;
	width: 170px;
}
.commonButton{
	height:22px;
	line-height:22px;
	text-align: center;
	display:inline-block;
	filter: alpha(opactiy : 100, finishopactiy : 50, style : 1, startx : 0, starty :
		0, finishx : 0, finishy =   50) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff,
		endcolorstr=#efefef, gradientType=0 );
	-ms-filter: alpha(opacity = 100, finishopacity = 50, style = 1, startx = 0, starty =
		  0, finishx =   0, finishy = 150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff,
		endcolorstr=#efefef, gradientType=0 ); /*IE8*/
	background: -moz-linear-gradient(top, #ffffff, #efefef);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff),
		to(#efefef) );
	background: -o-linear-gradient(top, #ffffff, #efefef);
	border:1px solid #ccced1;
	cursor:pointer;
	padding:0px 10px;
	margin:0px 5px;
	border-radius:3px;
}
.commonInput:focus {
	background: url(./inputFocus.png);
}

.w80input {
	height: 26px;
	border-radius: 3px;
	border: 1px solid #ACB4BF;
	width: 80px;
}

span.smallRightBtn {
	background: url(./pageButton.png) 23px;
	display: inline-block;
	width: 22px;
	height: 22px;
	cursor: pointer;
}

span.smallLeftBtn {
	background: url(./pageButton.png) 0px;
	display: inline-block;
	width: 22px;
	height: 22px;
	cursor: pointer;
}

.button-left {
	cursor: pointer;
	text-align: center;
	line-height: 32px;
	width: 74px;
	height: 32px;
	background: url(./buttonBg.png) no-repeat;
}

.button-left-select {
	text-align: center;
	line-height: 32px;
	width: 74px;
	height: 32px;
	background: url(./buttonSelect.png) no-repeat -1px;
}

.button-middle {
	cursor: pointer;
	text-align: center;
	line-height: 32px;
	width: 71px;
	height: 32px;
	background: url(./buttonBg.png) no-repeat -73px;
}

.button-middle-select {
	text-align: center;
	line-height: 32px;
	width: 70px;
	height: 32px;
	background: url(./buttonSelect.png) no-repeat -75px;
}

.button-right {
	cursor: pointer;
	text-align: center;
	line-height: 32px;
	width: 74px;
	height: 32px;
	background: url(./buttonBg.png) no-repeat -144px;
}

.button-right-select {
	text-align: center;
	line-height: 32px;
	width: 74px;
	height: 32px;
	background: url(./buttonSelect.png) no-repeat -145px;
}

.orangeSubmit {
	line-height: 38px;
	margin: 10px auto;
	font-size: 20px;
	background: url(./orangeSubmit.png);
	height: 38px;
	width: 71px;
	color: white;
	cursor: pointer;
}

.mainWraper {
	margin-top: 10px;
	overflow: hidden;
	color: #6F7781;
	font-family:"Microsoft YaHei",微软雅黑;
	letter-spacing:1px;
}

.searchButton {
	display: block;
	float: left;
	width: 36px;
	height: 30px;
	cursor: pointer;
	background: url(./searchButton.png) no-repeat;
}


.loading {
	display: inline-block;
height: 32px;
width: 181px;
background: url(./spinner.gif) no-repeat;
}

.blockSpan {
	display: inline-block;
	font-size: 14px;
}

.downTriangle {
	border-left: solid 5px transparent;
	border-right: solid 5px transparent;
	border-top: solid 5px #000;
	height: 0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

.upTriangle {
	border-left: solid 5px transparent;
	border-right: solid 5px transparent;
	border-bottom: solid 5px #000;
	height: 0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

.online {
	background: url(./online.png) no-repeat center;
	width: 24px;
	height: 33px;
}
.checkIcon{
	background:url(./chekcIcon.png) no-repeat center;
	width:24px;
	height:33px;
}
.unline {
	background: url(./unline.png) no-repeat center;
	width: 24px;
	height: 33px;
}

.selectBg {
	font-size: 12px;
	cursor: pointer;
	padding-left: 9px;
	line-height: 29px;
	width: 75px;
	background: url(./selectBg.png) no-repeat;
	height: 30px;
}

.circleImg {
	background: url(./circleTool.png) no-repeat center;
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.rectangleImg {
	background: url(./rectangleTool.png) no-repeat center;
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.polygonImg {
	background: url(./polygonTool.png) no-repeat center;
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.markerImg {
	background: url(./markerTool.png) no-repeat center;
	display: inline-block;
	width: 16px;
	height: 20px;
	cursor: pointer;
}

.spanAnchor {
	cursor: pointer;
	color: #005db2;
	line-height: 18px;
	display: inline-block;
}

a.closeButton {
	position: absolute;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(./closeImg.png) no-repeat;
	cursor: pointer;
}

.carIcon {
	background: url(./car.png);
	width: 14px;
	height: 16px;
	display: inline-block;
	margin: 6px 10px;
}

.allIcon {
	background: url(./allIcon.png);
	width: 14px;
	height: 16px;
	display: inline-block;
	margin: 6px 10px;
}
.menOnlineIcon{
	background:url(./menMarker.png) no-repeat 0px 0px;
	height:30px;
	width:25px;
	display:inline-block;
}
.menOfflineIcon{
	background:url(./menMarker.png) no-repeat 0px -30px;
	height:30px;
	width:25px;
	display:inline-block;
}
.boatOnlineIcon{
	background:url(./boatMarker.png) no-repeat 0px 0px;
	height:30px;
	width:25px;
	display:inline-block;
}
.boatOfflineIcon{
	background:url(./boatMarker.png) no-repeat 0px -30px;
	height:30px;
	width:25px;
	display:inline-block;
}
.carOnlineIcon{
	background:url(./carMarker.png) no-repeat 0px 0px;
	height:30px;
	width:25px;
	display:inline-block;
}
.carOfflineIcon{
	background:url(./carMarker.png) no-repeat 0px -30px;
	height:30px;
	width:25px;
	display:inline-block;
}
.defaultOnlineIcon{
	background:url(./defaulSmallMarker.png) no-repeat 0px 0px;
	height:30px;
	width:25px;
	display:inline-block;
}
.defaultOfflineIcon{
	background:url(./defaulSmallMarker.png) no-repeat 0px -30px;
	height:30px;
	width:24px;
	display:inline-block;
}
.menIcon {
	background: url(./men.png);
	width: 14px;
	height: 16px;
	display: inline-block;
	margin: 6px 10px;
}

.boatIcon {
	background: url(./boat.png);
	width: 14px;
	height: 16px;
	display: inline-block;
	margin: 6px 10px;
}
.mailIcon{
	background:url(./mailIcon.png) 0px 2px;
	height:20px;
	width:23px;
	display: inline-block;
	margin: 6px 10px;
}
.mailIcon:hover{
	background: url(./mailIcon.png) 0px -33px;
	height: 20px;
	width: 23px;
	display: inline-block;;
}
.phoneIcon{
	background:url(./phoneIcon.png) 0px 0px;
	width:21px;
	height:17px;
	display: inline-block;
	margin: 6px 10px;
}
.phoneIcon:hover{
	background:url(./phoneIcon.png) 0px -33px;
	width:21px;
	height:19px;
	display: inline-block;
}
.traceIcon{
	margin-top: 7px;
	background: url(./Terminal_operating.png) no-repeat -41px 0px;
	width: 22px;
	height: 18px;
	display: inline-block;
}
.traceIcon:hover{
	height: 22px;
	margin-top: 7px;
	background: url(./Terminal_operating.png) no-repeat -41px -18px;
}
.messageIcon{
	background:url(./messageIcon.png) 0px 2px no-repeat;
	width:21px;
	height:18px;
	display: inline-block;
	margin: 6px 10px;
}
.messageIcon:hover{
	background-position:0px -33px;
}
.popContainer {
	height: 600px;
	width: 384px;
	position: absolute;
	z-index: 105;
	display:none
}
.map_popContainer {
	width: 384px;
	position: absolute;
	z-index: 105;
}
.popContainer table ,.map_popContainer table{ 
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.map_popContainer .map_middleMiddle td{
	padding:6px 0px ;
}
.popContainer .top_left {
	height: 30px;
	background: url(./top_left.png) no-repeat;
}

.popContainer .top_middle {
	background: url(./top_middle.png);
	height: 47px;
}

.popContainer .top_right {
	background: url(./top_right.png) no-repeat;
}

.popContainer .middle_left {
	width: 28px;
	background: url(./middle_left.png);
}

.popContainer .middle_middle {
	vertical-align: top;
	background: url(./middle_middle.png);
}

.popContainer .middle_right {
	width: 28px;
	background: url(./middle_right.png);
}

.popContainer .bottom_left {
	height: 30px;
	background: url(./bottom_left.png) no-repeat;
}

.popContainer .bottom_middle {
	height: 30px;
	background: url(./bottom_middle.png) no-repeat;
}

.popContainer .bottom_right {
	background: url(./bottom_right.png) no-repeat;
}
.map_topLeft{
	background:url(./map_topLeft.png);
	width: 33px;
}
.map_topMiddle{
	height: 31px;
	background:url(./map_topMiddle.png);
}
.map_topRight{
	background: url(./map_topRight.png) no-repeat;
	width:35px;
}
.map_middleLeft{
	background: url(./map_middleLeft.png);
}
.map_middleMiddle{
	background:url(./map_middleMiddle.png);
}
.map_middleRight{
	background: url(./map_middleRight.png) repeat-y;
}
.map_bottomLeft{
	background: url(./map_bottomLeft.png) no-repeat;
}
.map_bottomMiddle{
	background: url(./map_bottomMiddle.png) repeat-x;
}
.map_bottomRight{
	background: url(./map_bottomRight.png) no-repeat;
}
.map_bottomTriangle{
	bottom: 0px;
	position: relative;
	height: 18px;
	width:42px;
	margin: 0px auto;
	background: url(./map_bottomTriangle.png) no-repeat;
	margin-top: 18px;
}
.drawPanel {
	top: 46px;
	right: 300px;
	position: absolute;
	background: url(./drawPanel.png);
	width: 183px;
	height: 100px;
	z-index: 105;
	display: none
}

.choosePanel {
	top: 46px;
	right: 100px;
	position: absolute;
	background: url(./choosePanel.png);
	width: 144px;
	height: 100px;
	z-index: 105;
	display: none
}

.slideHideIcon {
	height: 24px;
	width: 100%;
	background: url(./hideArea.png) no-repeat 0px 0px;
}

.slideHideIcon:hover {
	height: 24px;
	width: 100%;
	background: url(./hideArea.png) no-repeat 0px -35px;
}

.showHideIcon {
	cursor: pointer;
	margin-top: 1px;
	background: #005db2 url(./showArea.png) no-repeat 14px 13px;
	border-top: #005db2 1px solid;
	width: 49px;
	display: block;
	height: 47px;
}

.showHideIcon:hover {
	background: #005db2 url(./showArea.png) no-repeat 14px -20px;
}
.m0Icon{
	width:32px;
	height:40px;
	border:#0f solid 1px;
	color:white;
	background:url(./m0.png) center;
	text-align:center;
	line-height:33px;
	cursor:pointer;
	left:-16px;
    top:-40px;
}
.m1Icon{
	width:34px;
	height:44px;
	border:#0f solid 1px;
	color:white;
	background:url(./m1.png) center;
	text-align:center;
	line-height:33px;
	cursor:pointer;
	left:-17px;
    top:-44px;
}
.m2Icon{
	width:40px;
	height:50px;
	border:#0f solid 1px;
	color:white;
	background:url(./m2.png) center;
	text-align:center;
	line-height:39px;
	cursor:pointer;
	left:-20px;
    top:-50px;
}
.m3Icon{
	width:47px;
	height:59px;
	border:#0f solid 1px;
	color:white;
	background:url(./m3.png) center;
	text-align:center;
	line-height:33px;
	cursor:pointer
	left:-23.5px;
	top:-59px;
}
.m4Icon{
	width:60px;
	height:60px;
	border:#0f solid 1px;
	color:white;
	background:url(./m4.png) center;
	text-align:center;
	line-height:60px;
	cursor:pointer
}
/**公用CSS 结束**/

/*左右内容区域*/
.mapLeftContent,.mapRightContent {
	background: #f5f5f5;
	width: 370px;
	z-index: 102;
	font-size: 12px;
}

.mapLeftContent {
	position: absolute;
	top: 0px;
	overflow: hidden;
}

.mapRightContent {
	right: -370px;
	bottom: 28px;
}

.tableNoneBorder .theadBg {
	background: url(./theadbg.png);
	height: 30px;
	width: 328px;
}

.tableNoneBorder {
	border-collapse: collapse;
	border: none;
	width: 100%;
	text-align: center;
	font-size: 12px;
}

.tableNoneBorder tr {
	background: white;
	height: 30px;
}

.tableNoneBorder tr:hover {
	background: #FFF4D9;
}

.tableNodeBorder tr.trSelect {
	border: 1px solid #F2E8CE;
	background: #FFF4D9;
	height: 30px;
}

.tableNoneBorder .evenRow {
	background: #f0f5f8;
}

p.pageShow {
	font-size: 12px;
	display: inline-block;
	height: 22px;
	vertical-align: middle;
}

p.totalPage {
	font-size: 12px;
	display: inline-block;
	height: 22px;
	vertical-align: middle;
	margin-right: 10px;
}
/**左右内容区域公用END**/
/*左内容区域内部CSS START*/
.mapLeftContent .topContent {
	margin-top: 1px;
	padding-top: 10px;
	text-align: center;
	height: 43px;
	background: #E5E9ED;
	display: none;
	border-top: none;
}

.mapLeftContent .magnifierIcon {
	background: url(./magnifierIcon.png) no-repeat;
	display: inline-block;
	width: 23px;
	height: 13px;
	border-right: 1px solid #c4c4c4;
	cursor: pointer;
}

.mapLeftContent .departmentContainer dt {
	float: left;
	margin-right: 10px;
}

.mapLeftContent .departmentContainer dd {
	width:255px;
	margin: 0px;
	float: left;
	margin-left: 10px;
}

.mapLeftContent .departmentContainer dd div {
	text-align: center;
	overflow: hidden;
	width: 83px;
	margin-bottom: 8px;
	display: inline-block;
}

.mapLeftContent .departmentContainer dd div:hover {
	background: #005db2;
	color: white;
	border-radius: 2px;
}

.mapLeftContent .departmentContainer .departmentSelect {
	background: #ff6500;
	color: white;
	border-radius: 2px;
}

.mapLeftContent .listContent {
	overflow: auto;
	overflow-x: hidden;
	position:relative;
}

.mapLeftContent .footerContent {
	text-align: right;
}

.mapLeftContent .topContent .buttonArea {
	height: 33px;
	width: 218px;
	margin: 0px auto;
	font-size: 12px;
	cursor: pointer;
}

.mapLeftContent .topContent .dateWrap {
	margin: 0px auto;
	font-size: 12px;
}

.mapLeftContent .chooseCategory {
	cursor: pointer;
	background: url(./warning.png);
	width: 10px;
	display: inline-block;
	height: 10px;
	float: right;
}

.mapLeftContent .CategroyUl {
	font-size: 12px;
	left: 115px;
	background: white;
	position: absolute;
	margin: 0px;
	padding: 0px;
	list-style: none;
	top: 29px;
	display: none;
	z-index: 102;
}

.mapLeftContent .searchContent {
	padding: 4px;
	margin-top: 0px;
	background: #f5f5f5;
	z-index: 102;
	width: 340px;
}

.mapLeftContent .searchContent .terminalType .buttonIcon {
	cursor: pointer;
	text-align: center;
	float: left;
	background: url(./categoryButton.png);
	width: 58px;
	height: 30px;
	display: inline-block;
}

.mapLeftContent .searchContent .terminalType .buttonIcon0 {
	background-position: 0px 0px;
}

.mapLeftContent .searchContent .terminalType .buttonIcon0-select {
	background-position: 0px -47px;
}

.mapLeftContent .searchContent .terminalType .buttonIcon1 {
	background-position: -58px 0px;
}

.mapLeftContent .searchContent .terminalType .buttonIcon1-select {
	background-position: -58px -47px;
}

.mapLeftContent .searchContent .terminalType .buttonIcon2 {
	background-position: -116px 0px;
}

.mapLeftContent .searchContent .terminalType .buttonIcon2-select {
	background-position: -116px -47px;
}

.mapLeftContent .searchContent .terminalType .buttonIcon3 {
	background-position: -173px 0px;
}

.mapLeftContent .searchContent .terminalType .buttonIcon3-select {
	background-position: -173px -47px;
}

.terminalList {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.terminalList li {
	font-size: 14px;
	color: #000000;
	padding: 5px;
}
.terminalList li.selected{
	filter: alpha(opactiy : 100, finishopactiy : 50, style : 1, startx : 0, starty :
		0, finishx : 0, finishy =   50) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#f1f8fd,
		endcolorstr=#e5effc, gradientType=0 );
	-ms-filter: alpha(opacity = 100, finishopacity = 50, style = 1, startx = 0, starty =
		  0, finishx =   0, finishy = 150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#f1f8fd,
		endcolorstr=#e5effc, gradientType=0 ); /*IE8*/
	background: -moz-linear-gradient(top, #f1f8fd, #e5effc);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f1f8fd),
		to(#e5effc) );
	background: -o-linear-gradient(top, #f1f8fd, #e5effc);
	border:1px solid #bed2e3;
}
.terminalList li.selected .online , .terminalList li.selected .unline{
	background:url(./chekcIcon.png) no-repeat center;
	width:24px;
	height:33px;
}
.terminalList li p {
	padding: 0px;
	margin: 5px;
}

.terminalList li:hover {
	background: #f0f0f0;
	color: #000000;
}

.terminalList li>p {
	margin-left: -1000px
}

.terminalList li:hover>p {
	text-align: right;
	margin-left: 0px;
}

.categorySelect {
	color: white;
	background: #3d6dcc;
}
/*左内容区域css end*/
/**右内容区域CSS STRAT**/
.mapRightContent .rightcontent {
	margin: 10px;
	font-size: 12px;
}

.mapRightContent .rightcontent div {
	color: #50555e;
}

.mapRightContent .title {
	height: 30px;
	padding: 0px 25px;
	line-height: 30px;
	font-size: 12px;
	background:#366cbe;
	background: -moz-linear-gradient(top, #366cbe, #265bac);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#366cbe),
		to(#265bac) );
	background: -o-linear-gradient(top, #366cbe, #265bac);
	color: #fcfcfc;
}

.mapRightContent .footer {
	font-size: 12px;
	margin: 10px;
}

.terminalOperation span.favorImg {
	background: url(./favorImg.png) no-repeat 0px -35px;
	width: 20px;
	height: 16px;
	display: inline-block;
	margin: 0px 10px;
}

.terminalOperation span.favorImg:hover {
	background-position: 0px 0px;
}

.terminalOperation span.positionImg {
	background: url(./positionImg.png) no-repeat 0px -34px;
	width: 20px;
	height: 16px;
	display: inline-block;
	margin: 0px 10px;
}

.terminalOperation span.positionImg:hover {
	background-position: 0px 0px;
}

.terminalOperation span.traceImg {
	background: url(./traceImg.png) no-repeat 0px -34px;
	width: 20px;
	height: 17px;
	display: inline-block;
	margin: 0px 10px;
}

.terminalOperation span.traceImg:hover {
	background-position: 0px 0px;
}

.terminalOperation span.settingImg {
	background: url(./settingImg.png) no-repeat 0px -35px;
	width: 20px;
	height: 16px;
	display: inline-block;
	margin: 0px 10px;
}

.terminalOperation span.settingImg:hover {
	background-position: 0px 0px;
}

.terminalOperation span.messageImg {
	background: url(./messageImg.png) no-repeat 0px -34px;
	width: 20px;
	height: 16px;
	display: inline-block;
	margin: 0px 10px;
}

.terminalOperation span.messageImg:hover {
	background-position: 0px 0px;
}
/**右内容区域CSS END**/
/**操作区域CSS*/
.operationArea {
	margin-top: 5px;
	position: relative;
	height: 50px;
	background: url(./operationBg.png);
}

.operationArea .cityArea {
	text-align: center;
	padding: 0px 10px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#eeeeee) );
	z-index: 102;
	position: absolute;
	border: 1px solid #d0d0d0;
	border-radius: 4px;
	display: none;
}

.functionChose img {
	margin-top: -2px;
	padding-left: 5px;
	vertical-align: middle
}

.functionChose {
	margin-top: 5px;
	border-top: 1px solid #00529d;
	border-right: 1px solid #00529d;
	border-left: 1px solid #1773c7;
	font-size: 14px;
	color: white;
	background: #005db2;
	float: left;
	padding: 16px 6px;
	cursor: pointer;
}

.functionChose .allCategoryImg {
	float: left;
	background: url(./allCategoryImg.png) no-repeat 0px;
	display: inline-block;
	height: 16px;
	width: 29px;
}

.functionChose .favoriteImg {
	float: left;
	background: url(./favoriteImg.png) no-repeat 0px;
	display: inline-block;
	height: 16px;
	width: 29px;
}

.functionChose .terminalMenu {
	float: left;
	background: url(./terminalMenu.png) no-repeat 0px;
	display: inline-block;
	height: 16px;
	width: 29px;
}

.functionChose-sel {
	border-right: 1px solid #00529d;
	border-left: 1px solid #ebeef3;
	font-size: 14px;
	color: #4d4d4d;
	float: left;
	padding: 16px 12px;
	cursor: pointer;
	background:rgb(242,242,242);
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff),
		to(#ebeef3) );
	width:84%;
}

.functionChose-sel .allCategoryImg {
	background-position: -32px;
}

.functionChose-sel .favoriteImg {
	background-position: -35px;
}

.functionChose-sel .terminalMenu {
	background-position: -40px;
}

.operationArea div.selectType {
	color: white;
	background: #577FBB;
}

.operationArea div.mapTools {
	position: absolute;
	margin-top: 11px;
	right: 48px;
	height: 34px;
	background: url(./toolsChoose.png) no-repeat;
	width: 64px;
	font-size: 12px;
	cursor: pointer;
	display:none;
}

.operationArea div.viewSearch {
	position: absolute;
	margin-top: 11px;
	right: 113px;
	height: 34px;
	background: url(./viewOperation.png) no-repeat;
	width: 104px;
	vertical-align: middle;
	font-size: 12px;
	cursor: pointer;
	display:none;
}

.operationArea div.viewSearch>span {
	margin-left: 32px;
	display: inline-block;
	height: 34px;
	line-height: 34px;
}

.operationArea div.viewSearch .menCarBoat {
	display: none;
	position: absolute;
	background: url(./menCarBoatContain.png);
	width: 129px;
	height: 63px;
	z-index: 102;
	top: 28px;
	right: 10px;
}

.operationArea div.mapTools ul {
	box-shadow: 0 0 7px #C6CAD5;
	font-size: 12px;
	background: white;
	z-index: 305;
	position: absolute;
	width: 58px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	top: 32px;
	border: 1px solid #BBB;
	display: none;
}

.operationArea div.mapTools ul img {
	padding: 0px;
}

.operationArea div.mapTools ul li {
	text-align: center;
	line-height: 20px;
	border-bottom: 1px solid #C6CAD5;
	height: 20px;
	padding: 5px 0px;
	cursor: pointer;
}

.operationArea div.mapTools .rectangleImg {
	width: 15px;
	display: inline-block;
	background: url(./rectangleImg.png) no-repeat 0px;
	height: 11px;
}

.operationArea div.mapTools .polylineImg {
	width: 15px;
	display: inline-block;
	background: url(./polylineImg.png) no-repeat 0px;
	height: 11px;
}

.operationArea div.mapTools .rulerImg {
	width: 15px;
	display: inline-block;
	background: url(./rulerImg.png) no-repeat 0px;
	height: 11px;
}

.operationArea div.mapTools ul li:hover {
	background: #ff4800;
	color: white;
}

.operationArea div.mapMaxZoom {
	position: absolute;
	background: url(./mapZoom.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-top: 19px;
	right: 20px;
	cursor: pointer;
}

.mapPositionNumber {
	font-size: 15px;
	line-height: 30px;
	z-index: 103;
	background:rgb(224,224,236);
	background: rgba(224, 224, 236, 0.68);
	width: 100%;
	height: 30px;
	text-align: center;
	color: black;
	display:none;
}
/*操作区域CSS结束*/
/**百度城市列表CSS**/
.cityList {
	height: 320px;
	width: 372px;
	overflow-y: auto;
}

.sel_container {
	position: absolute;
	top: 0;
	font-size: 12px;
}

.map_popup {
	position: absolute;
	z-index: 105;
	width: 382px;
	height: 344px;
	top: 42px;
	left:380px;
}

.map_popup .popup_main {
	background: #fff;
	border: 1px solid #8BA4D8;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.map_popup .title {
	background: url("http://map.baidu.com/img/popup_title.gif") repeat
		scroll 0 0 transparent;
	color: #6688CC;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	line-height: 25px;
	padding-left: 7px;
}

.map_popup button {
	background: url("http://map.baidu.com/img/popup_close.gif") no-repeat
		scroll 0 0 transparent;
	border: 0 none;
	cursor: pointer;
	height: 12px;
	position: absolute;
	right: 4px;
	top: 6px;
	width: 12px;
}

.UrgentNOk{
	background: url("icon-01.png") no-repeat scroll 0 0 transparent;
	width:20px;
	height:20px;
	 float:left;
	 margin-top:5px;
}
.unUrgentNOk{
	background: url("icon-02.png") no-repeat scroll 0 0 transparent;
	width:20px;
	height:20px;
	float:left;
	margin-top:5px;
}
.UrgentOk{
	background: url("icon-03.png") no-repeat scroll 0 0 transparent;
	width:20px;
	height:20px;
	float:left;
	margin-top:5px;
}
.unUrgentOk{
	background: url("icon-04.png") no-repeat scroll 0 0 transparent;
	width:20px;
	height:20px;
	float:left;
	margin-top:5px;
}
/**地图Marker CSS Start**/
.clusterMaker{
	background:url('./clusterMaker.png');
	width:11px;
	height:16px;
	position:relative;
	left:-6px;
	top:-17px;
}
.clusterMaker:hover{
	background:url('./clusterMarkerHover.png');
	width:23px;
	height:31px;
	position:relative;
	left:-11px;
    top:-31px;
    cursor:pointer;
}
.defaultMarker{
	background:url('./defaultMarker.png');
	width:24px;
	height:31px;
	position:relative;
	left:-11px;
    top:-31px;
    cursor:pointer;
}
.defaultMarker:hover{
	background:url('./defaultMarkerHover.png');
	width:22px;
	height:31px;
	position:relative;
	left:-9.5px;
    top:-31px;
    cursor:pointer;
}
.BigMarker{
	background:url('./defaultMarker.png');
	width:22px;
	height:31px;
	position:relative;
	left:-11px;
    top:-31px;
}
.BigMarker:hover{
	background:url('./defaultMarkerHover.png');
	width:22px;
	height:31px;
	cursor:pointer;
	position:relative;
	left:-11px;
    top:-31px;
}
.markerCar{
	background:url('./markerCar.png');
	width:23px;
	height:31px;
	position:relative;
	left:-11px;
    top:-31px;
}
.markerCar:hover{
	background:url('./markerCarHover.png');
	width:23px;
	height:31px;
	cursor:pointer;
	position:relative;
	left:-11px;
    top:-31px;
}
.markerMen{
	background:url('./markerMen.png');
	width:22px;
	height:31px;
	position:relative;
	left:-11px;
    top:-31px;
}
.markerMen:hover{
	background:url('./markerMenHover.png');
	width:23px;
	height:31px;
	cursor:pointer;
	position:relative;
	left:-12.5px;
    top:-31px;
}
.markerBoat{
	background:url('./markerBoat.png');
	width:22px;
	height:31px;
	position:relative;
	left:-11px;
    top:-31px;
}
.markerBoat:hover{
	background:url('./markerBoatHover.png');
	width:22px;
	height:31px;
	cursor:pointer;
	position:relative;
	left:-11px;
    top:-31px;
}
.menWarning{
	background:url('./menWarningIcon.png');
	width:58px;
	height:48px;
	cursor:pointer;
	position:relative;
	left:-29px;
    top:-48px;
}
.carWarning{
	background:url('./carWarningIcon.png');
	width:58px;
	height:48px;
	cursor:pointer;
	position:relative;
	left:-29px;
    top:-48px;
}
.boatWarning{
	background:url('./boatWarningIcon.png');
	width:58px;
	height:48px;
	cursor:pointer;
	position:relative;
	left:-29px;
    top:-48px;
}
.traceCar{
	background:url('./car_03.png');
	width:57px;
	height:32px;
	position:relative;
	left:-28.5px;
	top:-32px;
}
.favoriteOperation{
    display: inline-block;
    background: url(./favoriteIcon.png) center 7px no-repeat;
    width: 100%;
    height: 32px;
}
.favoriteOperation:hover{
    background-position: center -24px;
}
.positionOperation{
    background:url(./positionIcon.png) center 7px no-repeat;
    display: inline-block;
    width:100%;
    height:32px;
}
.positionOperation:hover{
    background-position: center -24px;
}
.traceOperation{
    background:url(./traceOperationIcon.png) center 7px no-repeat;
    display: inline-block;
    width:100%;
    height:32px;
}
.traceOperation:hover{
    background-position: center  -24px;
}
.messageOperation{
    background:url(./messageSendIcon.png) center 7px no-repeat;
    display: inline-block;
    width:100%;
    height:32px;
}
.messageOperation:hover{
    background-position: center -24px;
}
/**地图Marker CSS End**/