body{
	font-family:'华文细黑','HelveticaNeue-Light';
	font-weight:normal;
	font-style:normal;
	line-height:normal;
	font-size:62.5%;
	color:#3f4968; 
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
body,html{
	min-height:100%;
	background-color: #eef0f7;
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}
img{
	border:none;
}
*{
	margin:0;
	padding:0;
}
.clearfix {
   *zoom: 1;
}
.clearfix:before,
.clearfix:after {
   display: table;
   line-height: 0;
   content: "";
}
.clearfix:after {
  clear: both;
}
/*input,textarea{
	outline:none;
	-webkit-appearance:button;
}
input:focus,textarea:focus{
	outline:none; 
    -webkit-tap-highlight-color:red;
    -webkit-user-modify:read-write-plaintext-only;
}*/
a,button,input,textarea,div,span,p,h1,ul,li{
	outline:none;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}
input:focus,textarea:focus{
	outline:none;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}  
.overlay-containter{
	position: relative;
}
.overlay-wrap{
	background-color: #3f4968; 
	opacity: 0.4; 
    position: absolute;
    bottom: 0;
    top:0;
    width: 100%;
    z-index: 100;
    display: none;   
}
.org{
	color:#ff8463;
} 
header{
	font-size: 1.8em;
	color: #3f4968;
	width: 100%;
	height: 2.39em;
	line-height: 2.39em;
	text-align: center;
	border-bottom:1px solid #e4e6f1;   
	margin-bottom:1.22em; 
}
.headbg{
	background-color:#f7f8fc;
} 
.mask-layer{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5;
	z-index: 11;
}
.alertLog{
	position: absolute;
	overflow: auto;
	top: 20%;
	height:80%;
	width: 100%;
	z-index: 13;
	background: #FFFFFF;
}
div.alert-top{
	position: relative;
	padding-top: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #D1D7E6;
	text-align: right;
	z-index: 15;
}
#alertClose{
	display: inline-block;
	width: 3rem;
	height: 3rem;
	line-height: 2rem;
	text-align: center;
	background: url(ycbmall/images/close.png) no-repeat center center;
	background-size: 3rem auto;
	font-size: 3rem;
	font-weight: bold;
	margin-left: 3rem;
}
.alert-footer{
	position: absolute;
	bottom: 0;
	background:#FF8463;
	height: 5rem;
	line-height: 5rem;
	color: #FFFFFF;
	font-size: 1.6rem;
	text-align: center;
	width: 100%;
	z-index: 15;
}
.alertBtn{
	display: block;
	width: 100%;
}
.alert-container{
	overflow: auto;
	z-index: 14;
	height: 300px;
	padding: 0px 3rem;
	margin-bottom: 5rem;
}
span.tasat{
	font-size: 16px!important;}/*弹框字体大小*/

.null-tip{
	font-size:1.8em;
	color:#cfd1db;
	text-align:center;
	margin-top:2.78em;
}
.null-tip:before{
	border-bottom: 1px solid #cfd1db;
    content: "";
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
    width: 2.4em;
}
.null-tip:after{
    border-bottom: 1px solid #cfd1db;
    content: "";
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
    width: 2.4em;
}
.dialog{
	position: fixed;
	top:20%;
	left: 6.25%;
	width: 87.5%;
	background-color: #fff;
	border:1px solid #ceba7d;
	color: #3f4968;
	z-index: 1000;
}
.dialog h1{
	font-weight: normal;
	font-size: 1.8em;
	padding: 0 0.67em; 
	height: 2.22em;
	line-height: 2.22em;
	border-bottom: 2px solid #e7eaf1;
}
.dialog-content{ 
	display: table;
	width: 100%; 
	border-bottom: 2px solid #f3f3f5;
}
.dialog p{
	font-size: 1.4em;
	padding: 0.86em; 
	vertical-align: middle; 
	display: table-cell;
}
.dialog p.ui-note{
	display: block;
	color: red;
	font-size: 1.2em;
	padding: 0;
	margin-left: 1em;
	margin-bottom: 1em;
}
.dialog input{
	margin: 0.86em 1em;
	padding: 0.4em;
	font-size: 1.4em;
}
.dialog .btn-wraper{
	font-size: 1.6em;
	display: table;
	width: 100%;
	text-align: center;
}
.dialog .btn-wraper span{
	display: table-cell; 
	height: 2.25em;
	vertical-align: middle;
}
.dialog .btn-wraper span:first-child{
	border-right: 2px solid #f3f3f5;
}
.dialog-overlay{
	background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 900; 
}
.G-dialog{
	background-color: rgba(0,0,0,0);
}
.loadingBar{
	margin-top: 2.78em; 
	width: 100%;
	text-align: center;
} 
.loadingBar img{
	margin: 0 auto;
}
.codes-wrap{
	background-color: #fff;
	padding: 2.2em 0 0;
	margin-bottom: 1em;
	border-bottom: 2px solid #e4e6f1;
}
.help{
	background-image: url("images/help.png");
    background-size: 16px auto; 
    background-repeat: no-repeat;
    background-position: center; 
    height: 43px; 
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    z-index: 10;
}
.help-wrap{
	background-color: #fff;
	margin-bottom: 1em;
	color: #3f4968;
	padding: 1.1em 2.3em 0;

}
.help-wrap h1:before{
	content:"";
	width: 7px;
	height: 7px; 
    border-radius:50%;
    display: inline-block;
    background-color: #ff8463;
    margin: 0 6px;  
}
.help-wrap h1{
	border-bottom: 1px solid #ff8463; 
	font-size: 1.6em;
	font-weight: normal;  
	height: 34px;
	line-height: 34px;
	margin-bottom: 8px;
}
.help-wrap p{
	font-size: 1.4em;
	line-height: 150%;
	padding:0 0 15px;
} 
.orange{
	color:#fb451f;
}
.tasat-wrap{
    position: fixed;
    text-align: center;
    bottom: 50%;
    width: 100%; 
}
.G{
	z-index: 1001;
}
.tasat{
    background-color: #000;
    border-radius: 8px;
    color: #fff;
    font-size: 1.6em; /*土司框字体大小不同页面不一样，需优化（vipGoods.html同依他页面的不同）*/
    opacity: 0.8;
    padding: 0.5em; 
    display: inline-block;
    margin: 0 20px;
}
.voice-code.unable{
	color:#ccc;
}
.bank-dialog{
	background-color: #fff; 
    color: #3f4968;
    left: 6.25%;
    position: absolute;
    top: 20%;
    width: 87.5%;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
    display: none;
}
.bank-dialog h1{
	font-size: 1.5em;
	padding: 15px;
	background-color: #f7f8fc;
	line-height: 150%;
	border-bottom:1px solid #cccfe4;
} 
.bank-dialog .content{
	color: #3f4968;
	padding:21px;
	font-size: 1.2em;  
}
.bank-dialog .content p{
	display: table;
	margin-top: 5px;
}
.bank-dialog .content .info{
	font-size: 1.25em;
}
.bank-dialog .content span{
	display: table-cell;
}
.bank-dialog .content .left{
	width: 60px;
	text-align: right;
	padding-right: 10px;
} 
.bank-dialog .button-wrap{
	background-color: #f7f8fc;
	height: 44px;
	line-height: 44px;
	font-size: 1.8em;
	border-top:1px solid #cccfe4;
	border-radius: 0 0 10px 10px;
}
.bank-dialog .button-wrap span{
	display: inline-block;
	width: 49%;
	text-align: center;
	float: left;
}
.bank-dialog .button-wrap .cancel{
	border-right: 1px solid #cccfe4;
	width: 49%;
	text-align: center;
}
.customer-service-wrap{
    font-size:1.4em;
	background-color:#fff;
	background-image: url("images/tip.png");
	background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    padding: 5px 0 3px 36px; 
    margin-bottom: 10px;
}
.customer-service-wrap a{
	color: #ff8463;
}
/*空白页面通用样式-showEmpty('message')*/
div.contents{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -25%;
	margin-top: -40%;
	width: 54%;
	/*-webkit-transform:translate(-25%,-50%);
	-moz-transform:translate(-25%,-50%);
	-o-transform:translate(-25%,-50%);
	-ms-transform:translate(-25%,-50%);
	transform:translate(-25%,-50%);*/
}
div.contents div.error-img{
	width: 50%;
	margin-left: 25%;
}
div.contents div.error-img img{
	display: block;
	width: 100%;
}
div.contents div.error-info{
	text-align: center;
	padding-top: 2.5rem;
	color: #A3AECD;
	font-size: 14px;
	text-align: center;
	margin-top: 0;
}
