/* style reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
    {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    font-family: "12px/1.5 tahoma", arial, "??";
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,ul {
    list-style: none;
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
}

div {
    text-align: left;
}

/* end of style reset */
.content {
    width: 800px;
    height: auto;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #e3e3e3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-box-shadow: 1px 1px 3px #919191;
    -webkit-box-shadow: 1px 1px 3px #919191;
    filter: progid : DXImageTransform.Microsoft.Shadow ( color = '#919191',
        Direction = 135, Strength = 3 );
}

.content_top {
    height: 50px;
    background: #e8e8e8; /* 一些不支持背景渐变的浏览器 */
    background: -moz-linear-gradient(top, #e8e8e8, #ffffff);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e8e8e8),
        to(#ffffff) );
    filter: alpha(opacity = 100 finishopacity = 50 style = 1 startx = 0, starty = 0,
        finishx = 0, finishy = 150) progid :
        DXImageTransform.Microsoft.gradient ( startcolorstr = #e8e8e8,
        endcolorstr = #ffffff, gradientType = 0 );
}

.content_search {
    border-top-style: solid;
    border-width: 1px;
    border-color: #E3E3E3;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-box-shadow: 1px -2px 3px #919191;
    -webkit-box-shadow: 0px -2px 3px #919191;
    position: relative;
    filter: progid : DXImageTransform.Microsoft.Shadow ( color = '#919191',
        Direction = 135, Strength = 3 );
}

.content_operation {
    margin-top: 20px;
    background: dimGray;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.content_operation div {
    height: 25px;
    width: 140px;
    float: left;
    background: #F9F9F9;
    background: -moz-linear-gradient(top, #F9F9F9, lightGrey);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F9F9F9),
        to(lightGrey) );
    filter: alpha(opacity = 100 finishopacity = 50 style = 1 startx = 0, starty = 0,
        finishx = 0, finishy = 150) progid :
        DXImageTransform.Microsoft.gradient ( startcolorstr = #F9F9F9,
        endcolorstr = #d3d3d3, gradientType = 0 );
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-align: center;
    line-height: 24px;
    margin-top: 3px;
    cursor: pointer;
}

.content_main {
    width: 780px;
    height: auto;
    min-height: 400px; 
    margin-left: 10px;
    margin-right: 10px; 
}

.content_button {
    clear: both;
    height: 30px;
    background: #F7F7F7;
    margin-top: 45px;
    position: relative;
    text-align: center;
}

.divselectclass {
    background-image: url("../images/UI.png");
    background-position: -147px -129px;
    background-repeat: no-repeat;
    float: left;
    height: 30px;
    position: relative;
    width: 126px;
    line-height: 30px;
    font-size: 14px; 
	overflow:hidden;
}

.divselectcheck {
    background-image: url("../images/UI.png");
    background-position: -269px -129px;
    background-repeat: no-repeat;
    float: left;
    height: 30px;
    position: relative;
    width: 30px;
}

.pdefaultClass {
    height: 25px;
    line-height: 2;
    font-size: 14px;
    padding-left: 4px;
    cursor: pointer;
    background-color: white;
}

.contentDivClass {
    border: 1px solid #B0B5B9;
    height: 200px;
    left: 40px;
    position: absolute;
    border-image: initial;
    -moz-box-shadow: 1px -2px 3px #B0B5B9;
    -webkit-box-shadow: 1px 1px 3px #B0B5B9;
    filter: progid : DXImageTransform.Microsoft.Shadow ( color = '#B0B5B9',
        Direction = 135, Strength = 3 );
    overflow-y: auto;
}

.opDialog {
    padding: 10px;
    width: 500px;
    height: auto;
    background: #f7f7f7;
	border:1px solid #D2D7DC;
    overflow-y: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-box-shadow: 1px 1px 3px #919191;
    -webkit-box-shadow: 1px 1px 3px #919191;
    filter: progid : DXImageTransform.Microsoft.Shadow ( color = '#919191',
        Direction = 135, Strength = 3 );
}

.opTitle {
    height: 30px;
    line-height: 40px;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #B1B1B1;
    font-size: 16px;
    font-weight: 900;
}

.opLeft {
    background-color: #ffffff;
    height: 300px;
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}
.opRight{
    float:left;
    border-left-style: solid;
    border-width: 2px;
    border-color: #E3E3E3;
}
.opLeft p {
    padding-bottom: 10px;
}
.error-li{
  margin-left:20px;margin-top:10px;display:none;
}
.dialogUl li span{
    color: #4A4A4A;
    float: left;
    padding-right: 4px;
    padding-top: 5px;
    text-align: right;
    width: 60px; 
}
.dialogUl li select{
  color: #4A4A4A;
  float: left;
  text-align: left; 
}
.dialogUl li input{
  color: #4A4A4A;
  float: left;
  text-align: left; 
}