body{
	font-family:'华文细黑','HelveticaNeue-Light';
	font-weight:normal;
	font-style:normal;
	line-height:normal;
	font-size:62.5%;
	color:#1e1e1e;
}
body,html{
	height:100%;
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}
img{
	border:none;
}
*{
	margin:0;
	padding:0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.level{
	font-size:1.3em;
}
.level span{
	background:transparent url('images/star.png') no-repeat scroll 0 0;
	background-size:6.875em auto;
	display:inline-block;
	height:1em;
	width:6.875em;
}
.level .start-45{
	background-position:0 -1.437em;
}
.level .start-40{
	background-position:0 -2.813em;
}
.level .start-35{
	background-position:0 -4.25em;
}
.level .start-30{
	background-position:0 -5.688em;
}
.level .start-25{
	background-position:0 -7.063em;
}
.level .start-20{
	background-position:0 -8.5em;
}
.level .start-15{
	background-position:0 -9.875em;
}
.level .start-10{
	background-position:0 -11.313em;
}
.level .start-05{
	background-position:0 -12.688em;
}
.level .start-00{
	background-position:0 -14.125em;
}
.button-wrap{
	background-color:#fdfdfe;
	border-top:1px #fda28f solid;
	padding:1em;
	position:fixed;
	bottom:0;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.btn{
	background-color:#fb451f;
	color:#ffffff;
	font-size:1.6em;
	display:block;
	height:2.125em;
	line-height:2.125em;
	text-align:center;
	padding:0 0.625em;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.btn:hover{
	text-decoration:none;
}
.btn-blue{
	background-color:#6eaade;
}
.two-col > div{
	float:left;
	width:50%;
}
.two-col > .left-wrap .btn{
	margin-right:0.27em;
}
.two-col > .right-wrap .btn{
	margin-left:0.27em;
}
header{
	background-color:#ffffff;
	border-bottom:1px solid #fb451f;
	font-size:1.8em;
	text-align:center;
	height:2.33em;
	line-height:2.33em; 
	position: fixed; 
    top: 0;
    width: 100%;
    z-index: 90;
}
header+article{
	margin-top: 4.3em;
}
header .back{
	background:transparent url('images/back.png') no-repeat scroll 0 0;
	background-size:auto 1.056em;
	float:left;
	width:0.56em;
	height:1.056em;
	margin:0.66em 0 0 0.72em;
} 
header .drop{
	background:transparent url('images/drop.png') no-repeat scroll 0 0;
	background-size:0.94em auto;
	display:inline-block;
	vertical-align:middle;
	width:0.94em;
	height:0.5em;
	margin-left:0.28em;
}
.package-explain{
	background-color:#f4f7f8;
	min-height:100%;
}
.package-explain .price-wrap{
	background-color:#ffffff;
	padding:1.3em 1.6em 0.6em 2.5em;
	border-bottom:1px #dbdbe3 solid;
	margin-bottom:1.2em;
}
.package-explain .price-wrap p{
	font-size:1.5em;
	margin-bottom:0.67em;
}
.package-explain .price-wrap .original-price{
	color:#fb451f;
	font-size:1.8em;
	font-weight:bold;
	margin-bottom:0.33em;
}
.package-explain .price-wrap .discount-price{
	font-size:1.2em;
	color:#a0a0a0;
}
.discount-price > span:first-child{
	float:right;
}
.discount-price > span:nth-of-type(2){
	text-decoration:line-through;
	margin-right:1em;
}
.explain-wrap{
	background-color:#ffffff;
	border-bottom:1px #c5c5c9 solid;
	padding:1em 0;
	margin-bottom:1.4em;
}
.explain-wrap h2{
	border-bottom:1px #dadae3 solid;
	font-weight:normal;
	font-size:1.5em;
	padding:0 0.67em 0.53em;
}
.explain-wrap h2:before{
	content:'';
	border-left:2px #fb451f solid;
	display:inline-block;
	height:1em;
	vertical-align:middle;
	margin-right:0.27em;
	margin-top:-5px;
}
.explain-wrap .item{
	padding:0em 1em 0 2.6em;
	position:relative;
}
.explain-wrap .item:nth-of-type(1):before{
	top:.9em;
}
.explain-wrap .item:before{
	content:'';
	border-left:1px #dadae3 solid;
	position:absolute;
	left:.9em;
	top:0px;
	bottom:-1.2em;
}
.explain-wrap .item:last-child:before{
	display:none;
}
.explain-wrap h3{
	color:#6eaade;
	font-size:1.3em;
	line-height:1.538em;
	font-weight:normal;
}
.explain-wrap h3:before{
	content:'';
	border-top:1px #dadae3 solid;
	width:0.77em;
	position:absolute;
	left:0.73em;
	top:0.66em;
}
.explain-wrap h3:after{
	content:'';
	background-color:#dadae3;
	width:3px;
	height:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position:absolute;
	left:18px;
	top:7px;
}
.explain-wrap .item p{
	margin-bottom:0.3em;
	font-size:1.2em;
}
.package-list{
	padding-bottom:0;
}
.package-list ul{
	display:table;
	width:100%;
}
.package-list li{
	display:table-row;
}
.package-list li > div{
	border-bottom:1px #dadae3 solid;
	display:table-cell;
	vertical-align:middle;
}
.package-list li:last-child > div{
	border:none;
}
.package-list li > div:first-child{
	padding:1.5em 0 1.5em 2.5em;
}
.package-list li > div:last-child{
	padding:1.5em;
	text-align:right;
}
.package-list .intro{
	font-size:1.4em;
}
.package-list .discount-price{
	color:#fb451f;
	font-size:1.6em;
}
.package-list .original-price{
	color:#c2c2c6;
	font-size:1.2em;
	text-decoration:line-through;
}
.comment-wrap header{
	z-index:110;
}
.comment-wrap header ul{
	background-color:#ffffff;
	font-size:0.83em;
	position:absolute;
	width:100%;
	z-index:101;
	text-align:left;
	margin-top:1px;
	max-height:0px;
	overflow:hidden;
	-webkit-transition:max-height 0.7s ease-out;
	-moz-transition:max-height 0.7s ease-out;
	transition:max-height 0.7s ease-out;
}
.comment-wrap header ul li{
	border-bottom:1px #d9d9e2 solid;
	cursor:pointer;
	height:3.27em;
	line-height:3.27em;
	padding:0 1.93em;
}
.comment-wrap header ul li:hover{
	background-color:#f4f7f8;
}
.comment-wrap h2{
	border-bottom:1px #d9d9e2 solid;
	font-size:1.5em;
	font-weight:normal;
	height:3.33em;
	line-height:3.33em;
	padding-left:0.67em;
}
.comment-wrap h2 strong{
	color:#fb451f;
	font-weight:normal;
}
.comment-list h3{
	background:transparent url('images/user.png') no-repeat scroll 0.714em center;
	background-size:1em;
	border-bottom:1px #ebebf0 solid;
	color:#00a0e9;
	font-size:1.4em;
	font-weight:normal;
	padding-left:2.143em;
	height:2.286em;
	line-height:2.286em;
}
.comment-list > li{
	border-bottom:1px #c9cbcb solid;
}
.comment-content{
	padding:0.8em 1.5em 0.8em 4em;
}
.comment-content .time{
	color:#c2c2c6;
	font-size:1.2em;
	float:right;
}
.comment-none{
	font-size:1.2em;
	display:inline-block;
	color:#ffa600;
	margin-bottom:.167em;
}
.comment-text{
	font-size:1.4em;
	line-height:1.714em; 
}
.comment-list .series{
	border-top:1px #ebebf0 solid;
	font-size:1.2em;
	height:2.417em;
	line-height:2.417em;
	padding:0 1.25em 0 3.33em;
}
.series-pic{
	overflow:hidden;
	padding:0em 1.5em 0 2em;
}
.series-pic li{
	border:1px #c2c2c6 solid;
	float:left;
	width:7.8em;
	height:7.8em;
	margin:0 0 1em 2em;
}
.series-pic li img{
	display:block;
	width:100%;
	height:100%;
}
.series-pic .dafault-pic{
	border-color:#ebebf0;
} 
.overlay-wrap{
	background-color:rgba(0,0,0,0.6);
	width:100%;
	position:fixed;
	top:85px;
	bottom:0;
	z-index:100;
	display:none;
}
#dropList.open{
	max-height:20em;
}
.explain-wrap h2+p{ 
    font-size: 1.5em;
    font-weight: normal;
    padding:0.53em 0.67em 0; 
}
.explain-wrap h2 strong {
    color: #fb451f;
    font-weight: normal;
}
.explain-wrap h2 .arrow {
    background-image: url("images/arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 1.47em;
    display: block;
    float: right;
    height: 1.47em;
    width: 1.2em;
}
.link {
    background-color: #fff;
    border-bottom: 1px solid #d9d9e2;
    color: #1e1e1e;
    font-size: 1.5em;
    font-weight: 400;
    height:2.8em;
    line-height: 2.8em;
    margin-top: 1em;
    padding: 0 0.67em;
}
.link strong {
    color: #fb451f;
    font-weight: normal;
}
.link .arrow {
    background-image: url("images/arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 1.47em;
    display: block;
    float: right;
    height: 2.8em;
    width: 1.2em;
}
.share-service-star {
    border-bottom: 1px solid #e8e8ee;
    border-top: 1px solid #e8e8ee;
    padding: 0.2em 1em 1.1em;
    background-color: #fff;
}
.share-service-star .level, .share-service-star .score {
    display: inline-block;
}
.share-service-star .score {
    margin-right: 1.66em;
}
.share-service-star > div {
    font-size: 1.2em;
    margin-top: 1.08em;
}
.share-service-star .level {
    font-size: 1.2em;
}
.share-service-star .level span {
    margin: 0 0.83em 0 0.42em;
}
.check-wrap{
	position: absolute;
	width: 100%; 
	top: 15em;
	z-index: -10;
	-webkit-transition:top 0.3s ease-out;
	-moz-transition:top 0.3s ease-out;
	transition:top 0.3s ease-out; 
}
.check-wrap.open{ 
	top:4.2em; 
	z-index: 100;
}
.check-wrap .check-wrap-header{
	background-color:#ffffff; 
	font-size:1.8em;
	text-align:center;
	height:2.33em;
	line-height:2.33em;  
	border-bottom: 1px solid #d9d9e2;
}
.check-wrap-header .close{
	background:transparent url('images/close.png') no-repeat scroll 0 0;
	background-size:auto 1.056em;
	float:right;
	width:1.1em;
	height:1.056em;
	margin:0.66em 1.28em 0 0.72em;
}  
.check-wrap li > div:first-child {
    padding: 1.5em 0 1.5em;
}
.check-list{
	padding: 0;
}
.check-list li div:first-child > div {
	background-image: url("images/check-gray.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 2em;  
    padding-left: 4em;
    margin-left:1em;
}
.check-list .check div:first-child > div {
	background-image: url("images/check.png"); 
}

.package-list .posi {
    font-size: 1.2em;
}
.package-list .amount {
    font-size: 1.2em;
    color: #6eaade;
}
.header-overlay-wrap{
	background-color:rgba(0,0,0,0.6);
	width:100%;
	position:absolute;
	top:0; 
	height: 4.3em;
	z-index:100; 
	display: none;
}
#introduce{
	font-size: 1.4em;
	line-height: 157%;
	padding:1.07em 1.43em; 
	text-align: justify;
}
.check-list .label{
	font-size: 1.5em;
	height: 2.27em;
	line-height: 2.27em;
	background-color:#f4f7f8;
	padding-left: 0.66em;
	border-bottom:1px solid #d9d9e2; 
}
.baiduCount img {
    display: none;
}  
.call-wrap{
	opcity:0.8;
	background:none;
	z-index:110;
}
.call-wrap p{  
	background-color:#fff;
	display: block;
	font-size: 1.8em;
	height: 2.33em;
	line-height: 2.33em; 
	text-align: center; 
	color: #1e1e1e;
	margin-bottom: 1px;
}
.call-wrap .btn { 
    font-size: 1.8em;
    height: 2.78em;
    line-height: 2.78em; 
}
.btn-pink{
	background-color:#f1606d;
	margin-top:0.625em;
} 
.overlay-wrap-phone{
	width: 100%;
	z-index: 100; 
	top: 0px;
	bottom: 0px; 
	background-color: rgba(0, 0, 0, 0.8); 
	position: fixed;
}