body{
	background-color:#ebebf0;
	color:#1e1e1e;
	font-family:'冬青黑体','黑体','HelveticaNeue-Light';
	font-size:62.5%; 
}
a{
	color:#00a0e9;
	text-decoration: none;
}
a:focus{
	outline:none;
}
ul{
	list-style:none;
}
img{
	border:none;
}
*{
	margin:0;
	padding:0;
	text-shadow:none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.icon{
	background:transparent url('icon.png') no-repeat scroll 0 0;
	background-size:auto 1.687em;
	display:inline-block;
	width:1.687em;
	height:1.687em;
	margin-left:0.313em;
	vertical-align:middle; 
}
.icon-sdrz{
	background-position:-1.687em 0;
}
.button-module{
	padding:2.08em;
}
.module-wrap{
	border-top:1px #c2c2c6 solid;
	background-color:#ffffff;	
	margin-top:0.93em;
}
.button-wrap{
	margin-top:1.25em;	
}
.module-wrap:first-child,
.button-wrap:first-child{
	margin-top:0;
}
.btn{
	background-color:#fb451f;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#ffffff;
	font-size:1.8em;
	display:block;
	height:2.4em;
	line-height:2.4em;
	text-align:center;
	padding:0 0.5em;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.btn:hover{
	background-color:#e31507;
	text-decoration:none;
}
.btn-blue{
	background-color:#00a0e9;
}
.btn-blue:hover{
	background-color:#178ec5;
}
.two-col > div{
	float:left;
	width:50%;
}
.two-col > .left-wrap .btn{
	margin-right:0.27em;
}
.two-col > .right-wrap .btn{
	margin-left:0.27em;
}

.list-module h3,
.list-module-pic h3{
	font-size:1.6em;
	min-height:1.67em;
	margin-bottom:0.323em; 
}
.list-module h3 .tit,
.list-module-pic h3 .tit{
	display:inline-block;
	vertical-align: middle;
	color: #1e1e1e;
}
.address{
	color:#a0a0a0;
	font-size:1.4em;
	line-height:1.285em;
	margin-top:0.5em;
}
.list-module li,
.list-module-pic li{
	border-bottom:1px #c2c2c6 solid;
	padding:0.625em 0.93em 0.93em;
}
.level{
	font-size:1.6em;
}
.level span{
	background:transparent url('star.png') no-repeat scroll 0 0;
	background-size:6.875em auto;
	display:inline-block;
	height:1em;
	width:6.875em;
}
.level .start-45{
	background-position:0 -1.437em;
}
.level .start-40{
	background-position:0 -2.813em;
}
.level .start-35{
	background-position:0 -4.25em;
}
.level .start-30{
	background-position:0 -5.688em;
}
.level .start-25{
	background-position:0 -7.063em;
}
.level .start-20{
	background-position:0 -8.5em;
}
.level .start-15{
	background-position:0 -9.875em;
}
.level .start-10{
	background-position:0 -11.313em;
}
.level .start-05{
	background-position:0 -12.688em;
}
.level .start-00{
	background-position:0 -14.125em;
}
.list-module-pic .pic{
	float:left;
	width:8.66em;
	height:7.91em;
	margin-top:0.5em;
}
.list-module-pic .pic img{
	display:block;
	width:8.66em;
	height:7.91em;
}
.list-module-pic .pic + div{
	margin-left:9.5em;
}
.list-module-pic .address{
	max-height:2.375em;
	overflow: hidden;
}

.ui-tit{
	font-size:1.6em;
	line-height:1.25em; 
	font-weight:normal;
	padding:0.375em 1.125em;
	margin-bottom:1.25em;
}
.ui-tit > span{
	display:inline-block;
	vertical-align: middle;
}
.ui-tit:before{
	content:'';
	background-color:#c30013;
	display: inline-block;
	height:1.25em;
	width:4px;
	vertical-align: middle;
	margin-right:0.313em;
}
.tips-list{
	border:1px #c2c2c6 solid;
	background-color:#fef4ca;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	font-size:1.4em;
	line-height:1.57em;
	list-style:outside square;
	margin:0 2.14em 2.14em;
	padding:0.86em 1.07em 0.86em 2.14em;
}
.list-module-faq{
	margin-bottom:2.08em;
}
.list-module-faq .date{
	margin-bottom:1em;
	text-align:center;
}
.list-module-faq .date span{
	background-color:#c2c2c6;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	color:#ffffff;
	font-size:1.4em;
	display:inline-block;
	height:1.785em;
	line-height: 1.785em;
	padding:0 0.57em;
}
.list-module-faq-content{
	background-color:#ffffff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	margin: 0 1em;
	padding:0.92em 1em;
}
.list-module-faq figure{
	position:relative;
	height:12.5em;
	overflow:hidden;
}
.list-module-faq figure img{
	width:100%;
	display:block;
}
.list-module-faq figure p{
	background-color:rgba(0,0,0,0.4);
	color:#ffffff;
	font-size:1.6em;
	height:1.875em;
	line-height:1.875em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;	
	width:100%;
	padding:0 0.313em;
	position:absolute;
	bottom:0;
}
.list-module-faq ul{
	font-size:1.6em;
}
.list-module-faq li{
	border-top:1px #a0a0a0 dashed;
	padding:0.438em;
}
.list-module-faq li:first-child{
	border-top:0px;
}
.list-module-faq .pic{
	float:right;
	width:3.875em;
	height:3.875em;
	margin-left:0.625em;
}
.list-module-faq .pic img{
	width:100%;
	height:100%;
	display:block;
}
.list-module-faq .pic + p{
	height:2.625em;
	overflow: hidden;
	padding-top:0.625em;
	color: #1e1e1e;
}

.faq-details-module{
	background-color:#ffffff;
	padding:2em 1.25em;
}
.faq-details-module-content{
	padding:0 0.75em;
}
.faq-details-module h1{
	font-size:2em;
	margin-bottom:1em;
}
.faq-details-module .date{
	color:#a0a0a0;
	font-size:1.2em;
	margin-bottom:2em;
}
.faq-details-module-content .pic{
	width:100%;
	margin-bottom:1.67em;
}
.faq-details-module-content p{
	font-size:1.6em;
	line-height:1.625em;
	margin-bottom:1.25em;
}
.faq-details-module-content h2{
	color:#ffa600;
	font-size:1.6em;
	margin-bottom:1.25em;
}
.adv-module li{
	float:left;
	width:50%;
	margin-bottom:1.25em;
}
.adv-module > li:nth-of-type(2n+1) > div{
	margin-right:0.5em;
}
.adv-module > li:nth-of-type(2n) > div{
	margin-left:0.5em;
}
.adv-module li .pic{
	width:100%;
	display:block;
	margin-bottom:1px;
}
.adv-module li p{
	font-size:1.2em;
	padding:0 0.5em;
	color: #1e1e1e;
}
.adv-module li .adv-info{
	background-color:#ebebf0;
	font-size:1.4em;
	height:1.714em;
	line-height:1.714em;
	padding:0 0.428em;
	margin-bottom:0.428em;
}
.adv-module li .adv-info .price{
	color:#fb451f;
	float:right;
}
/**首页**/
.text-align-middle{
	background-color:#fff;
}
.header img{
	display: block;
    width: 100%; 
}
h1.ui-tit{
	font-size: 1.8em; 
	margin:0.67em 0;
	padding:0 0.67em;
}
h1.ui-tit:before {
	background-color: #fb451f;
}
.list-service {
	margin:1.7em 1.2em 2em;
	padding-left: 6.6em;
}
.list-service li{
	float: left;  
} 
.list-service .service{
	display:inline-block;
	height:6.6em;
	width: 6.7em;
	background:url("service.png") no-repeat scroll 0 0 transparent;
	background-size:auto 6.6em;
}
.list-service > li:nth-of-type(1) 
{
   width: 6.6em;
   margin-left:-6.6em; 
}
.list-service > li:nth-of-type(2),
.list-service > li:nth-of-type(3),
.list-service > li:nth-of-type(4)
{
   width: 33.3%;
   text-align: right;
}
/*.list-service  li:last-child{
    margin:0; 
} */
.list-service  label{ 
	font-size: 1.56em; 
	margin-top:0.8em;
	display:inline-block; 
	width: 4.23em;
	text-align: center;
 }
 .list-service  .upkeep{
	background-position:0 0;
 }
 .list-service  .beautify{
	background-position:-6.7em 0;
 }
 .list-service  .repair{
	background-position:-13.4em 0;
 }
 .list-service  .carwash{
	background-position:-20.1em 0;
 }
 .list-activity li{
    float: left;
    width: 50%; 
    margin-bottom: 1em;
}
.list-activity > li:nth-of-type(2n+1) > div {
    margin: 0 0.6em 0 1.2em;
}
.list-activity > li:nth-of-type(2n) > div {
    margin: 0 1.2em 0 0.6em;
}
.list-activity li img{
    display: block; 
    width: 100%;
}

.list-group li{
	border-bottom:1px solid #d9d9e2;
	border-top:1px solid #d9d9e2;
	height:auto;
	overflow:auto;
	padding:0 1em 0 1.5em;
}
.list-group li span{
	 display:block;
}
.group-title{
	font-size: 1.68em; 
}
.group-info{
	font-size: 1.44em; 
	color:#a0a0a0;
	margin:1em 0 0.5em;
}
.group-distance{
	font-size: 1.2em; 
	color:#6eaade;
	height:1.7em;
	line-height: 1.7em;
	padding-left: 1.5em;
	background:transparent url('position.png') no-repeat scroll 0 0;
	background-size:auto 1.5em;	
} 
.group-left{
	float:left;
	height:9.8em;
	width:76%;
	padding-top:2.4em;
}
.group-right{
	float:right;
	height:9em;
	border-left:1px solid #d9d9e2; 
	width:23%;  
	line-height: 9em;
	margin-top:3.2em; 
	text-align: center; 
}
.group-price{
	font-size: 1.8em; 
	color:#fb451f;   
}
/*slidesjs 首页广告滑动样式*/
.slidesjs-pagination {
  margin: 6px 0 0;
  text-align:right;
  list-style: none;
  margin: -16.7em 1em 0 0;
  position: relative; 
  z-index: 100;
}
.slidesjs-pagination li {
  display:inline-block;
  margin: 0 1px;
}
.slidesjs-pagination li a {
  display: block;
  width: 0.8em;
  height: 0;
  padding-top: 0.7em; 
  background:transparent url('pagination.png') no-repeat scroll 0 0;
  background-size:auto 0.7em;
  float: left;
  overflow: hidden;
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: -0.7em 0;
}

/*.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}*/