html, body {
    -webkit-text-size-adjust:none;
    background-color: #fff;
}
* {
    margin:0;
    padding:0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html {
    height:100%;
}
body {
    overflow-x: hidden;
    font-size: 12px;
    padding: 0px;
    color: rgb(89, 104, 108);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    font-family:"Microsoft YaHei", "微软雅黑";
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0 auto;
}
a,a:hover{
    text-decoration: none;
    outline: none;
}
img,button {
    border:none;
}

/***加载条***/
.loading-img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
}
/**分页**/
.wrapper {
    margin: 0 auto;
    width:100%;
    height:100%;
    display:box;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    box-orient:vertical;
}
.main {
    margin:0 auto;
    position:relative;
    width:100%;
    height:100%;
}
.swiper-slide {
    height:100%;
    width:100%;
    position:relative;
}

/**向上活动图标**/
.arr_icon {
    width: 54px;
    height: 24px;
    z-index: 100;
    position:absolute;
    left:50%;
    bottom: 2%;
    margin-left: -27px;
    animation: arr_icon_ac 1s infinite ease-in-out;
    -webkit-animation: arr_icon_ac 1s infinite ease-in-out;
    -moz-animation: arr_icon_ac 1s infinite ease-in-out;
    -ms-animation: arr_icon_ac 1s infinite ease-in-out;
    -o-animation: arr_icon_ac 1s infinite ease-in-out;
}
@keyframes arr_icon_ac {
    0%, 30% {
        opacity:0;
        transform:translate(0, 10px)
    }
    60% {
        opacity:1;
        transform:translate(0, 0)
    }
    100% {
        opacity:0;
        transform:translate(0, -8px)
    }
}
@-webkit-keyframes arr_icon_ac {
    0%, 30% {
        opacity:0;
        -webkit-transform:translate(0, 10px)
    }
    60% {
        opacity:1;
        -webkit-transform:translate(0, 0)
    }
    100% {
        opacity:0;
        -webkit-transform:translate(0, -8px)
    }
}
@-moz-keyframes arr_icon_ac {
    0%, 30% {
        opacity:0;
        -moz-transform:translate(0, 10px)
    }
    60% {
        opacity:1;
        -moz-transform:translate(0, 0)
    }
    100% {
        opacity:0;
        -moz-transform:translate(0, -8px)
    }
}
@-ms-keyframes arr_icon_ac {
    0%, 30% {
        opacity:0;
        -ms-transform:translate(0, 10px)
    }
    60% {
        opacity:1;
        -ms-transform:translate(0, 0)
    }
    100% {
        opacity:0;
        -ms-transform:translate(0, -8px)
    }
}
@-o-keyframes arr_icon_ac {
    0%, 30% {
        opacity:0;
        -o-transform:translate(0, 10px)
    }
    60% {
        opacity:1;
        -o-transform:translate(0, 0)
    }
    100% {
        opacity:0;
        -o-transform:translate(0, -8px)
    }
}

.copyright {
    width: 193px;
    height: 24px;
    z-index:100;
    position:absolute;
    left: 50%;
    bottom: 2%;
    margin-left: -96px;
    display:none;
    vertical-align:top;
}

/**渐现**/
.fadeIn {
    opacity:0;
    animation:fadeInAnimate 0.3s ease-in-out 0s 1 normal forwards;
    -webkit-animation:fadeInAnimate 0.3s ease-in-out 0s 1 normal forwards;
    -moz-animation:fadeInAnimate 0.3s ease-in-out 0s 1 normal forwards;
    -ms-animation:fadeInAnimate 0.3s ease-in-out 0s 1 normal forwards;
    -o-animation:fadeInAnimate 0.3s ease-in-out 0s 1 normal forwards;
}
@keyframes fadeInAnimate {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
@-webkit-keyframes fadeInAnimate {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
@-moz-keyframes fadeInAnimate {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
@-ms-keyframes fadeInAnimate {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
@-o-keyframes fadeInAnimate {
    from {
        opacity:0
    }
    to {
        opacity:1
    }
}
/**Y翻转**/
.wordFz {
    animation:wordFzAnimate 400ms ease-in-out 0s 1 normal forwards;
    -webkit-animation:wordFzAnimate 400ms ease-in-out 0s 1 normal forwards;
    -moz-animation:wordFzAnimate 400ms ease-in-out 0s 1 normal forwards;
    -ms-animation:wordFzAnimate 400ms ease-in-out 0s 1 normal forwards;
    -o-animation:wordFzAnimate 400ms ease-in-out 0s 1 normal forwards;
}
@keyframes wordFzAnimate {
    from {
        opacity:0;
        transform: rotateY(-180deg);
    }
    to {
        opacity:1;
        transform: rotateY(-360deg);
    }
}
@-moz-keyframes wordFzAnimate {
    from {
        opacity:0;
        -moz-transform: rotateY(-180deg);
    }
    to {
        opacity:1;
        -moz-transform: rotateY(-360deg);
    }
}
@-webkit-keyframes wordFzAnimate {
    from {
        opacity:0;
        -webkit-transform: rotateY(-180deg);
    }
    to {
        opacity:1;
        -webkit-transform: rotateY(-360deg);
    }
}
@-ms-keyframes wordFzAnimate {
    from {
        opacity:0;
        -ms-transform: rotateY(-180deg);
    }
    to {
        opacity:1;
        -ms-transform: rotateY(-360deg);
    }
}
@-o-keyframes wordFzAnimate {
    from {
        opacity:0;
        -o-transform: rotateY(-180deg);
    }
    to {
        opacity:1;
        -o-transform: rotateY(-360deg);
    }
}

/**Z旋转**/
.wordXz {
    animation:wordXzAnimate 400ms ease-in-out 0s 1 normal forwards;
    -webkit-animation:wordXzAnimate 400ms ease-in-out 0s 1 normal forwards;
    -moz-animation:wordXzAnimate 400ms ease-in-out 0s 1 normal forwards;
    -ms-animation:wordXzAnimate 400ms ease-in-out 0s 1 normal forwards;
    -o-animation:wordXzAnimate 400ms ease-in-out 0s 1 normal forwards;
}
@keyframes wordXzAnimate {
    from {
        opacity:0;
        transform: rotateZ(180deg);
    }
    to {
        opacity:1;
        transform: rotateZ(0deg);
    }
}
@-webkit-keyframes wordXzAnimate {
    from {
        opacity:0;
        -webkit-transform: rotateZ(180deg);
    }
    to {
        opacity:1;
        -webkit-transform: rotateZ(0deg);
    }
}
@-moz-keyframes wordXzAnimate {
    from {
        opacity:0;
        -moz-transform: rotateZ(180deg);
    }
    to {
        opacity:1;
        -moz-transform: rotateZ(0deg);
    }
}
@-ms-keyframes wordXzAnimate {
    from {
        opacity:0;
        -ms-transform: rotateZ(180deg);
    }
    to {
        opacity:1;
        -ms-transform: rotateZ(0deg);
    }
}
@-o-keyframes wordXzAnimate {
    from {
        opacity:0;
        -o-transform: rotateZ(180deg);
    }
    to {
        opacity:1;
        -o-transform: rotateZ(0deg);
    }
}

/* 圆圈变大 */
.circle_exCss {
    animation:circle_animate 0.7s ease-in-out 0s 1 normal forwards;
    -webkit-animation:circle_animate 0.7s ease-in-out 0s 1 normal forwards;
    -moz-animation:circle_animate 0.7s ease-in-out 0s 1 normal forwards;
    -o-animation:circle_animate 0.7s ease-in-out 0s 1 normal forwards;
    -ms-animation:circle_animate 0.7s ease-in-out 0s 1 normal forwards;
}
@keyframes circle_animate {
    0% {
        transform: scale(0.0);
    }
    20% {
        transform: scale(0.3);
    }
    40% {
        transform: scale(0.6);
    }
    60% {
        transform: scale(0.9);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes circle_animate {
    0% {
        -webkit-transform: scale(0.0);
    }
    20% {
        -webkit-transform: scale(0.3);
    }
    40% {
        -webkit-transform: scale(0.6);
    }
    60% {
        -webkit-transform: scale(0.9);
    }
    80% {
        -webkit-transform: scale(1.3);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes circle_animate {
    0% {
        -moz-transform: scale(0.0);
    }
    20% {
        -moz-transform: scale(0.3);
    }
    40% {
        -moz-transform: scale(0.6);
    }
    60% {
        -moz-transform: scale(0.9);
    }
    80% {
        -moz-transform: scale(1.3);
    }
    100% {
        -moz-transform: scale(1);
    }
}
@-o-keyframes circle_animate {
    0% {
        -o-transform: scale(0.0);
    }
    20% {
        -o-transform: scale(0.3);
    }
    40% {
        -o-transform: scale(0.6);
    }
    60% {
        -o-transform: scale(0.9);
    }
    80% {
        -o-transform: scale(1.3);
    }
    100% {
        -o-transform: scale(1);
    }
}
@-ms-keyframes circle_animate {
    0% {
        -ms-transform: scale(0.0);
    }
    20% {
        -ms-transform: scale(0.3);
    }
    40% {
        -ms-transform: scale(0.6);
    }
    60% {
        -ms-transform: scale(0.9);
    }
    80% {
        -ms-transform: scale(1.3);
    }
    100% {
        -ms-transform: scale(1);
    }
}

/**p0**/

.hand_01 {
    height: 130px;
    position:absolute;
    left:101px;
    top: 4%;
    margin-top: -50px;
    transform: scale(0.00, 0.00);
    -webkit-transform: scale(0.00, 0.00);
    -moz-transform: scale(0.00, 0.00);
    -o-transform: scale(0.00, 0.00);
    -ms-transform: scale(0.00, 0.00);
}
.p0_01 {
    position:absolute;
    bottom:38.5%;
    left:-385px;
}
.p0_02 {
    position:absolute;
    bottom: 29%;
    left:-387px;
}
.p0_03 {
    position:absolute;
    bottom: 29%;
    right:-387px;
}
.p0_04 {
    position:absolute;
    bottom: 21%;
	left:160px;
	opacity:0;
}
.p0_05 {
    position:absolute;
    bottom: 8%;
	left:40px;
	opacity:0;
}
.p0_06 {
    position:absolute;
    bottom: 1%;
	left:178px;
	opacity:0;
}
#p0 .arr_icon {
    bottom: 5%;
 }
 .top-01 {
    animation:top_01_animate 0.7s ease-in-out 0s 1 normal forwards;
    -webkit-animation:top_01_animate 0.7s ease-in-out 0s 1 normal forwards;
    -moz-animation:top_01_animate 0.7s ease-in-out 0s 1 normal forwards;
    -o-animation:top_01_animate 0.7s ease-in-out 0s 1 normal forwards;
    -ms-animation:top_01_animate 0.7s ease-in-out 0s 1 normal forwards;
}
@keyframes top_01_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes top_01_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes top_01_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes top_01_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-ms-keyframes top_01_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
/**p1**/
 #p1Canvas {
    position:absolute;
    top: 0;
    left:50%;
    margin-left: -132px;
    opacity:1;
    z-index:1000;
}
#p1_circle {
    position:absolute;
    top: 0;
    left:50%;
    margin-left: -132px;
    z-index:10;
    display:none;
}
.p1_person {
    position: absolute;
    left: 320px;
    top: 36%;
    z-index: 1001;
    width: 92px;
    height: 133px;
    display:none;
}
.p1_01 {
    position:absolute;
    left: 50%;
    bottom:0;
    margin-left: -175px;
    opacity:0;
}
 
.p1_01_exCss {
    animation: p1_01_animate 700ms ease-out 0s 1 normal forwards;
    -webkit-animation: p1_01_animate 700ms ease-in 0s 1 normal forwards;
    -moz-animation: p1_01_animate 700ms ease-in 0s 1 normal forwards;
    -o-animation: p1_01_animate 700ms ease-in 0s 1 normal forwards;
    -ms-animation: p1_01_animate 700ms ease-in 0s 1 normal forwards;
}
@keyframes p1_01_animate {
    from {
        opacity:0;
        bottom:-50%;
    }
    to {
        opacity:1;
        bottom:0;
    }
}
@-webkit-keyframes p1_01_animate {
    from {
        opacity:0;
        bottom:-50%;
    }
    to {
        opacity:1;
        bottom:0;
    }
}
@-moz-keyframes p1_01_animate {
    from {
        opacity:0;
        bottom:-50%;
    }
    to {
        opacity:1;
        bottom:0;
    }
}
@-o-keyframes p1_01_animate {
    from {
        opacity:0;
        bottom:-50%;
    }
    to {
        opacity:1;
        bottom:0;
    }
}
@-ms-keyframes p1_01_animate {
    from {
        opacity:0;
        bottom:-50%;
    }
    to {
        opacity:1;
        bottom:0;
    }
}
.p1_02 {
    position:absolute;
    left: 50%;
    margin-left: -159px;
    top: 1%;
    opacity:0;
}
.p1_02_exCss {
    animation:p1_02_animate 700ms ease-out 0s 1 normal forwards;
    -webkit-animation:p1_02_animate 700ms ease-in 0s 1 normal forwards;
    -moz-animation:p1_02_animate 700ms ease-out 0s 1 normal forwards;
    -o-animation:p1_02_animate 700ms ease-in 0s 1 normal forwards;
    -ms-animation:p1_02_animate 700ms ease-out 0s 1 normal forwards;
}
@keyframes p1_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-webkit-keyframes p1_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-moz-keyframes p1_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-o-keyframes p1_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-ms-keyframes p1_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
.p1_03 {
    position:absolute;
    left: 50%;
    margin-left: -122px;
    top: 10%;
    opacity:0;
}
.p1_03_exCss {
    animation:p1_03_animate 600ms ease-out 0s 1 normal forwards;
    -webkit-animation:p1_03_animate 600ms ease-in 0s 1 normal forwards;
    -moz-animation:p1_03_animate 600ms ease-out 0s 1 normal forwards;
    -o-animation:p1_03_animate 600ms ease-in 0s 1 normal forwards;
    -ms-animation:p1_03_animate 600ms ease-out 0s 1 normal forwards;
}
@keyframes p1_03_animate {
    from {
        opacity:0;
        left: 100%;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-webkit-keyframes p1_03_animate {
    from {
        opacity:0;
        left: 100%;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-moz-keyframes p1_03_animate {
    from {
        opacity:0;
        left: 100%;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-o-keyframes p1_03_animate {
    from {
        opacity:0;
        left: 100%;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-ms-keyframes p1_03_animate {
    from {
        opacity:0;
        left: 100%;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
.p1_04 {
    position:absolute;
    left: 50%;
    margin-left: -141px;
    top: 19%;
    opacity:0;
}
.p1_04_exCss {
    animation:p1_04_animate 500ms ease-out 0s 1 normal forwards;
    -webkit-animation:p1_04_animate 500ms ease-in 0s 1 normal forwards;
    -moz-animation:p1_04_animate 500ms ease-out 0s 1 normal forwards;
    -o-animation:p1_04_animate 500ms ease-in 0s 1 normal forwards;
    -ms-animation:p1_04_animate 500ms ease-out 0s 1 normal forwards;
}
@keyframes p1_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes p1_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes p1_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes p1_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-ms-keyframes p1_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
/**p2**/
.p2_01 {
    position:absolute;
    left: 50%;
    bottom:0;
    margin-left: -225px;
    opacity:0;
}
 
.p2_01_exCss {
    animation: p2_01_animate 700ms ease-out 0s 1 normal forwards;
    -webkit-animation: p2_01_animate 700ms ease-in 0s 1 normal forwards;
    -moz-animation: p2_01_animate 700ms ease-in 0s 1 normal forwards;
    -o-animation: p2_01_animate 700ms ease-in 0s 1 normal forwards;
    -ms-animation: p2_01_animate 700ms ease-in 0s 1 normal forwards;
}
@keyframes p2_01_animate {
    from {
        opacity:0;
        left:0;
    }
    to {
        opacity:1;
        left:50%;
    }
}
@-webkit-keyframes p2_01_animate {
    from {
        opacity:0;
        left:0;
    }
    to {
        opacity:1;
        left:50%;
    }
}
@-moz-keyframes p2_01_animate {
    from {
        opacity:0;
        left:0;
    }
    to {
        opacity:1;
        left:50%;
    }
}
@-o-keyframes p2_01_animate {
    from {
        opacity:0;
        left:0;
    }
    to {
        opacity:1;
        left:50%;
    }
}
@-ms-keyframes p2_01_animate {
    from {
        opacity:0;
        left:0;
    }
    to {
        opacity:1;
        left:50%;
    }
}
.p2_02 {
    position:absolute;
    left: 50%;
    margin-left: -117px;
    top: 1%;
    opacity:0;
}
.p2_02_exCss {
    animation:p2_02_animate 700ms ease-out 0s 1 normal forwards;
    -webkit-animation:p2_02_animate 700ms ease-in 0s 1 normal forwards;
    -moz-animation:p2_02_animate 700ms ease-out 0s 1 normal forwards;
    -o-animation:p2_02_animate 700ms ease-in 0s 1 normal forwards;
    -ms-animation:p2_02_animate 700ms ease-out 0s 1 normal forwards;
}
@keyframes p2_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-webkit-keyframes p2_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-moz-keyframes p2_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-o-keyframes p2_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-ms-keyframes p2_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
.p2_03 {
    position:absolute;
    left: 50%;
    margin-left: -97px;
    top: 10%;
    opacity:0;
}
.p2_03_exCss {
    animation:p2_03_animate 500ms ease-out 0s 1 normal forwards;
    -webkit-animation:p2_03_animate 500ms ease-in 0s 1 normal forwards;
    -moz-animation:p2_03_animate 500ms ease-out 0s 1 normal forwards;
    -o-animation:p2_03_animate 500ms ease-in 0s 1 normal forwards;
    -ms-animation:p2_03_animate 500ms ease-out 0s 1 normal forwards;
}
@keyframes p2_03_animate {
    from {
        opacity:0;
        left: 100%;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-webkit-keyframes p2_03_animate {
    from {
        opacity:0;
        left: 100%;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-moz-keyframes p2_03_animate {
    from {
        opacity:0;
        left: 100%;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-o-keyframes p2_03_animate {
    from {
        opacity:0;
        left: 100%;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-ms-keyframes p2_03_animate {
    from {
        opacity:0;
        left: 100%;
    }
    to {
        opacity:1;
        left: 50%;
    }
}

.p2_04 {
    position:absolute;
    left: 50%;
    margin-left: -141px;
    top: 25%;
    opacity:0;
}
.p2_04_exCss {
    animation:p2_04_animate 700ms ease-out 0s 1 normal forwards;
    -webkit-animation:p2_04_animate 700ms ease-in 0s 1 normal forwards;
    -moz-animation:p2_04_animate 700ms ease-out 0s 1 normal forwards;
    -o-animation:p2_04_animate 700ms ease-in 0s 1 normal forwards;
    -ms-animation:p2_04_animate 700ms ease-out 0s 1 normal forwards;
}
@keyframes p2_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes p2_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes p2_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes p2_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-ms-keyframes p2_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
/**p3**/
.p3_01 {
    position:absolute;
    left: 50%;
    bottom:0;
    margin-left: -310px;
    opacity:0;
}
 
.p3_01_exCss {
    animation: p3_01_animate 700ms ease-out 0s 1 normal forwards;
    -webkit-animation: p3_01_animate 700ms ease-in 0s 1 normal forwards;
    -moz-animation: p3_01_animate 700ms ease-in 0s 1 normal forwards;
    -o-animation: p3_01_animate 700ms ease-in 0s 1 normal forwards;
    -ms-animation: p3_01_animate 700ms ease-in 0s 1 normal forwards;
}
@keyframes p3_01_animate {
    from {
        opacity:0;
        left:100%;
    }
    to {
        opacity:1;
        left:50%;
    }
}
@-webkit-keyframes p3_01_animate {
    from {
        opacity:0;
        left:100%;
    }
    to {
        opacity:1;
        left:50%;
    }
}
@-moz-keyframes p3_01_animate {
    from {
        opacity:0;
        left:100%;
    }
    to {
        opacity:1;
        left:50%;
    }
}
@-o-keyframes p3_01_animate {
    from {
        opacity:0;
        left:100%;
    }
    to {
        opacity:1;
        left:50%;
    }
}
@-ms-keyframes p3_01_animate {
    from {
        opacity:0;
        left:100%;
    }
    to {
        opacity:1;
        left:50%;
    }
}
.p3_02 {
    position:absolute;
    left: 50%;
    margin-left: -116px;
    top: 1%;
    opacity:0;
}
.p3_02_exCss {
    animation:p3_02_animate 700ms ease-out 0s 1 normal forwards;
    -webkit-animation:p3_02_animate 700ms ease-in 0s 1 normal forwards;
    -moz-animation:p3_02_animate 700ms ease-out 0s 1 normal forwards;
    -o-animation:p3_02_animate 700ms ease-in 0s 1 normal forwards;
    -ms-animation:p3_02_animate 700ms ease-out 0s 1 normal forwards;
}
@keyframes p3_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-webkit-keyframes p3_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-moz-keyframes p3_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-o-keyframes p3_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
@-ms-keyframes p3_02_animate {
    from {
        opacity:0;
        left: 0;
    }
    to {
        opacity:1;
        left: 50%;
    }
}
.p3_03 {
    position:absolute;
    left: 50%;
    margin-left: -141px;
    top: 17%;
    opacity:0;
}
.p3_03_exCss {
    animation:p3_03_animate 700ms ease-out 0s 1 normal forwards;
    -webkit-animation:p3_03_animate 700ms ease-in 0s 1 normal forwards;
    -moz-animation:p3_03_animate 700ms ease-out 0s 1 normal forwards;
    -o-animation:p3_03_animate 700ms ease-in 0s 1 normal forwards;
    -ms-animation:p3_03_animate 700ms ease-out 0s 1 normal forwards;
}
@keyframes p3_03_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes p3_03_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes p3_03_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes p3_03_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-ms-keyframes p3_03_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* 左侧滑入 */
.left-in {
    animation:left_in_animate 0.7s ease-in-out 0s 1 normal forwards;
    -webkit-animation:left_in_animate 0.7s ease-in-out 0s 1 normal forwards;
    -moz-animation:left_in_animate 0.7s ease-in-out 0s 1 normal forwards;
    -o-animation:left_in_animate 0.7s ease-in-out 0s 1 normal forwards;
    -ms-animation:left_in_animate 0.7s ease-in-out 0s 1 normal forwards;
}
@keyframes left_in_animate {
    from {
        opacity:0;
        left: 0px
    }
    to {
        opacity:1;
        left: 155px
    }
}
@-webkit-keyframes left_in_animate {
    from {
        opacity:0;
        left: 0px
    }
    to {
        opacity:1;
        left: 155px
    }
}
@-moz-keyframes left_in_animate {
    from {
        opacity:0;
        left: 0px
    }
    to {
        opacity:1;
        left: 155px
    }
}
@-o-keyframes left_in_animate {
    from {
        opacity:0;
        left: 0px
    }
    to {
        opacity:1;
        left: 155px
    }
}
@-ms-keyframes left_in_animate {
    from {
        opacity:0;
        left: 0px
    }
    to {
        opacity:1;
        left: 155px
    }
}
.left-01 {
    animation:left_01_animate 0.7s ease-in-out 0s 1 normal forwards;
    -webkit-animation:left_01_animate 0.7s ease-in-out 0s 1 normal forwards;
    -moz-animation:left_01_animate 0.7s ease-in-out 0s 1 normal forwards;
    -o-animation:left_01_animate 0.7s ease-in-out 0s 1 normal forwards;
    -ms-animation:left_01_animate 0.7s ease-in-out 0s 1 normal forwards;
}
@keyframes left_01_animate {
    from {
        opacity:0;
        left: 0
    }
    to {
        opacity:1;
        left: 104px
    }
}
@-webkit-keyframes left_01_animate {
    from {
        opacity:0;
        left: 0
    }
    to {
        opacity:1;
        left: 104px
    }
}
@-moz-keyframes left_01_animate {
    from {
        opacity:0;
        left: 0
    }
    to {
        opacity:1;
        left: 104px
    }
}
@-o-keyframes left_01_animate {
    from {
        opacity:0;
        left: 0
    }
    to {
        opacity:1;
        left: 104px
    }
}
@-ms-keyframes left_01_animate {
    from {
        opacity:0;
        left: 0
    }
    to {
        opacity:1;
        left: 104px
    }
}
.left-02 {
    animation:left_02_animate 0.7s ease-in-out 0s 1 normal forwards;
    -webkit-animation:left_02_animate 0.7s ease-in-out 0s 1 normal forwards;
    -moz-animation:left_02_animate 0.7s ease-in-out 0s 1 normal forwards;
    -o-animation:left_02_animate 0.7s ease-in-out 0s 1 normal forwards;
    -ms-animation:left_02_animate 0.7s ease-in-out 0s 1 normal forwards;
}
@keyframes left_02_animate {
    from {
        opacity:0;
        left: 0
    }
    to {
        opacity:1;
        left:152px
    }
}
@-webkit-keyframes left_02_animate {
    from {
        opacity:0;
        left: 0
    }
    to {
        opacity:1;
        left:152px
    }
}
@-moz-keyframes left_02_animate {
    from {
        opacity:0;
        left: 0
    }
    to {
        opacity:1;
        left:152px
    }
}
@-o-keyframes left_02_animate {
    from {
        opacity:0;
        left: 0
    }
    to {
        opacity:1;
        left:152px
    }
}
@-ms-keyframes left_02_animate {
    from {
        opacity:0;
        left: 0
    }
    to {
        opacity:1;
        left:152px
    }
}
/* 右侧滑入 */
.right-in {
    animation:right_in_animate 0.7s ease-in-out 0s 1 normal forwards;
    -webkit-animation:right_in_animate 0.7s ease-in-out 0s 1 normal forwards;
    -moz-animation:right_in_animate 0.7s ease-in-out 0s 1 normal forwards;
    -o-animation:right_in_animate 0.7s ease-in-out 0s 1 normal forwards;
    -ms-animation:right_in_animate 0.7s ease-in-out 0s 1 normal forwards;
}
@keyframes right_in_animate {
    from {
        opacity:0;
        right: 0px
    }
    to {
        opacity:1;
        right: 165px
    }
}
@-webkit-keyframes right_in_animate {
    from {
        opacity:0;
        right: 0px
    }
    to {
        opacity:1;
        right: 165px
    }
}
@-moz-keyframes right_in_animate {
    from {
        opacity:0;
        right: 0px
    }
    to {
        opacity:1;
        right: 165px
    }
}
@-o-keyframes right_in_animate {
    from {
        opacity:0;
        right: 0px
    }
    to {
        opacity:1;
        right: 165px
    }
}
@-ms-keyframes right_in_animate {
    from {
        opacity:0;
        right: 0px
    }
    to {
        opacity:1;
        right: 165px
    }
}
.right-01 {
    animation:right_01_animate 0.7s ease-in-out 0s 1 normal forwards;
    -webkit-animation:right_01_animate 0.7s ease-in-out 0s 1 normal forwards;
    -moz-animation:right_01_animate 0.7s ease-in-out 0s 1 normal forwards;
    -o-animation:right_01_animate 0.7s ease-in-out 0s 1 normal forwards;
    -ms-animation:right_01_animate 0.7s ease-in-out 0s 1 normal forwards;
}
@keyframes right_01_animate {
    from {
        opacity:0;
        right: 0
    }
    to {
        opacity:1;
        right:105px
    }
}
@-webkit-keyframes right_01_animate {
    from {
        opacity:0;
        right: 0
    }
    to {
        opacity:1;
        right:105px
    }
}
@-moz-keyframes right_01_animate {
    from {
        opacity:0;
        right: 0
    }
    to {
        opacity:1;
        right:105px
    }
}
@-o-keyframes right_01_animate {
    from {
        opacity:0;
        right: 0
    }
    to {
        opacity:1;
        right:105px
    }
}
@-ms-keyframes right_01_animate {
    from {
        opacity:0;
        right: 0
    }
    to {
        opacity:1;
        right:105px
    }
}
/**p4**/

.p4_01 {
    position:absolute;
    left: 50%;
    margin-left: -117px;
    top: 1%;
    opacity:0;
}
.p4_01_exCss {
    animation:p4_01_animate 500ms ease-out 0s 1 normal forwards;
    -webkit-animation:p4_01_animate 500ms ease-in 0s 1 normal forwards;
    -moz-animation:p4_01_animate 500ms ease-out 0s 1 normal forwards;
    -o-animation:p4_01_animate 500ms ease-in 0s 1 normal forwards;
    -ms-animation:p4_01_animate 500ms ease-out 0s 1 normal forwards;
}
@keyframes p4_01_animate {
    from {
        opacity:0;
        top: -10%;
    }
    to {
        opacity:1;
        top: 1%;
    }
}
@-webkit-keyframes p4_01_animate {
    from {
        opacity:0;
        top: -10%;
    }
    to {
        opacity:1;
        top: 1%;
    }
}
@-moz-keyframes p4_01_animate {
    from {
        opacity:0;
        top: -10%;
    }
    to {
        opacity:1;
        top: 1%;
    }
}
@-o-keyframes p4_01_animate {
    from {
        opacity:0;
        top: -10%;
    }
    to {
        opacity:1;
        top: 1%;
    }
}
@-ms-keyframes p4_01_animate {
    from {
        opacity:0;
        top: -10%;
    }
    to {
        opacity:1;
        top: 1%;
    }
}
.p4_02 {
    position:absolute;
    left: 50%;
    margin-left: -285px;
    top: 11%;
    opacity:0;
}
.p4_02_exCss {
    animation:p4_02_animate 500ms ease-out 0s 1 normal forwards;
    -webkit-animation:p4_02_animate 500ms ease-in 0s 1 normal forwards;
    -moz-animation:p4_02_animate 500ms ease-out 0s 1 normal forwards;
    -o-animation:p4_02_animate 500ms ease-in 0s 1 normal forwards;
    -ms-animation:p4_02_animate 500ms ease-out 0s 1 normal forwards;
}
@keyframes p4_02_animate {
    from {
        opacity:0;
        top: 1%;
    }
    to {
        opacity:1;
        top: 11%;
    }
}
@-webkit-keyframes p4_02_animate {
    from {
        opacity:0;
        top: 1%;
    }
    to {
        opacity:1;
        top: 11%;
    }
}
@-moz-keyframes p4_02_animate {
    from {
        opacity:0;
        top: 1%;
    }
    to {
        opacity:1;
        top: 11%;
    }
}
@-o-keyframes p4_02_animate {
    from {
        opacity:0;
        top: 1%;
    }
    to {
        opacity:1;
        top: 11%;
    }
}
@-ms-keyframes p4_02_animate {
    from {
        opacity:0;
        top: 1%;
    }
    to {
        opacity:1;
        top: 11%;
    }
}

.p4_03 {
    position:absolute;
    left: 50%;
    margin-left: -132px;
    top: 24%;
    opacity:0;
}
.p4_03_exCss {
    animation:p4_03_animate 500ms ease-out 0s 1 normal forwards;
    -webkit-animation:p4_03_animate 500ms ease-in 0s 1 normal forwards;
    -moz-animation:p4_03_animate 500ms ease-out 0s 1 normal forwards;
    -o-animation:p4_03_animate 500ms ease-in 0s 1 normal forwards;
    -ms-animation:p4_03_animate 500ms ease-out 0s 1 normal forwards;
}
@keyframes p4_03_animate {
    from {
        opacity:0;
        top: 11%;
    }
    to {
        opacity:1;
        top: 21%;
    }
}
@-webkit-keyframes p4_03_animate {
    from {
        opacity:0;
        top: 11%;
    }
    to {
        opacity:1;
        top: 21%;
    }
}
@-moz-keyframes p4_03_animate {
    from {
        opacity:0;
        top: 11%;
    }
    to {
        opacity:1;
        top: 21%;
    }
}
@-o-keyframes p4_03_animate {
    from {
        opacity:0;
        top: 11%;
    }
    to {
        opacity:1;
        top: 21%;
    }
}
@-ms-keyframes p4_03_animate {
    from {
        opacity:0;
        top: 11%;
    }
    to {
        opacity:1;
        top: 21%;
    }
}

.p4_04 {
    position:absolute;
    left: 50%;
    margin-left: -204px;
    bottom: 18%;
    opacity:0;
}
.p4_04_exCss {
    animation:p4_04_animate 500ms ease-out 0s 1 normal forwards;
    -webkit-animation:p4_04_animate 500ms ease-in 0s 1 normal forwards;
    -moz-animation:p4_04_animate 500ms ease-out 0s 1 normal forwards;
    -o-animation:p4_04_animate 500ms ease-in 0s 1 normal forwards;
    -ms-animation:p4_04_animate 500ms ease-out 0s 1 normal forwards;
}
@keyframes p4_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes p4_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes p4_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes p4_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-ms-keyframes p4_04_animate {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.air-right-in {
    animation:air_right_in_animate 0.7s ease-in-out 0s 1 normal forwards;
    -webkit-animation:air_right_in_animate 0.7s ease-in-out 0s 1 normal forwards;
    -moz-animation:air_right_in_animate 0.7s ease-in-out 0s 1 normal forwards;
    -o-animation:air_right_in_animate 0.7s ease-in-out 0s 1 normal forwards;
    -ms-animation:air_right_in_animate 0.7s ease-in-out 0s 1 normal forwards;
}
@keyframes air_right_in_animate {
    from {
        opacity:0;
        right: 0px
    }
    to {
        opacity:1;
        right: 230px
    }
}
@-webkit-keyframes air_right_in_animate {
    from {
        opacity:0;
        right: 0px
    }
    to {
        opacity:1;
        right: 230px
    }
}
@-moz-keyframes air_right_in_animate {
    from {
        opacity:0;
        right: 0px
    }
    to {
        opacity:1;
        right: 230px
    }
}
@-o-keyframes air_right_in_animate {
    from {
        opacity:0;
        right: 0px
    }
    to {
        opacity:1;
        right: 230px
    }
}
@-ms-keyframes air_right_in_animate {
    from {
        opacity:0;
        right: 0px
    }
    to {
        opacity:1;
        right: 230px
    }
}

.d2_exCss {
    animation: d2_animate 700ms ease-out 0s 1 normal forwards;
    -webkit-animation: d2_animate 700ms ease-in 0s 1 normal forwards;
    -moz-animation: d2_animate 700ms ease-in 0s 1 normal forwards;
    -o-animation: d2_animate 700ms ease-in 0s 1 normal forwards;
    -ms-animation: d2_animate 700ms ease-in 0s 1 normal forwards;
}
@keyframes d2_animate {
    from {
        opacity:0;
        bottom: 30%;
    }
    to {
        opacity:1;
        bottom: 37%;
    }
}
@-webkit-keyframes d2_animate {
    from {
        opacity:0;
        bottom: 30%;
    }
    to {
        opacity:1;
        bottom: 37%;
    }
}
@-moz-keyframes d2_animate {
    from {
        opacity:0;
        bottom: 30%;
    }
    to {
        opacity:1;
        bottom: 37%;
    }
}
@-o-keyframes d2_animate {
    from {
        opacity:0;
        bottom: 30%;
    }
    to {
        opacity:1;
        bottom: 37%;
    }
}
@-ms-keyframes d2_animate {
    from {
        opacity:0;
        bottom: 30%;
    }
    to {
        opacity:1;
        bottom: 37%;
    }
}

.d3_exCss {
    animation: d3_animate 700ms ease-out 0s 1 normal forwards;
    -webkit-animation: d3_animate 700ms ease-in 0s 1 normal forwards;
    -moz-animation: d3_animate 700ms ease-in 0s 1 normal forwards;
    -o-animation: d3_animate 700ms ease-in 0s 1 normal forwards;
    -ms-animation: d3_animate 700ms ease-in 0s 1 normal forwards;
}
@keyframes d3_animate {
    from {
        opacity:0;
        bottom: 15%;
    }
    to {
        opacity:1;
        bottom: 22%;
    }
}
@-webkit-keyframes d3_animate {
    from {
        opacity:0;
        bottom: 15%;
    }
    to {
        opacity:1;
        bottom: 22%;
    }
}
@-moz-keyframes d3_animate {
    from {
        opacity:0;
        bottom: 15%;
    }
    to {
        opacity:1;
        bottom: 22%;
    }
}
@-o-keyframes d3_animate {
    from {
        opacity:0;
        bottom: 15%;
    }
    to {
        opacity:1;
        bottom: 22%;
    }
}
@-ms-keyframes d3_animate {
    from {
        opacity:0;
        bottom: 15%;
    }
    to {
        opacity:1;
        bottom: 22%;
    }
}

.d4_exCss {
    animation: d4_animate 700ms ease-out 0s 1 normal forwards;
    -webkit-animation: d4_animate 700ms ease-in 0s 1 normal forwards;
    -moz-animation: d4_animate 700ms ease-in 0s 1 normal forwards;
    -o-animation: d4_animate 700ms ease-in 0s 1 normal forwards;
    -ms-animation: d4_animate 700ms ease-in 0s 1 normal forwards;
}
@keyframes d4_animate {
    from {
        opacity:0;
        bottom: 0;
    }
    to {
        opacity:1;
        bottom: 7%;
    }
}
@-webkit-keyframes d4_animate {
    from {
        opacity:0;
        bottom: 0;
    }
    to {
        opacity:1;
        bottom: 7%;
    }
}
@-moz-keyframes d4_animate {
    from {
        opacity:0;
        bottom: 0;
    }
    to {
        opacity:1;
        bottom: 7%;
    }
}
@-o-keyframes d4_animate {
    from {
        opacity:0;
        bottom: 0;
    }
    to {
        opacity:1;
        bottom: 7%;
    }
}
@-ms-keyframes d4_animate {
    from {
        opacity:0;
        bottom: 0;
    }
    to {
        opacity:1;
        bottom: 7%;
    }
}

.new_exCss {
    animation: new_animate 800ms ease-in-out 0s 1 normal forwards;
    -webkit-animation: new_animate 800ms ease-in-out 0s 1 normal forwards;
    -moz-animation: new_animate 800ms ease-in-out 0s 1 normal forwards;
    -o-animation: new_animate 800ms ease-in-out 0s 1 normal forwards;
    -ms-animation: new_animate 800ms ease-in-out 0s 1 normal forwards;
}
@keyframes new_animate {
    0% {
        opacity:0;
        transform: rotateZ(-60deg);
    }
    12% {
        opacity:1;
        transform: rotateZ(-30deg);
    }
    25% {
        opacity:1;
        transform: rotateZ(0deg);
    }
    37% {
        opacity:1;
        transform: rotateZ(20deg);
    }
    50% {
        opacity:1;
        transform: rotateZ(0deg);
    }
    62% {
        opacity:1;
        transform: rotateZ(-15deg);
    }
    75% {
        opacity:1;
        transform: rotateZ(0deg);
    }
    87% {
        opacity:1;
        transform: rotateZ(5deg);
    }
    100% {
        opacity:1;
        transform: rotateZ(0deg);
    }
}
@-webkit-keyframes new_animate {
    0% {
        opacity:0;
        -webkit-transform: rotateZ(-60deg);
    }
    12% {
        opacity:1;
        -webkit-transform: rotateZ(-30deg);
    }
    25% {
        opacity:1;
        -webkit-transform: rotateZ(0deg);
    }
    37% {
        opacity:1;
        -webkit-transform: rotateZ(20deg);
    }
    50% {
        opacity:1;
        -webkit-transform: rotateZ(0deg);
    }
    62% {
        opacity:1;
        -webkit-transform: rotateZ(-15deg);
    }
    75% {
        opacity:1;
        -webkit-transform: rotateZ(0deg);
    }
    87% {
        opacity:1;
        -webkit-transform: rotateZ(5deg);
    }
    100% {
        opacity:1;
        -webkit-transform: rotateZ(0deg);
    }
}
@-moz-keyframes new_animate {
    0% {
        opacity:0;
        -moz-transform: rotateZ(-60deg);
    }
    12% {
        opacity:1;
        -moz-transform: rotateZ(-30deg);
    }
    25% {
        opacity:1;
        -moz-transform: rotateZ(0deg);
    }
    37% {
        opacity:1;
        -moz-transform: rotateZ(20deg);
    }
    50% {
        opacity:1;
        -moz-transform: rotateZ(0deg);
    }
    62% {
        opacity:1;
        -moz-transform: rotateZ(-15deg);
    }
    75% {
        opacity:1;
        -moz-transform: rotateZ(0deg);
    }
    87% {
        opacity:1;
        -moz-transform: rotateZ(5deg);
    }
    100% {
        opacity:1;
        -moz-transform: rotateZ(0deg);
    }
}
@-o-keyframes new_animate {
    0% {
        opacity:0;
        -o-transform: rotateZ(-60deg);
    }
    12% {
        opacity:1;
        -o-transform: rotateZ(-30deg);
    }
    25% {
        opacity:1;
        -o-transform: rotateZ(0deg);
    }
    37% {
        opacity:1;
        -o-transform: rotateZ(20deg);
    }
    50% {
        opacity:1;
        -o-transform: rotateZ(0deg);
    }
    62% {
        opacity:1;
        -o-transform: rotateZ(-15deg);
    }
    75% {
        opacity:1;
        -o-transform: rotateZ(0deg);
    }
    87% {
        opacity:1;
        -o-transform: rotateZ(5deg);
    }
    100% {
        opacity:1;
        -o-transform: rotateZ(0deg);
    }
}
@-ms-keyframes new_animate {
    0% {
        opacity:0;
        -ms-transform: rotateZ(-60deg);
    }
    12% {
        opacity:1;
        -ms-transform: rotateZ(-30deg);
    }
    25% {
        opacity:1;
        -ms-transform: rotateZ(0deg);
    }
    37% {
        opacity:1;
        -ms-transform: rotateZ(20deg);
    }
    50% {
        opacity:1;
        -ms-transform: rotateZ(0deg);
    }
    62% {
        opacity:1;
        -ms-transform: rotateZ(-15deg);
    }
    75% {
        opacity:1;
        -ms-transform: rotateZ(0deg);
    }
    87% {
        opacity:1;
        -ms-transform: rotateZ(5deg);
    }
    100% {
        opacity:1;
        -ms-transform: rotateZ(0deg);
    }
}

.up_d1 {
    animation: up_d1_animate 0.7s ease-in-out 0s 1 normal forwards;
    -webkit-animation:up_d1_animate 0.7s ease-in-out 0s 1 normal forwards;
    -moz-animation:up_d1_animate 0.7s ease-in-out 0s 1 normal forwards;
    -o-animation:up_d1_animate 0.7s ease-in-out 0s 1 normal forwards;
    -ms-animation:up_d1_animate 0.7s ease-in-out 0s 1 normal forwards;
}
@keyframes up_d1_animate {
    from {
        opacity:0;
        bottom: 33%;
    }
    to {
        opacity:1;
        bottom: 40%;
    }
}
@-webkit-keyframes up_d1_animate {
    from {
        opacity:0;
        bottom: 33%;
    }
    to {
        opacity:1;
        bottom: 40%;
    }
}
@-moz-keyframes up_d1_animate {
    from {
        opacity:0;
        bottom: 33%;
    }
    to {
        opacity:1;
        bottom: 40%;
    }
}
@-o-keyframes up_d1_animate {
    from {
        opacity:0;
        bottom: 33%;
    }
    to {
        opacity:1;
        bottom: 40%;
    }
}
@-ms-keyframes up_d1_animate {
    from {
        opacity:0;
        bottom: 33%;
    }
    to {
        opacity:1;
        bottom: 40%;
    }
}

.up_d2 {
    animation: up_d2_animate 0.7s ease-in-out 0s 1 normal forwards;
    -webkit-animation:up_d2_animate 0.7s ease-in-out 0s 1 normal forwards;
    -moz-animation:up_d2_animate 0.7s ease-in-out 0s 1 normal forwards;
    -o-animation:up_d2_animate 0.7s ease-in-out 0s 1 normal forwards;
    -ms-animation:up_d2_animate 0.7s ease-in-out 0s 1 normal forwards;
}
@keyframes up_d2_animate {
    from {
        opacity:0;
        bottom: 23%;
    }
    to {
        opacity:1;
        bottom: 30%;
    }
}
@-webkit-keyframes up_d2_animate {
    from {
        opacity:0;
        bottom: 23%;
    }
    to {
        opacity:1;
        bottom: 30%;
    }
}
@-moz-keyframes up_d2_animate {
    from {
        opacity:0;
        bottom: 23%;
    }
    to {
        opacity:1;
        bottom: 30%;
    }
}
@-o-keyframes up_d2_animate {
    from {
        opacity:0;
        bottom: 23%;
    }
    to {
        opacity:1;
        bottom: 30%;
    }
}
@-ms-keyframes up_d2_animate {
    from {
        opacity:0;
        bottom: 23%;
    }
    to {
        opacity:1;
        bottom: 30%;
    }
}

.up_d3 {
    animation: up_d3_animate 0.7s ease-in-out 0s 1 normal forwards;
    -webkit-animation:up_d3_animate 0.7s ease-in-out 0s 1 normal forwards;
    -moz-animation:up_d3_animate 0.7s ease-in-out 0s 1 normal forwards;
    -o-animation:up_d3_animate 0.7s ease-in-out 0s 1 normal forwards;
    -ms-animation:up_d3_animate 0.7s ease-in-out 0s 1 normal forwards;
}
@keyframes up_d3_animate {
    from {
        opacity:0;
        bottom: 10%;
    }
    to {
        opacity:1;
        bottom: 17%;
    }
}
@-webkit-keyframes up_d3_animate {
    from {
        opacity:0;
        bottom: 10%;
    }
    to {
        opacity:1;
        bottom: 17%;
    }
}
@-moz-keyframes up_d3_animate {
    from {
        opacity:0;
        bottom: 10%;
    }
    to {
        opacity:1;
        bottom: 17%;
    }
}
@-o-keyframes up_d3_animate {
    from {
        opacity:0;
        bottom: 10%;
    }
    to {
        opacity:1;
        bottom: 17%;
    }
}
@-ms-keyframes up_d3_animate {
    from {
        opacity:0;
        bottom: 10%;
    }
    to {
        opacity:1;
        bottom: 17%;
    }
}

.music {
    background-image:url(../img/music.png);
    background-position:-53px 0;
    width:49px;
    height:49px;
    display: block;
    z-index:8;
    position:absolute;
    right:20px;
    top:20px;
    cursor: pointer;
}
.music_muted {
    background-image:url(../img/music.png);
    background-position:0 0;
}

.music  #audio{
    width:49px;
    height:49px;
}

.mouse {
    position:absolute;
    bottom:20px;
    right:20px;
    width:126px;
    height:56px;
    z-index:6000;
    display:none;
}

.share_wx{
    width: 100%;
    height: 100%;
    background:url(../img/logo.jpg) no-repeat;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.8);
    z-index: 9999;
    position: absolute;
    display: none;
}
.share_wx .guide{
    position: absolute;
    top: 10px;
    right: 10%;
}
.share_wx .txt{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -262px;
    margin-top: -52px;
}
.content-wrap{
    width: 640px;
    min-width: 640px;
    max-width: 640px;
    height: 780px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -390px;
    margin-left: -320px;
}
.bg_01 { background:url(../img/bg_01.jpg) top center no-repeat; background-size:100%;}
.bg_02 { background:url(../img/bg_02.jpg) top center no-repeat; background-size:100%;}
.bg_03 { background:url(../img/bg_03.jpg) bottom center no-repeat; background-size:100%;}
.bg_04 { background:url(../img/bg_04.jpg) bottom center no-repeat; background-size:100%;}
.bg_05 { background:url(../img/bg_05.jpg) bottom center no-repeat; background-size:100%;}