<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration
    xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender
        name="EMAIL"
        class="cn.com.carsmart.util.log4j.CarsmartSMTPAppender">
        <param
            name="Threshold"
            value="${error.email.threshold.level}" />
        <param
            name="BufferSize"
            value="512" />
        <param
            name="SMTPHost"
            value="mail.che08.com" />
        <param
            name="From"
            value="navi@che08.com" />
        <param
            name="To"
            value="sangjianbo@che08.com" />
        <param
            name="Subject"
            value="ERROR LOGGING - ${project.name}" />
        <param
            name="SMTPUsername"
            value="navi" />
        <param
            name="SMTPPassword"
            value="17!1ff'61%b21" />
        <layout
            class="org.apache.log4j.PatternLayout">
            <param
                name="ConversionPattern"
                value="%-5p %d{ISO8601} [%t][%x] [%c] - %m%n" />
        </layout>
        <filter
            class="org.apache.log4j.varia.LevelRangeFilter">
            <param
                name="LevelMin"
                value="error" />
            <param
                name="LevelMax"
                value="fatal" />
        </filter>
    </appender>

    <appender
        name="CONSOLE"
        class="org.apache.log4j.ConsoleAppender">
        <param
            name="Threshold"
            value="${log.level}" />
        <layout
            class="org.apache.log4j.PatternLayout">
            <param
                name="ConversionPattern"
                value="%-5p %d{ISO8601} [%t][%x] [%c] - %m%n" />
        </layout>
    </appender>

    <appender
        name="FILE"
        class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy
            class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param
                name="FileNamePattern"
                value="/usr/local/tomcat7/logs/carsmart/${project.artifactId}/${project.artifactId}.%d.log.gz" />
        </rollingPolicy>
        <layout
            class="org.apache.log4j.PatternLayout">
            <param
                name="ConversionPattern"
                value="%5p %d{ISO8601} [%t][%x] [%c] - %m%n" />
        </layout>
    </appender>

    <logger
        name="cn.com.carsmart"
        additivity="false">
        <level
            value="${log.level}" />
        <appender-ref
            ref="CONSOLE" />
        <appender-ref
            ref="FILE" />
        <appender-ref
            ref="EMAIL" />
    </logger>

    <logger
        name="java.sql.PreparedStatement"
        additivity="false">
        <level
            value="${log.level}" />
        <appender-ref
            ref="CONSOLE" />
        <appender-ref
            ref="FILE" />
        <appender-ref
            ref="EMAIL" />
    </logger>

    <root>
        <level
            value="${log.level}" />
        <appender-ref
            ref="CONSOLE" />
        <appender-ref
            ref="FILE" />
        <appender-ref
            ref="EMAIL" />
    </root>

</log4j:configuration>
