@CHARSET "UTF-8";
.layout-header {
    height: 41px;
    width: 100%;
    background: url('./images/header_bg.png') repeat-x 0px 0px;
}
.layout-header .toolbar .message {
    background: transparent url('./images/msg-icon.png') no-repeat scroll center center;
    height: 41px;
    width: 36px;
    border-left: 1px solid #CA341C;
    border-right: 1px solid #A0200E;
}
.layout-header .menubar-ul li:hover{
    background: #C72E07; 
    color:#fff;
}
.layout-header .menubar-ul li span.icon:hover {
    background: #C72E07 url('images/ui_layout_operation_icon.png') no-repeat 3px 6px;
}
.userSetLi {
    float: left;
    position: relative;
    height: 41px;
    width: 36px;
    display: inline;
    padding: 0 15px;
    cursor: pointer;
    z-index: 25;
}
.userSetLi:hover .menubar-ul{
     display:block;
}
.setIcon {
    background: transparent url('images/set-icon.png') no-repeat scroll center center;
    border-right: 1px solid #A0200E;
    border-left: 1px solid #CA341C;
}
.notifyIcon {
    background: transparent url('images/notifiIcon.png') no-repeat scroll center center;
    border-right: 1px solid #A0200E;
}
.userIcon {
     background: transparent url('images/user-icon.png') no-repeat scroll center center;
    border-left: 1px solid #CA341C;
}
.userIcon:hover {
     background: transparent url('images/user-iconHover.png') no-repeat scroll center center;
}
.toolbarOverlay{
    background: transparent url('images/toolbar_overlay.png')  scroll center 0;
    float: left;
}
.layout-header-inner {
    padding: 0px 15px 0px;
    height: 34px;
}
.layout-header .toolbar .message .messageCount {
    display: block;
    top: 3px;
    position: absolute;
    color: white;
    left: 31px;
}
.layout-header .logo{
    margin-top:5px;
    color: #E2EEFE;
    font-family: 微软雅黑;
    font-size: 18px;
    line-height: 26px;
    float: left;
}
.ui-menu-level-0-content {
    padding: 11px 11px 8px 1px;
    overflow: hidden;
    color: #AFB2B5;
}
.ui-menu-items-container .current{
    background:#24282c;
}
.ui-menu-items-container .current .ui-menu-submenu-container{
     background:#24282c;
     color: #AFB2B5;
}
.ui-menu-items-container .current  .ui-menu-level-0-content{
    
}
.ui-menu-level-0 .item-icon{
    width:24px;
    height:24px;
}
.ui-menu-level-0 .jbxx{
   background:url('images/jbxx.png') no-repeat;
}
.ui-menu-level-0:hover .jbxx,.current .jbxx{
     background:url('images/jbxx_hover.png') no-repeat;
}
.ui-menu-level-0 .nrgl{
   background:url('images/nrgl.png') no-repeat;
}
.ui-menu-level-0:hover .nrgl,.current .nrgl{
     background:url('images/nrgl_hover.png') no-repeat;
}
.ui-menu-level-0 .tjfx{
   background:url('images/tjfx.png') no-repeat;
}
.ui-menu-level-0:hover .tjfx,.current .tjfx{
     background:url('images/tjfx_hover.png') no-repeat;
}
.ui-menu-level-0 .xtgl{
   background:url('images/xtgl.png') no-repeat;
}
.ui-menu-level-0:hover .xtgl,.current .xtgl{
     background:url('images/xtgl_hover.png') no-repeat;
}
.ui-menu-level-0 .ywzx{
   background:url('images/ywzx.png') no-repeat;
}
.ui-menu-level-0:hover .ywzx,.current .ywzx{
     background:url('images/ywzx_hover.png') no-repeat;
}

.layout-menu-inner{
    background:#33393D;
}
.ui-menu-level-0,.ui-menu-level-0-content{
    background-image:none;
}
.ui-menu-submenu-container li:hover,.ui-menu-submenu-container .menuSelect{
        background:#181b1e;
        color:#FFFFFF;
        padding-left: 33px;
        border-left:4px solid #C62D07;
    }
.ui-menu-header{
    background:#33393d;
}
.ui-menu-header .ui-menu-header-inner {
    background: none;
    color: #AFB2B5;
    font-size:14px;
}
.layout-menu-container{
    padding:0;
}
.ui-menu-scroll{
    margin-top:0px;
}
.ui-menu-submenu-container{
    border:none;
    background:#24282c;
}
.messageCount .inner {
    background: transparent url('images/ui_layout_message_count.png') no-repeat scroll right -19px;
    display: inline-block;
    padding: 1px 6px 1px 1px;
}
.messageCount {
background: transparent url('images/ui_layout_message_count.png') no-repeat scroll left 0px;
color: white;
display: inline-block;
font-size: 12px;
line-height: 14px;
padding-left: 5px;
position: absolute;
right: -10px;
top: -5px;
}
.messageIcon{
    height:120px;
    width: 30%;
    float: left;
}
.shopMaintenance{
    background:url('images/shopMaintenance.png') no-repeat center;
}
.shopAppointment{
    background:url('images/shopAppointment.png') no-repeat center;
}
.shopDocument{
    background:url('images/shopDocument.png') no-repeat center;
}
.shopInsurance{
    background:url('images/shopInsurance.png') no-repeat center;
}
.shopProduct{
    background:url('images/shopProduct.png') no-repeat center;
}
.shopUsedcar{
    background:url('images/shopUsedcar.png') no-repeat center;
}
.shop4sMessage{
    background:url('images/shop4sMessageBg.png');
    width: 40%;
    height:126px;
    display:inline-block;
    float:left;
    margin:20px;
    max-width: 470px;
}
.shop4sMessage:hover{
      background:url('images/shop4sMessageBgHover.png');
      cursor: pointer;
}
.shop4sEntryIcon{
    background:url('images/shop4sEntryIcon.png') no-repeat center;
    height:120px;
    width: 30%;
    float:left;
}
.shop4sEntryIcon:hover{
      background:url('images/shop4sEntryIconHover.png') no-repeat center;
      cursor:pointer;
}
.messageContent{
    margin: 15px 0;
    width: 40%;
    float: left;
    text-align: left;
}
.messageContent p{
    padding: 5px 0;
}
.messageContent p span{
    color:red;
    font-size: 26px;
    
}
.logo img{
    vertical-align:middle;
}
#corp_name{
    float: left;
    font-size: 19px;
    line-height: 38px;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    font-family:'微软雅黑'
}
 .url-pic  img{
                width:140px;
            }
   .ui-pagination{
    color: #333333
}
.layout-footer{
    position:absolute;
    bottom:0px;
    width:100%;
}
.ui-textarea textarea{
    height:100%;
}
