*{
	margin:0px;
	padding:0px;
}
.ui-layout-infobox{
	border:#bec2c8 1px solid;
	font-family:"微软雅黑";
	margin-bottom:23px;
}
.ui-layout-infobox-header{
	background-color:#f1f1f1;
	border-bottom:1px #bec2c8 solid;
	color:#33393e;
	font-family:微软雅黑;
	font-size:16px;
	font-weight:normal;
	padding:15px 10px 0px 20px;
	height:30px;
}
.toolbox{
	float:right;
}
.message-content{
	color:#494f55;
	font-size:12px;
	padding:20px 20px 10px;
}
.ui-layout-infobox-sperate{
	height:1px;
	background:#dee0e3;
}
.ui-layout-infobox-maininfo{
	height:100px;
	padding:60px 0px;
	border-bottom:1px solid #e5e5e5;
	margin:0px 25px;
}
.ui-layout-infobox-list{
	padding-left:7px;
	margin-bottom:20px;
}
.ui-layout-infobox-list li{
	background:transparent url('images/message-icon.png') no-repeat scroll 0 0;
	padding:20px 0px 0px 35px;
	overflow:hidden;
	*margin-bottom:-2px;
}
.ui-layout-infobox-list .last{
	background:transparent url('images/message-icon-last.png') no-repeat scroll 0 0;
}
.ui-layout-infobox-footer{
	margin: 0px 3px;
	height: 1px;
	bottom: -3px;
	border: 1px solid #bec2c8;
	position: relative;
}
.message-content h3{
	color:#666666;
	font-family:Arial;
	font-size:28px;
	height:40px;
	line-height:40px;
	padding-left:50px;
	margin-bottom:-1px;
}
.maintenanceIcon{
	background:transparent url('images/maintenance-icon.png') no-repeat scroll 0 0;
}
.securityIcon{
	background:transparent url('images/security-icon.png') no-repeat scroll 0 0;
}
.statusIcon{
	background:transparent url('images/status-icon.png') no-repeat scroll 0 0;
}
.terminalIcon{
	background:transparent url('images/terminal-icon.png') no-repeat scroll 0 0;
}
.diagnosisIcon{
	background:transparent url('images/diagnosis-icon.png') no-repeat scroll 0 0;
}
.ui-layout-infobox-count{
		display:inline-block;
		font-family: Arial;
		font-size: 28px;
		color: #666666;
		float: left;
		position: relative;
		left: -15px;
		height: 40px;
		line-height: 40px;
		cursor:pointer;
	}
	.clear{
		clear:both
		}
.infodetail{
		background:transparent url('images/message-bg.gif') no-repeat scroll left 0px;
		line-height:16px;
		padding-left:10px;
	}

.infodetail .infodetail-inner{
	background:transparent url('images/message-bg.gif') no-repeat scroll right -49px;
	padding:15px 20px 15px 5px;
	max-width:420px;
}
.infodetail .infodetail-inner div{
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
	width:100%;
}
.infodetail:hover{
	margin-left:10px;
}
.infodetail strong{
	margin-right:5px;
}
.infodetail .keyMark{
	margin-left:5px;
}
.infodetail .dataLebl{
	color:#9ea8b3;
	margin-left:20px;
}

.message-table {
	border-collapse:collapse;
	border-spacing:0px;
	font-family:'宋体 ';
	font-size:12px;
	color:#333;
	width:100%
}
.message-table tr td{
	border:1px solid #C8C8C8;
 	font-family: "微软雅黑";
	font-size: 14px;
	padding:15px 10px;
}
.message-table tr.readedTr{
	color:#999999
}
 .message-table tr.readedTr .keyMark{
	color:#999999
 }
.message-table tr.readedTr td.Unread{
		background: url(images/readIcon.png) no-repeat 72px center;
		padding-right: 10px;
}
.message-table tr td.Unread{
		background: url(images/unreadIcon.png) no-repeat 72px center;
		padding-right: 10px;
	}
.message-table tr td.Readed{
		background: url(images/readIcon.png) no-repeat 72px center;
		padding-right: 10px;
	}
.message-table tr:hover td{
		background-color:#fef7e5;
		cursor:pointer;
	}
.message-table tr:hover td.Unread{
		background-color:#fef7e5;
		cursor:pointer;
	}
.message-table th{
		background:url(images/message-title-bg.png) repeat;
		border:1px solid #C8C8C8;
		height:28px;
		font-weight: bold;
	}
.message-table th.lastTh{
		 min-width:100px;
		 padding:0px 10px;
	}

.triangular{
		display:inline-block;
		height:28px;
		width:20px;
		background:url(images/triangular-down.png) no-repeat center;
		cursor:pointer;
		float:right;
	}

.info-type{
		display:none;
		margin: 0px;
		padding: 0px;
		position: absolute;
		border: 1px solid #c8c8c8;
		width: 68px;
		background: white;
		letter-spacing: 11px;
		list-style:none;
	}
	span.infoType{
			height: 28px;
			display:inline-block;
			line-height: 28px;
			float: left;
			margin: 0px 10px;
		}
.info-type li{
		padding:5px;
		border-bottom:1px solid #e5e5e5;
		cursor:pointer;
	}
	.border-bottom{
			height:32px;
			padding: 0px 0px 10px 0px;
			border-bottom:1px solid #e5e5e5;
			margin: 0px 10px;
		}
		.smb-message-list{
				margin: 10px 10px;
			}
.toolbox .operation{
	margin-left:12px;
}
.infobox-operation-zoom {
	background: url('images/infoboxOpertiaon.png') no-repeat;
	height: 16px;
	width: 16px;
	display: inline-block;
	cursor:pointer;
}
.infobox-operation-zoom2{
	background: url('images/infoboxOpertiaon.png') no-repeat;
	height: 16px;
	width: 16px;
	display: inline-block;
	cursor:pointer;
}
.infobox-operation-hide {
		background: url('images/infoboxOpertiaon.png') no-repeat 0px -66px;
		height: 15px;
		width: 16px;
		display: inline-block;
		cursor:pointer;
		}
.infobox-operation-show{
		background: url('images/infoboxOpertiaon.png') no-repeat -40px -66px;
}
.searchWrap{
	width:100%;
	margin-bottom:10px;
	line-height:30px;
}
.categoryChoose{
	background:transparent url(images/buttonBg.png) no-repeat scroll left 0px;
	color:#333333;
	font-size:12px;
	padding-left:1px;
	display:inline;
	margin-right:20px;
}
.categoryChoose-inner{
	background:transparent url(images/buttonBg.png) no-repeat scroll right -32px;
	padding:0px 1px 0px 0px;
}
.categoryLabel{
	font-size:14px;
}
.button-left,.button-middle,.button-right{
	background:none;
}
.button-left,.button-middle,.button-right {
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	width:auto;
	height: 30px;
	float:left;
}
.button-left{
	padding:0 14px;
	border-right:1px #c6c9d4 solid;
}
.button-middle {
	border-right:1px #c6c9d4 solid;
	padding:0 14px 0px 15px;
}
.button-right {
	padding:0 14px 0px 15px;
}
.button-left-selected{
	background:transparent url(images/buttonBg.png) no-repeat scroll left -64px;
}
.button-right-selected{
	background:transparent url(images/buttonBg.png) no-repeat scroll left -64px;
}
.button-middle-selected{
	background:transparent url(images/buttonBg.png) no-repeat scroll center -64px;
}
.dateWrap{
	display:inline;
	margin:0px 20px 0 0;
}
.dateWrap .Wdate{
	height:28px;
}
.userSetLi{
	float:left;
	position:relative;
	height:65px;
	width:36px;
	display:inline;
	margin-left:18px;
	cursor:pointer;
	z-index:25;
}
.ui-menu-level-0 .item-icon{
	background:transparent url(images/zxqy_menu_icon.png) no-repeat scroll 0 0;
	margin:0px 10px 0px 0px;
	width:23px;
}
.ui-menu-level-0 label{
	height:auto;
	line-height:21px;
}
.ui-menu-level-0 :hover{
	color: #fd6500;
}
.ui-menu-level-0 .ycgl{
	background-position:0px 0px;
}
.ui-menu-level-0:hover .ycgl,.current .ycgl{
	background-position:0px -33px;
}
.ui-menu-level-0 .claq{
	background-position:-52px 0px;
}
.ui-menu-level-0:hover .claq,.current .claq{
	background-position:-52px -33px;
}
.ui-menu-level-0 .clda{
	background-position:-104px 0px;
}
.ui-menu-level-0:hover .clda,.current .clda{
	background-position:-104px -33px;
}
.ui-menu-level-0 .zdgl{
	background-position:-156px 0px;
}
.ui-menu-level-0:hover .zdgl,.current .zdgl{
	background-position:-156px -33px;
}
.ui-menu-level-0 .tjcx{
	background-position:-208px -1px;
}
.ui-menu-level-0:hover .tjcx,.current .tjcx{
	background-position:-208px -34px;
}
.ui-menu-level-0 .jbxx{
	background-position:-260px 0px;
}
.ui-menu-level-0:hover .jbxx,.current .jbxx{
	background-position:-260px -33px;
}
.ui-menu-level-0 .xtgl{
	background-position:-312px 0px;
}
.ui-menu-level-0:hover .xtgl,.current .xtgl{
	background-position:-312px -33px;
}  
.ui-menu-level-0 .sy{
	background-position:-364px 0px;
}
.ui-menu-level-0:hover .sy,.current .sy{
	background-position:-364px -33px;
}  
.msgIcon{
	background: transparent url('images/msg-icon.png') no-repeat scroll center 0;
}
.msgIcon:hover{
	background: transparent url('images/msg-icon-hover.png') no-repeat scroll center 0;
}
.setIcon{
	background: transparent url('images/set-icon.png') no-repeat scroll center 0;
}
.setIcon:hover{
	background: transparent url('images/set-icon-hover.png') no-repeat scroll center 0;
}
.userIcon{
	background: transparent url('images/user-icon.png') no-repeat scroll center 0;
}
.userIcon:hover{
	background: transparent url('images/user-icon-hover.png') no-repeat scroll center 0;
}
.messageCount{
	background:transparent url(images/message-count.png) no-repeat scroll left 0px;
	color:#ffffff;
	display:inline-block;
	font-size:12px;
	line-height:14px;
	padding-left:5px;
	position:absolute;
	right:-10px;
	top:-5px;
}
.messageCount .inner{
	background:transparent url(images/message-count.png) no-repeat scroll right -20px;
	display:inline-block;
	padding:2px 6px 2px 1px;
}
.login-info{
	display:none;
}
.buttonNone{
	background:url("images/button-none.png");
	height:30px;
	width:63px;
	display:inline-block;
	float:left;
	margin-right:10px;
}
.buttonDelete{
	background:url("images/button_delete.png");
	height:30px;
	width:63px;
	display:inline-block;
	float:left;
	margin-right:10px;
	cursor:pointer;
}
.buttonRefresh{
	background:url("images/button_refresh.png");
	height:30px;
	width:63px;
	display:inline-block;
	float:left;
	margin-right:10px;
	cursor:pointer;
}
.pass{
	background:url('images/passForbid.png') no-repeat;
	height:27px;
	width:37px;
	display:inline-block;
}
.forbid{
	background: url('images/passForbid.png') 0px -45px no-repeat;
	height: 34px;
	width: 38px;
	display: inline-block;
}
.pagePreButton{
	display:inline-block;
	background:url('images/page_left.png');
	height:25px;
	width:25px;
	cursor:pointer;
}
.pageNextButton{
	display:inline-block;
	background:url('images/page_right.png');
	height:25px;
	width:25px;
	cursor:pointer;
}
.pagePreButton:active{
	background:url('images/page_left_hover.png');
}
.pageNextButton:active{
	background:url('images/page_right_hover.png');
}
.messagePageShow{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin-right: 10px;
	font-size: 12px;
	float: left;
	color:#bcbcbc
}
.messagePageShow span{
	margin:2px;
	display:inline-block;
}
.messagePageShow span.currentPage{
	color:#5a74a2
}
.keyMark{
	color:#cc0000;
	font-style:normal;
}
.operateList{
	left:-137px;
	position:absolute;
	top:42px;
	width:172px;
	z-index:100;
	display:none;
}
.userSetLi:hover .operateList{
	 display:block;
}
.operateList .sharpTitle{
	 height:13px;
	 background: url('images/gray-sharp.png') no-repeat scroll -2px 0 transparent;
}
.operateList .operateLi{
	background-color:#2f3d6e;
	color:#fff;
	text-align:center;
	padding:0px 12px;
}
.operateList .operateLi li{
	cursor:pointer;
	line-height:38px;
}

ul.ulStyleFloat{
    float: right;
    width: 500px;
    list-style: none;
    margin-left: 30px;
    padding-left:10px;
    overflow:hidden;
}
ul.ulStyleFloat li{
    float:left;
    margin:10px 20px;
    color:#b0b0b0;
    margin-top: 0px;
}
ul.diagnoisisUl > li{
    min-height: 60px;
    border-bottom: solid 1px #e9e9e9;
    height: auto;
    overflow:auto;
    padding-top:10px;
}
.fieldSet_container{
	width: 100%;
	font-family: "微软雅黑";
	font-size: 12px;
}
.fieldSet_head{
	background: url('images/headbg.png');
	border: 1px solid #2D508A;
	height: 33px;
	vertical-align: middle;
	line-height: 33px;
	color: white;
	padding-left: 10px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.fieldSet_wrapper{
	border: 1px solid #BBB;
	background: white;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 30px 20px;
}
.fieldSet_wrapper .ui-fieldset input[type="text"]{
	margin:0 5px;
}
.fieldSet_wrapper .ui-fieldset p{
	margin-bottom:10px;
	color:#3D4249;
}
.layout-header{
	background:transparent url('images/header_bg_right.gif') repeat-x scroll left 0;
	height:100px;
}
.layout-header-inner{
	background:transparent url('images/header_bg.jpg') no-repeat scroll left 0;
	padding:35px 19px 0px 17px;
	height:65px;
}
.layout-header .logo{
	font-family:微软雅黑;
	font-size:29px;
	line-height:32px;
}
.layout-header .logo img{
	vertical-align:middle;
}
.layout-header .logo-icon{
	margin-right:15px;
}
.layout-header .right-wrap{
	float:right;
}
.layout-header .toolbar {
	width:auto;
	height:65px;
}
.layout-header .toolbar .message {
	background:transparent url('images/msg-icon.png') no-repeat scroll center 0;
	height:65px;
	width: 36px;
}
.layout-header .toolbar .message:hover {
	background:transparent url('images/msg-icon-hover.png') no-repeat scroll center 0;
}
.layout-header .toolbar .message span.messageCount {
	top: 34px;
}
.layout-search{
	display:none;
}
.layout-header span.logo{
	background:url("images/crop_logo.png") left center no-repeat;
	height:100px;
	width:465px;
	margin: 0px 15px;
}
.layout-main-container,.bbit-grid{	
	font-family:微软雅黑;
}
.ui-form-list{
	font-size:14px;
	color:#2e2e2e;
}
.layout-menu-container{
	background:transparent url('images/menu_bg_repeat.jpg') repeat-y scroll 0 0;
	border-right:0px;
	padding:0px;
	width:200px;
	overflow:visible;
	position:static;
}
.layout-menu-inner{
	background:transparent url('images/menu_bg_bottom.jpg') no-repeat scroll 0 bottom;
	width:auto;
	overflow-x:hidden;
	overflow-y:auto;
	*position:relative;
}
.ui-menu-level-0{
	background:transparent url('images/menu_bg.png') no-repeat scroll left 0px;
	color:#cfeaff;
	padding-left:10px;
	margin-bottom:0px;
}
.ui-menu-level-0-content{
	background:transparent url('images/menu_bg.png') no-repeat scroll right -49px;
	padding:14px 15px 11px 0px;
}
.current .ui-menu-level-0{
	color:#f1760b;
	font-weight:bold;
}
ul.ui-menu-items-container{
	width:97%;
	text-align:left;
	margin:0 3px;
}
.ui-menu-items-container > li{
	width:100%;
	margin-bottom:3px;
}
.ui-menu-header label {
	background: url("images/menu_bg_middle.png") no-repeat scroll transparent;
	color: white;
	display: inline-block;
	float: left;
	font-size: 18px;
	height: 38px;
	line-height: 38px;
	padding-left: 10px;
	width:139px;
}
.ui-menu-header-right{
  height: 37px;
  width: 10px;
  display: block;
  float:left;
  background: url("images/menu_bg_right.png") no-repeat scroll  transparent;
}
span.ui-menu-switch{
	background:transparent url('images/openClose.png') no-repeat scroll 0 0;
	float:right;
	width:10px;
	height:8px;
	display:inline;
	position:static;
	margin-top:5px;
}
span.ui-menu-switch:hover{
	background:transparent url('images/openClose.png') no-repeat scroll -10px 0;
}
.current .ui-menu-switch,.current .ui-menu-switch:hover{
	background-position:-10px -9px;
}
.ui-menu-submenu-container{
	background:transparent url('images/submenu-bottom-left.png') no-repeat scroll left bottom;
	clear:both;
	display:none;
	padding:0px 0px 0px 4px;
	border:none;
	width:auto;
	margin:0px;
}
.ui-menu-submenu-container ul{
	background:transparent url('images/submenu-bottom-right.png') no-repeat scroll right bottom;
	color:#666666;
	padding:0px 5px 10px 0px;
}
.ui-menu-submenu-container li{
	background:none;
	border:1px transparent solid;
	padding:0px 10px 0px 37px;
	height:28px;
	line-height:28px;
}
.ui-menu-submenu-container li:hover,.ui-menu-submenu-container .menuSelect{
	background:transparent url('images/submenu-hover.gif') repeat-x scroll 0 0;
	border:1px #a8b4c5 solid;
}
.current .ui-menu-submenu-container{
	display:block;
}
.panel{
	padding:20px;
	overflow-x:auto;
	*position:relative;
}
div.urlContentWraper{
	overflow:visible;
	min-width:784px;
}
.message-container-left,.message-container-right{
	float:left;
	display:inline;
	width:50%;
	*width:49.9%;
}
.message-container-left .message-container-inner{
	margin-right:10px;
}
.message-container-right .message-container-inner{
	margin-left:10px;
}
.message-more{
	text-align:center;
	margin-bottom:20px;
}
.message-more a{
	background:transparent url('images/message-more-btn.gif') no-repeat scroll 0 0;
	color:#666666;
	display:inline-block;
	font-size:14px;
	width:271px;
	height:34px;
	line-height:34px;
	text-decoration:none;
}
.message-more a:hover{
	background-position:0 -35px;
}
.message-more a:active{
	background-position:0 -70px;
}
.ui-form-content li{
	margin-bottom:20px;
}
.bbit-grid div.mDiv div.ftitle {
	float: left;
	font-size: 14px;
	font-family: 微软雅黑;
	color:#333;
	background:none;
	padding:0
}
.bbit-grid div.mDiv .pageDiv{
	color:#333
}
span.ui-autocomplete-btn{
	*position:static;
	*margin:1px 0px 0px -31px;
}