@charset "utf-8";
.content{
	margin-top:29px;
}
.feedback_intro{
	margin-top:70px;
}
.feedback_intro div{
	margin: 0 auto 14px auto;
	width: 600px;
}
.desc{
	width: 78px;
	height:28px;
	line-height:28px;
	text-align: right;
	float: left;
}
.feedback_intro label{
	font-size:14px;
    font-family:"微软雅黑";
    color:#555;
}
.feedback_intro input,textarea{
	font-size:14px;
    font-family:"微软雅黑";
    color:#555;
}
.feedback_intro input{
	height:26px;
	width:245px;
	margin:0 10px 0 4px;
	line-height:26px;
	vertical-align:middle;
	border:1px solid #c3c9d2;
	padding: 0 5px;
}
textarea{
	width:420px;
	margin:0 10px 0 4px;
	border:1px solid #c3c9d2;
	padding: 0 5px;
}
.tip{
	height:28px;
	line-height:28px;
	font-size:14px;
    font-family:"微软雅黑";
    color:#999999;
}
#submit,#reset{
	width:99px;
	height:33px;
	line-height:33px;
	background:url(../img/feedback_submit.png) no-repeat;
	border:none;
	cursor: pointer;
}
#submit{
	margin-left: 82px;
	background:url(../img/feedback_submit.png) no-repeat;
}
#reset{
	margin-left: 20px;
	background:url(../img/feedback_reset.png) no-repeat;
}
.thx_intro{
	display:none;
	margin-top:70px;
}
.thx_intro p,.thx_intro span,.thx_intro a{
	text-align: center;
	font-size:18px;
    font-family:"微软雅黑";
}
.thx_intro p,.thx_intro span{
	color:#555;
}
.thx_intro a{
	color:#D41F30;	
}
