@charset 'utf-8';
p.banner{
	text-align: center;
}
div.content{
	overflow: hidden;
}
div.content div.left p{
	font: 14px/1.5 "微软雅黑";
	color: #555;
}
div.content div.left p.text{
	text-indent: 2em;
}
div.left{
	float: left;
	width: 68%;
}
p.text{
	margin-bottom: 28px;
}
p.text span{
	font: 18px/1.5 "微软雅黑";
}
h2{
	margin-left:5px;
	font-size:18px;
    font-family:"微软雅黑";
    color:#333;
}
.line_qd{	
	height:2px;
	width:100%;
	margin:2px 0 26px 0;
	background-color:#c3c9d2;
	overflow:hidden;
}
.line_qd p{
	background-color:#d41f30;
	height:2px;
}
div.promise .line_qd p{
	width:14%;
}
div.reson_qd .line_qd p{
	width:29%;
}
div.conditions .line_qd p{
	width:11%;
}
div.contactWay .line_qd p{
	width:11%;
}
div.agentorSelect .line_qd p{
	width:31%;
	background-color:#000;
}
div.promise,div.conditions{
	margin-bottom: 33px;
}
div.promise ul li,div.conditions ul li{
	list-style: disc inside;
	padding:8px 0 8px 19px;
	font: 14px/1.5 "微软雅黑";
	color: #555;
}
div.reson_qd ul{
	overflow: hidden;
	margin-bottom: 40px;
	padding-left: 2%;
}
div.reson_qd ul li{
	float: left;
	width: 20%;
}
div.reson_qd ul li p{
	margin: 5px 0;
}
div.reson_qd ul li p.centerText{
	padding-left: 6%;
}
div.contactWay{
	margin-bottom: 60px;
}
div.contactWay div.comments,div.contactWay div.contact{
	padding-left: 1%;
}
div.contactWay div.contact{
	margin-top: 20px;
}
div.right{
	float: left;
	width: 30%;
	padding-left: 2%;
}
div.right p.commission img{
	width: 100%;
}
div.right div.commission{
	position: relative;
	margin-bottom: 23px;
}
div.right form{
	text-align: center;
}
div.right form input.text{
	width: 99%;
	height: 30px;
	line-height: 30px;
	background: none;
	border: 1px solid #c3c9d2;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #555; 
}
div.right form span.button{
	display: inline-block;
	width: 18%;
	background-color: #5A9D1E;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	color: #fff;
	height: 24px;
	line-height: 24px;
	margin-top: 9px;
	cursor: pointer;
}
/*input[placeholder]{
	color: #c2c2c6!important;
}*/
div.agentDatas{
	position: absolute;
	z-index: 2;
	top:85px;
	left: 0;
	padding: 0 28px 0 30px;
	*padding:0 15px 0 36px;
	font-size: 10px;
	color: #6e7a92;
}
p.privilegeTime{
	color: #fb451f;
	text-align: center;
	margin-top: 25px;
	position: absolute;
	top:63px;
	width:250px;
	font-family:"微软雅黑";
	white-space:nowrap;
}
p.privilegeTime span{font-family: "微软雅黑";}
p.privilegeCon{
	text-indent: 2em;
	font-family:"微软雅黑";
	font-size:13px;
}
p.privilegeCon span{
	font-family:"微软雅黑";
	font-size:13px;
}
p.chapter{
	position: absolute;
	z-index: 3;
	bottom:-40px;
	right:0;
	*right:8px;
}
p.chapter img{
	width: 90%;
	*width:80px;
}
p.message{
	margin-top: 30px;
	text-align: center;
	font-size: 18px;
	font-family: "微软雅黑";
}
.y-line{display:inline-block;width:35px;border-bottom: 1px solid #6e7a92;vertical-align: bottom;}
.y-line2{width:40px;}