* {font: 14px/1.5 "微软雅黑";list-style: outside none none;margin: 0;padding: 0;}
a{text-decoration: none;}
.row-div{overflow: hidden;/*height:30px;*/line-height:30px;margin-bottom:8px;}
.tip{font-size:14px;margin-left:130px;}
.row-div .left{width:120px;float:left;text-align:right;margin:5px 10px 0 0;}
.row-div .left i{color: red;font-family: "宋体";margin-right: 3px;}
.row-div .right{float:left;line-height: 30px;}
.row-div .right input{width:450px;height:28px;line-height:28px;border:1px solid #ccc;padding:0 2px;}
.row-div .right .radio{width:30px;height:15px;float:left;margin-top:5px;}
.row-div .right label{float:left;margin-top:2px;}
.row-div .right .textarea{width:600px;height:300px;float:left;overflow:auto;border:1px solid #d5d5d5;}
.row-div .right .check{width:20px;height:20px;float:left;}
#searchBtn{height:30px;line-height:30px;color:#fff;font-size:14px;text-align:center;border: none;background:#57a2ff;border-radius: 5px;cursor: pointer;padding:0 3px;}
.btn{margin:30px 0;}
.btn .submit{width:270px;height:70px;text-align:center;line-height:70px;margin:50px 0 50px 130px;background:#ff3535;color:#fff;font-size:30px;color:#fff;cursor: pointer;border: none;border-radius: 8px;}
.success, .error{margin:100px 0;}
.success h2, .error h2{height:80px;padding-top:50px;font-size:32px;padding-left:425px;font-family:"微软雅黑";}
.error h2{padding-left:465px;}
.success h2{background: url(img/success.png) 350px 0 no-repeat;color:#80b922;}
.error h2{background: url(img/error.png) 350px 0 no-repeat;color:#d12235;}
.success p, .error p{text-align:center;font-size:18px;margin:50px 0;line-height:18px;}
.success p a{color:#57a2ff;text-decoration: underline;}
.success input, .error input{background:#ff3535;width:270px;height:70px;line-height:70px;text-align:center;cursro:pointer;color:#fff;border: none;margin:50px 0 30px 410px;font-size:30px;cursor:pointer;border-radius: 8px;}

#imgShow{margin:65px 0 10px -455px}
.note{color:#d22336;}

label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }