@charset "utf-8";
/*中间*/
.middle{
	float:left;
	width:592px;
	margin-top:6px;
	margin-right:20px;
}
h2{
	margin-left:5px;
	font-size:18px;
    font-family:"微软雅黑";
    color:#333;
}
.line_1{	
	height:2px;
	width:592px;
	margin:2px 0 6px 0;
	background-color:#c3c9d2;
	overflow:hidden;
}
.line_1 p{
	background-color:#202122;
	width:83px;
	height:2px;
}
.middle .mi_con p{
	height:44px;
	line-height:44px;
    padding-left:5px;
    border-bottom:1px dashed #c3c9d2;
}
.middle .mi_con p span{
	position:relative;
	+top:10px;
}
.middle .mi_con p a,.middle .mi_con p span{
	color:#555;
	text-decoration:none;
	font-size:14px;
    font-family:"微软雅黑";
}
.middle .mi_con p span.smallicon{
	position:relative;
	top:-4px;
	+top:5px;
	margin-right:5px;
}
