@charset "utf-8";
.middle{
	float:left;
	width:592px;
	margin-right:20px;
}
h2{
	margin-left:5px;
	font-size:18px;
    font-family:"微软雅黑";
    color:#333;
}
h2#ksyd_h2{
	margin-top:23px;
}
.line_3{	
	height:2px;
	width:590px;
	margin:2px 0 6px 0;
	background-color:#c3c9d2;
	overflow:hidden;
}
.line_3 p{
	background-color:#d41f30;
	width:83px;
	height:2px;
}
.mi_con div{
	height:50px;
	line-height:50px;
	border-bottom:1px dashed #c3c9d2;
}
.mi_con div p{
	float: left;
	width: 137px;
	height: 21px;
	padding-left: 60px;
	margin-top: 13px;
}
.mi_con a{
	color:#555;
	text-decoration:none;
	font-size:14px;
    font-family:"微软雅黑";
}