@charset "utf-8";
/*myshop*/
.top_two0_dp{
	float:right;
	margin-top:15px;
	padding:6px;
	border:1px solid #df5764;
	color:#fff;
}
.top_two0_dp ul li{
	overflow:hidden;
	position:relative;
	width:270px;
}
.top_two0_dp ul li p{
    float:left;
    width:120px;
}
.top_two0_dp ul li p.shop_pone{
	margin-right:30px;
}
.top_two0_dp ul li p span{
	font-size:13px;
	font-family:"微软雅黑";
}
.top_two0_dp ul li p span.data{

	font-size:16px;
}
.top_two0_dp p.myshop,.banner p{
	font-size:16px;
	font-family:"微软雅黑";
}

/*content*/
.content{
	margin-top:27px;
}
/*banner*/
.banner,.jr_con{
	overflow:hidden;
}
.banner .img_l{
	float:left;
	border-top:1px solid #c9caca;
	border-left:1px solid #c9caca;
	border-bottom:1px solid #c9caca;
}
.banner .mzsj{
	float:left;
	width:267px;
	border:1px solid #f6b0b7;
	text-align:center;
}
.banner p{
	margin-bottom:8px;
	color:#555;
}
.banner h3{
	margin:30px 0;
}
.banner h3 p{
	display:none;
}
.banner .jrsjgl{
	margin:30px 0 36px 0;
}
/*加入我们*/
.jrwm{
	margin-top:30px;
}
h2 p{
	display:none;
}
.jr_con{
	margin-top:23px;
}
.jr_con div{
   float:left;
   margin:0 23px;
   padding:27px;
   border:1px solid #c3c9d2;
   text-align:center;
}
#jrcon_divone{
	margin-left:0;
}
#jrcon_divfive{
	margin-right:0;
}
.jr_con h3{
   margin:11px 0;
   font-size:18px;
   font-family:"微软雅黑";
   color:#333;
}
.jr_con p{
   font-family:"微软雅黑";
   color:#555;
   font-size:14px;
}
.jr_con a{
	text-decoration:none;
}

/*入驻流程*/
.rzlc{
	margin-top:50px;
}
img.lct{
	margin:40px 0 23px 11px;
	padding-bottom:40px;
}
.cjwt{
	border:1px solid #d4dde7;
}
.cjwt h3{
	height:28px;
	line-height:28px;
	border-bottom:1px solid #d4dde7;
	font-size:16px;
	font-family:"微软雅黑";
}
.cjwt h3 img{
	margin:3px 7px 3px 8px;
}
.cjwt div{
	margin:0 23px;
	padding:10px 0;
	border-bottom:1px dashed #cfcfcf;
}
#cjwt_three{
	border:none;
}
.cjwt div p{
	margin:3px 0;
}
.cjwt p span{
	font-size:14px;
	font-family:"微软雅黑";
	color:#444;
}
.cjwt p img{
	position:relative;
	top:-3px;
	margin-right:10px;
}