<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<listener>
		<listener-class>cn.com.carsmart.yangchebao.weixin.guice.WinxinGuiceConfig</listener-class>
	</listener>
	
	<filter>
		<filter-name>faultCallStackFilter</filter-name>
		<filter-class>cn.com.carsmart.exception.filter.FaultCallStackFilter</filter-class>
	</filter>
	    <listener>
        <listener-class>cn.com.carsmart.yangchebao.sms.servlet.SmsContextListener</listener-class>
    </listener>
	
	
	<filter-mapping>
		<filter-name>faultCallStackFilter</filter-name>
		<url-pattern>/ws/0.1/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>Guice Filter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Guice Filter</filter-name>
		<url-pattern>/ws/0.1/*</url-pattern>
	</filter-mapping>
	<servlet>	
		<servlet-name>weixin</servlet-name>
		<servlet-class>cn.com.carsmart.yangchebao.weixin.resource.WeixinServlet</servlet-class>
	</servlet>         
	<servlet-mapping>
		<servlet-name>weixin</servlet-name>
		<url-pattern>/weixin</url-pattern>
	</servlet-mapping>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>	
</web-app>
