@charset 'utf-8';
div.banner{margin-top: 18px;}
div.banner img{width: 100%;}
div.mainBanner{position:relative; margin-top: 30px; margin-bottom: 40px;}
div.mainBanner ul{width: 100%; height:41px;line-height: 41px; background: #ccc;border-radius:20px; overflow:hidden}
div.mainBanner li{float: left;height: 30px;line-height: 30px;margin-top: 7px;}
div.mainBanner li a{font-family: "microsoft yahei";font-size: 14px; padding: 5px 15px;border-radius: 15px;margin-left: 5px;margin-top: 5px;cursor: pointer;}
div.mainBanner li a:hover{background: #FFFFFF; color: #FD6244;}
div.mainBanner li a.click{background: #FFFFFF; color: #FD6244;}
div.mainBanner li a.first-click{background: #FFFFFF; color: #FD6244;}
/*div.hotLoading{margin-top: 40px;}*/
div.titleTop{margin-bottom: 35px;}
/*div.hotLoading div.hotLoading_top div.hotLoading_title span.title_text,*/
span.title_text{display: inline-block; height: 30px; line-height: 30px; font-size: 30px;color: #FD6244; margin: 0 25px;font-family:"microsoft yahei";}
span.left_line,span.right_line{position: relative;top: -7px;left: 0;display: inline-block;height: 0;width: 500px;border-top: 2px solid #FD6244;}
div.hotLoading div.hotLoading_con{padding-bottom: 40px;}
div.hotLoading div.hotLoading_con ul{overflow: hidden;}
div.hotLoading div.hotLoading_con ul li{float: left; width: 590px; margin:0 5px;height: 270px;margin-bottom: 18px; padding: 10px 0;background-color: #F7F7F7;overflow: hidden;}
/*div.hotLoading div.hotLoading_con ul li.first{margin-left: 0;}*/
div.hotLoading div.hotLoading_con ul li div.loadingGood{float: left;margin: 0 15px;width: 265px;height: 265px;background-color: #FFFFFF;text-align: center;line-height: 265px;}
div.hotLoading div.hotLoading_con ul li div.loadingGood img{width: 265px;height: 265px;margin: auto;}
div.hotLoading div.hotLoading_con ul li div.loadingGood_detail{position: relative;float: left;margin: 10px 0 0 16px;padding-bottom: 10px; width: 278px;overflow: hidden;}
div.hotLoading div.hotLoading_con ul li h2{margin: 10px 20px 3px 0;height: 66px;}
div.hotLoading div.hotLoading_con ul li h2 a{font-size: 22px;font-family: "microsoft yahei";}
div.hotLoading div.hotLoading_con ul li p.loadingGood_recommand{margin-right: 20px;font-size: 14px;font-family: "microsoft yahei";color: #999;margin-bottom: 5px;}
div.hotLoading div.hotLoading_con ul li span.loadingGood_price{font-size: 36px;font-family: arial;color: #FB6242;}
div.hotLoading div.hotLoading_con ul li span.loadingGood_unit{font-size: 16px;font-family: "microsoft yahei";color: #FD6B4F;}
div.progressBar{width: 250px;text-align: left;position: relative;z-index: 2;margin-top: -10px;margin-bottom: 10px;}
div.progressBar dl.barBox{height: 15px; line-height: 15px;overflow: hidden;margin: 10px 0;}
div.progressBar dl.barBox dd{float: left;}
div.progressBar dl.barBox dd.barLine{width: 250px;background: url(../img/progressBar.png) left center no-repeat;height: 16px;overflow: hidden;display: inline-block;}
div.progressBar dl.barBox dd.barLine div.charts{height: 16px;overflow: hidden;background: url(../img/progressBarColor.jpg) right center repeat-x;border-radius: 8px;}
div.progressBar span.payNum,div.progressBar span.goodNum{color:#AAAAAA;font-size: 12px;font-family: arial;}
div.progressBar span.payNum{color:#FABB12;margin-left: 5px;}
div.hotLoading div.hotLoading_con ul li span.surplus{font-size: 14px;font-family: "microsoft yahei";}

/*div.newLine,div.soonLine,div.oldLine{margin-top: 40px;}*/
/*div.newLine_top{margin-bottom: 40px;}*/
div.newLine_con,div.soonLine_con,div.oldLine_con{padding-bottom: 40px;}
div.newLine_con ul,div.soonLine_con ul,div.oldLine_con ul{overflow:hidden;}
div.newLine_con ul li,div.soonLine_con ul li,div.oldLine_con ul li{position: relative; float: left;margin-left: 15px;margin-bottom: 10px;padding: 10px;background-color: #F7F7F7;}
div.newLine_con ul li p.lineGood_name,div.soonLine_con ul li p.lineGood_name,div.oldLine_con ul li p.lineGood_name{overflow: hidden; display:block; margin-top: 10px; width: 256px;height: 26px;font-size: 16px;font-family: "microsoft yahei";color: #000;}
div.newLine_con ul li p.lineGood_introduce,div.soonLine_con ul li p.lineGood_introduce,div.oldLine_con ul li p.lineGood_introduce{overflow: hidden; display:block; width: 256px; height: 40px; margin-bottom: 4px;font-size: 12px;line-height: 14px; font-family: "microsoft yahei";color: #A6A6A6;}
div.lineGood_price span{font-family: "arial"}
div.lineGood_price span.price{font-size: 24px;font-family:arial;color: #FD6244;}
div.lineGood_price span.start{font-size: 12px;font-family: "microsoft yahei";color: #FD6244;}
div.lineGood_price span.payNum{float: right; margin-top: 5px; color:#FABF2E;}
div.lineGood_price span.goodNum{float: right; margin-top: 5px;color: #AAAAAA;}
/*div.newLine_con ul li div.progressBar{width: 250px;}*/
div.newLine_con ul li{width: 265px;}
div.newLine_con ul li div.progressBar dl.barBox{margin-top: 0;height: 10px;line-height: 10px;}
div.newLine_con ul li div.progressBar dl.barBox dd.barLine{width:245px; background: url(../img/progressBar01.png) left center;height: 10px;}
div.newLine_con ul li div.progressBar dl.barBox dd.barLine div.charts{height: 10px;}
div.newLine_leave{background: url(../img/newLine_bg.png) no-repeat left center;position:absolute;left: 0px;top: 0px;width: 101px;height: 27px;line-height: 30px;}
div.newLine_leave span{font-family: "microsoft yahei"; font-size: 14px;color:#fff;padding-left: 10px;}

div.soonLine div.soonLine_con p.soonLine_time span{font-size: color:#999999;font-family: "microsoft yahei"}
div.oldLine div.oldLine_con ul li{width: 265px;}
div.oldLine div.oldLine_con ul li div.finishNum{display:inline-block;height: 20px; line-height: 20px;background-color: #cccccc;border-radius: 10px;float: right;margin-top: 8px;}
div.oldLine div.oldLine_con ul li div.finishNum span{font-family: "microsoft yahei";color: #FFFFFF;padding: 3px 8px;}

.change01{
	font-family: "microsoft yahei"!important;
	font-size:16px!important;
	color: #FD6244!important;
	background-color: #F7F7F7;
	cursor:pointer;
	display: inline-block;
	padding: 6px 0;
}