body{
	font-family:'华文细黑','HelveticaNeue-Light';
	font-weight:normal;
	font-style:normal;
	line-height:normal;
	font-size:62.5%;
	color:#1e1e1e;
}
body,html{
	height:100%;
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}
img{
	border:none;
}
*{
	margin:0;
	padding:0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.level{
	font-size:1.3em;
}
.level .star{
	background:transparent url('images/star.png') no-repeat scroll 0 0;
	background-size:6.875em auto;
	display:inline-block;
	height:1em;
	width:6.875em;
}
.level .start-45{
	background-position:0 -1.437em;
}
.level .start-40{
	background-position:0 -2.813em;
}
.level .start-35{
	background-position:0 -4.25em;
}
.level .start-30{
	background-position:0 -5.688em;
}
.level .start-25{
	background-position:0 -7.063em;
}
.level .start-20{
	background-position:0 -8.5em;
}
.level .start-15{
	background-position:0 -9.875em;
}
.level .start-10{
	background-position:0 -11.313em;
}
.level .start-05{
	background-position:0 -12.688em;
}
.level .start-00{
	background-position:0 -14.125em;
}
.button-wrap{
	background-color:#fdfdfe;
	border-top:1px #fda28f solid;
	padding:1em;
	position:fixed;
	bottom:0;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.btn{
	background-color:#fb451f;
	color:#ffffff;
	font-size:1.6em;
	display:block;
	height:2.125em;
	line-height:2.125em;
	text-align:center;
	padding:0 0.625em;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.btn:hover{
	text-decoration:none;
}
.btn-blue{
	background-color:#6eaade;
}
.two-col > div{
	float:left;
	width:50%;
}
.two-col > .left-wrap .btn{
	margin-right:0.27em;
}
.two-col > .right-wrap .btn{
	margin-left:0.27em;
}
header{
	background-color:#ffffff;
	border-bottom:1px solid #fb451f;
	font-size:1.8em;
	text-align:center;
	height:2.33em;
	line-height:2.33em; 
	position: fixed; 
    top: 0;
    width: 100%;
    z-index: 90;
}
header+article{
	margin-top: 4.3em;
}
header .back{
	background:transparent url('images/back.png') no-repeat scroll 0 0;
	background-size:auto 1.056em;
	float:left;
	width:0.56em;
	height:1.056em;
	margin:0.66em 0 0 0.72em;
} 
header .drop{
	background:transparent url('images/drop.png') no-repeat scroll 0 0;
	background-size:0.94em auto;
	display:inline-block;
	vertical-align:middle;
	width:0.94em;
	height:0.5em;
	margin-left:0.28em;
}
.package-explain{
	background-color:#f4f7f8;
	min-height:100%;
}
.package-explain .price-wrap{
	background-color:#ffffff;
	padding:1.3em 1.6em 0.6em 2.5em;
	border-bottom:1px #dbdbe3 solid;
	margin-bottom:1.2em;
}
.package-explain .price-wrap p{
	font-size:1.5em;
	margin-bottom:0.67em;
}
.package-explain .price-wrap .original-price{
	color:#fb451f;
	font-size:1.8em;
	font-weight:bold;
	margin:0.33em 0;
	position: relative;
}
.package-explain .price-wrap .discount-price{
	font-size:1.2em;
	color:#a0a0a0;
} 
.explain-wrap{
	background-color:#ffffff;
	border-bottom:1px #c5c5c9 solid;
	padding:1em 0;
	margin-bottom:1.4em;
}
.explain-wrap h2{
	border-bottom:1px #dadae3 solid;
	font-weight:normal;
	font-size:1.5em;
	padding:0 0.67em 0.53em;
}
.explain-wrap h2:before{
	content:'';
	border-left:2px #fb451f solid;
	display:inline-block;
	height:1em;
	vertical-align:middle;
	margin-right:0.27em;
	margin-top:-5px;
}
.explain-wrap .item{
	padding:0em 1em 0 2.6em;
	position:relative;
}
.explain-wrap .item:nth-of-type(1):before{
	top:.9em;
}
.explain-wrap .item:before{
	content:'';
	border-left:1px #dadae3 solid;
	position:absolute;
	left:.9em;
	top:0px;
	bottom:-1.2em;
}
.explain-wrap .item:last-child:before{
	display:none;
}
.explain-wrap h3{
	color:#6eaade;
	font-size:1.3em;
	line-height:1.538em;
	font-weight:normal;
}
.explain-wrap h3:before{
	content:'';
	border-top:1px #dadae3 solid;
	width:0.77em;
	position:absolute;
	left:0.73em;
	top:0.66em;
}
.explain-wrap h3:after{
	content:'';
	background-color:#dadae3;
	width:3px;
	height:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	position:absolute;
	left:18px;
	top:7px;
}
.explain-wrap .item p{
	margin-bottom:0.3em;
	font-size:1.2em;
}
.package-list{
	padding-bottom:0;
}
.package-list ul{
	display:table;
	width:100%;
}
.package-list li{
	display:table-row;
}
.package-list li > div{
	border-bottom:1px #dadae3 solid;
	display:table-cell;
	vertical-align:middle;
}
.package-list li:last-child > div{
	border:none;
}
.package-list li > div:first-child{
	padding:1.5em 0 1.5em 2.5em;
}
.package-list li > div:last-child{
	padding:1.5em;
	text-align:right;
}
.package-list .intro{
	font-size:1.4em;
}
.package-list .discount-price{
	color:#fb451f;
	font-size:1.6em;
}
.package-list .original-price{
	color:#c2c2c6;
	font-size:1.2em;
	text-decoration:line-through;
}
.comment-wrap header{
	z-index:110;
}
.comment-wrap header ul{
	background-color:#ffffff;
	font-size:0.83em;
	position:absolute;
	width:100%;
	z-index:101;
	text-align:left;
	margin-top:1px;
	max-height:0px;
	overflow:hidden;
	-webkit-transition:max-height 0.7s ease-out;
	-moz-transition:max-height 0.7s ease-out;
	transition:max-height 0.7s ease-out;
}
.comment-wrap header ul li{
	border-bottom:1px #d9d9e2 solid;
	cursor:pointer;
	height:3.27em;
	line-height:3.27em;
	padding:0 1.93em;
}
.comment-wrap header ul li:hover{
	background-color:#f4f7f8;
}
.comment-wrap h2{
	border-bottom:1px #d9d9e2 solid;
	font-size:1.5em;
	font-weight:normal;
	height:3.33em;
	line-height:3.33em;
	padding-left:0.67em; 
}
.comment-wrap h2 strong{
	color:#fb451f;
	font-weight:normal;
}
.comment-list h3{
	background:transparent url('images/user.png') no-repeat scroll 0.714em center;
	background-size:1em;
	border-bottom:1px #ebebf0 solid;
	color:#00a0e9;
	font-size:1.4em;
	font-weight:normal;
	padding-left:2.143em;
	height:2.286em;
	line-height:2.286em;
}
.comment-list > li{
	border-bottom:1px #c9cbcb solid;
}
.comment-content{
	padding:0.8em 1.5em 0.8em 4em;
}
.comment-content .time{
	color:#c2c2c6;
	font-size:1.2em;
	float:right;
}
.comment-none{
	font-size:1.2em;
	display:inline-block;
	color:#ffa600;
	margin-bottom:.167em;
}
.comment-text{
	font-size:1.4em;
	line-height:1.714em; 
	word-wrap: break-word; 
	break-word: break-all;
}
.comment-list .series{
	border-top:1px #ebebf0 solid;
	font-size:1.2em;
	min-height:2.417em;
	line-height:2.417em;
	padding:0 1.25em 0 3.33em;
}
.series-pic{
	overflow:hidden;
	padding:0em 1.5em 0 2em;
}
.series-pic li{
	border:1px #c2c2c6 solid;
	float:left;
	width:7.8em;
	height:7.8em;
	margin:0 0 1em 2em;
}
.series-pic li img{
	display:block;
	width:100%;
	height:100%;
}
.series-pic .dafault-pic{
	border-color:#ebebf0;
} 
.overlay-wrap{
	background-color:rgba(0,0,0,0.6);
	width:100%;
	position:fixed;
	top:85px;
	bottom:0;
	z-index:100;
	display:none;
}
#dropList.open{
	max-height:20em;
}
.explain-wrap h2+p{ 
    font-size: 1.5em;
    font-weight: normal;
    padding:0.53em 0.67em 0; 
}
.explain-wrap h2 strong {
    color: #fb451f;
    font-weight: normal;
}
.explain-wrap h2 .arrow {
    background-image: url("images/arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 1.47em;
    display: block;
    float: right;
    height: 1.47em;
    width: 1.2em;
}
.link {
    background-color: #fff;
    border-bottom: 1px solid #d9d9e2;
    color: #1e1e1e;
    font-size: 1.5em;
    font-weight: 400;
    height:2.8em;
    line-height: 2.8em;
    margin-top: 1em;
    padding: 0 0.67em;
}
.link strong {
    color: #fb451f;
    font-weight: normal;
}
.link .arrow {
    background-image: url("images/arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 1.47em;
    display: block;
    float: right;
    height: 2.8em;
    width: 1.2em;
}
.share-service-star {
    border-bottom: 1px solid #e8e8ee;
    border-top: 1px solid #e8e8ee;
    padding: 0.2em 1em 1.1em;
    background-color: #fff;
}
.share-service-star .level, .share-service-star .score {
    display: inline-block;
}
.share-service-star .score {
    margin-right: 1.66em;
}
.share-service-star > div {
    font-size: 1.2em;
    margin-top: 1.08em;
}
.share-service-star .level {
    font-size: 1.2em;
}
.share-service-star .level span {
    margin: 0 0.83em 0 0.42em;
}
.check-wrap{
	position: absolute;
	width: 100%; 
	top: 15em;
	z-index: -10;
	-webkit-transition:top 0.3s ease-out;
	-moz-transition:top 0.3s ease-out;
	transition:top 0.3s ease-out; 
}
.check-wrap.open{ 
	top:0; 
	z-index: 100;
}
.check-wrap .check-wrap-header{
	background-color:#ffffff; 
	font-size:1.8em;
	text-align:center;
	height:2.33em;
	line-height:2.33em;  
	border-bottom: 1px solid #d9d9e2;
	position: relative;
} 
.check-wrap li > div:first-child {
    padding: 1.5em 0 1.5em;
}
.check-list{
	padding: 0;
}
.check-list li div:first-child > div {
	background-image: url("images/check-gray.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 2em;  
    padding-left: 4em;
    margin-left:1em;
}
.check-list .check div:first-child > div {
	background-image: url("images/check.png"); 
}

.package-list .posi {
    font-size: 1.2em;
}
.package-list .amount {
    font-size: 1.2em;
    color: #6eaade;
}
.header-overlay-wrap{
	background-color:rgba(0,0,0,0.6);
	width:100%;
	position:absolute;
	top:0; 
	height: 4.3em;
	z-index:100; 
	display: none;
}
#introduce{
	font-size: 1.4em;
	line-height: 157%;
	padding:1.07em 1.43em; 
	text-align: justify;
}
.check-list .label{
	font-size: 1.5em;
	height: 2.27em;
	line-height: 2.27em;
	background-color:#f4f7f8;
	padding-left: 0.66em;
	border-bottom:1px solid #d9d9e2; 
}
.baiduCount img {
    display: none;
}  
.call-wrap{
	opcity:0.8;
	background:none;
	z-index:110;
}
.call-wrap p{  
	background-color:#fff;
	display: block;
	font-size: 1.8em;
	height: 2.33em;
	line-height: 2.33em; 
	text-align: center; 
	color: #1e1e1e;
	margin-bottom: 1px;
}
.call-wrap .btn { 
    font-size: 1.8em;
    height: 2.78em;
    line-height: 2.78em; 
}
.btn-pink{
	background-color:#f1606d;
	margin-top:0.625em;
} 
.overlay-wrap-phone{
	width: 100%;
	z-index: 100; 
	top: 0px;
	bottom: 0px; 
	background-color: rgba(0, 0, 0, 0.8); 
	position: fixed;
}

/**商家列表**/
.list-module-pic li {
    background-color: #fff;
    margin-top: 1em;
}
.list-module-pic li {
    border-bottom: 1px solid #c2c2c6;
    padding:0.93em;
}  
.list-module-pic .pic {
    float: left;
    height: 5.5em; 
    width: 7.6em;
}
.list-module-pic .pic img {
    display: block;
    height: 5.5em;
    width: 7.6em;
} 
.list-module-pic h3 {
    font-size: 1.5em;
    font-weight: normal;
}
.list-module-pic .pic + div {
    margin-left: 9.5em;
}
.list-module h3, .list-module-pic h3 {
    font-size: 1.6em; 
    min-height: 1.67em;
} 
.list-module h3 .tit, .list-module-pic h3 .tit {
    color: #1e1e1e;
    display: inline-block;
    vertical-align: middle;
}
.list-module-pic .info {
    color: #323232;
    font-size: 1.2em;
    line-height: 150%;
    margin: 0;
} 
.list-module-pic .notice {
  color: #1e1e1e; 
  font-size: 1.1em; 
  margin-top:8px;
}  
.list-module-pic .price {
  color: #fb451f; 
  font-size: 1.64em; 
  float:right;
  margin-top: -5px;
}  
.list-module-pic{
  background-color: #f4f7f8;
}
.list-module-pic li{
  margin-bottom:  1em;
  background-color: #fff;
  border-bottom: 1px solid #c9cbcb;
}
.list-module-pic li:last-child{
  margin-bottom: 0;
}
p.more{
  height: 45px;
  line-height: 45px;
  font-size: 1.5em;
  color: #666666;
  cursor: pointer;
  background-color: #f4f7f8;
  text-align: center;
} 
.distanceLabel {
    background-color: #fb451f;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 0.75em;
    height: 1.1em;
    line-height: 1.1em;
    margin-right: -0.8em;
    padding: 1px 2px 1px 0;
} 
.null-tip::before {
    border-bottom: 1px solid #cfd1db;
    content: "";
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
    width: 2.4em;
}
.null-tip::after {
    border-bottom: 1px solid #cfd1db;
    content: "";
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
    width: 2.4em;
}
.null-tip {
    color: #cfd1db;
    font-size: 1.8em;
    margin-top: 2.78em;
    text-align: center;
    display: none;
}
.tip {
    color: #a0a097;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    display: none;
    cursor:pointer;
}
.tit-link:before{  
    border-left: 2px solid #fb451f;
    content: "";
    display: inline-block;
    height: 1em;
    margin-right: 0.27em; 
    vertical-align: middle;、
}
.tit-link,.ui-tit{
    border-bottom: 1px solid #dadae3;
    font-size: 1.5em;
    font-weight: normal;
    padding: 0 0.67em;
    height: 2.53em;
    line-height: 2.53em;
    background-color: #fff;
}
.tit-link + p {
    font-size: 1.5em;
    font-weight: normal;
    padding: 0 0.67em 0;
    background-color: #fff;
    border-bottom: 1px solid #c5c5c9;
    margin-bottom: 0.8em;
    height: 2.53em;
    line-height: 2.53em;
}
.tit-link .more,.ui-tit .more{
	font-size: 0.93em;
	float: right;
	background-color: #fff;
	cursor: pointer;
}
.tit-link,.ui-tit {
	position: relative;
}
.tit-link .arrow,.ui-tit .arrow{
    width: 8px;
    height: 8px;
    border-right: 1px solid #c3c3c7;
    border-top: 1px solid #c3c3c7;
    display: inline-block;
    transform: rotate(45deg); 
	-ms-transform:rotate(45deg);   
    -moz-transform:rotate(45deg); 
    -webkit-transform:rotate(45deg);  
    -o-transform:rotate(45deg); 
    position: absolute;
    right:10px;
    top: 50%;
    margin-top: -4px; 
}
.tit-link .more .arrow,.ui-tit .more .arrow{ 
    position:static; 
    margin: 0;
}
.two-ads{
  display: table;
  background-color: #fff;
  padding:12px 0 29px;
  margin-top: 10px;
  width: 100%;
} 
.two-ads>div{
  display: table-cell;
}
.two-ads p{
	font-size: 1.2em;
	text-align: center;
	margin-top: 5px;
}
.two-ads p span{
	font-size: 1.5em;
	color: #fb451f;
	font-weight: bold;
}
.two-ads .left{
  padding-left: 10px;
  width: 40%;
}
.two-ads .right{
  padding-right: 10px;
  width: 40%;  
}
.two-ads .middle{
color: #34cc89;
font-size: 3.6em;
vertical-align: middle;
padding: 0 16px;
}
.two-ads img{
  width: 100%;
  display: block;
}
.button{
	display: block;
	width: 100%;
	color: #fff;
	background-color:#34cc89;
	cursor: pointer;
	height: 2.16em;
	line-height: 2.16em;
	font-size: 1.8em;
	text-align: center;
	border-radius: 5px;
}
.btn-wrap{
	padding: 0 25px 22px;
	background-color: #fff;
	border-bottom: 1px solid #d9d9e2;
} 
.list-module li{
  margin-top: 10px;
  background-color: #fff; 
} 
.list-module h1{
	font-size: 1.5em;
	height: 40px; 
	line-height: 40px;
	font-weight: normal;
	border-bottom: 1px solid #d9d9e2;
	padding: 0 10px;
}
.list-module h1 .arrow{
	width: 12px;
    height: 12px;
    border-right: 1px solid #c3c3c7;
    border-top: 1px solid #c3c3c7;
    display: inline-block;
    transform: rotate(45deg); 
	-ms-transform:rotate(45deg);   
    -moz-transform:rotate(45deg); 
    -webkit-transform:rotate(45deg);  
    -o-transform:rotate(45deg); 
    float: right;
    margin-top: 15px;
}
.list-module p{
	border-bottom: 1px solid #d9d9e2;
	min-height: 50px; 
	padding: 0 10px;
}
.list-module h2{
	font-weight: normal; 
	border-bottom: 1px solid #d9d9e2;
	min-height: 20px; 
	padding: 15px 10px; 
}
.list-module h2 .price{
	float: right;
	color: #ff461f;
	font-size: 1.2em;
}
.list-module p{ 
 	font-size: 1.2em; 
 	height: 30px;
 	padding: 8px 10px 12px;
}
.org{
	color: #fb451f;
}
.msg-tip{
	font-size: 1.3em;
	padding: 0 10px;
	background-color: #fef4ca;
	border-bottom: 1px solid #d9d9e2; 
	height: 22px;
	line-height: 22px;
}
.msg-tip a{
	color: #34cc89;
	text-decoration: underline;
}
/**商家详情**/
.service-page{
	position: absolute;
	top: 0;
	left: 0px;
	right: 0;
	bottom: 0;
	border-left: 1px solid #cdb5bb;
	box-shadow: 1px 1px 10px #cdb5bb;
}
.close{
	display: inline-block;
	height: 28px;
	width: 28px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	cursor: pointer;
}
.close label{
	display: inline-block;
	margin-left: 10px;
} 
.close label:before{
	display: inline-block;
	width:1px;
	height: 28px;
	border-right: 1px solid #fc5d3c;
	content: "";
	transform: rotate(45deg); 
	-ms-transform:rotate(45deg);   
    -moz-transform:rotate(45deg); 
    -webkit-transform:rotate(45deg);  
    -o-transform:rotate(45deg); 
} 
.close label:after{
	display: inline-block;
	width:1px;
	height: 28px;
	border-left: 1px solid #fc5d3c;
	content: "";
	transform: rotate(-45deg); 
	-ms-transform:rotate(-45deg);   
    -moz-transform:rotate(-45deg); 
    -webkit-transform:rotate(-45deg);  
    -o-transform:rotate(-45deg);  
} 
.dialog{
  position: fixed;
  width: 100%;
  height: 100%; 
  background-color: rgba(0,0,0,0.4);
  top:0;
  bottom: 0;
  z-index:100;
}
.dialog>div{ 
  margin: 100px 10px 0;
  background-color: #fff; 
  height: auto;
  overflow: auto;
}
.dialog h1{
  height: 33px;
  text-align: center;
  border-bottom: 1px solid #fb451f;
  font-size: 1.7em;
  line-height: 33px; 
  color: #fb451f;
  font-weight: normal;
} 
.dialog p{
  padding: 20px;  
  font-size: 1.6em;
  line-height: 150%; 
  color: #lelele;
  font-weight: normal;
}
.dialog .two-btn>div{
  width: 50%;
  float: left;
}
.dialog .btn-wrap{ 
  height: auto;
  overflow: auto;
  padding:0;
  border: none; 
}
.dialog .dialog-btn{
  font-size: 1.6em;
  color: #fff;
  background-color: #fb451f;
  display: block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  margin: 0 27px 17px;
}
.dialog .left{
  margin: 0 9px 17px 27px;
}
.dialog .right{
  margin: 0 27px 17px 9px;
  background-color: #c2c2c6;
}
/**订单详情**/
.order-header{
  font-size: 1.5em;
  color: #fff; 
  padding:10px;
  background-color: #ffa600; 
  line-height: 150%;
}  
.order-header .price{
  font-size: 1.29em;
} 
.comment{
  font-size: 1.4em; 
  margin:10px 0;
  background-color: #fff;
  border-bottom: 1px solid #d9d9e2; 
  padding: 17px 20px; 
  line-height: 150%;
} 
/**注册**/
 .form-wrap li{
   height: 15px;
   margin-bottom: 15px;
   border-bottom: 1px solid #d9d9e2;
   position: relative;  
   padding:15px 90px 15px 35px;  
   background-color: #fff;
 } 
.form-wrap .phone{
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  text-align: center;
  margin: 10px 0; 
}
.form-wrap .msg{
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  text-align: center;
  margin: 15px 0; 
}
.form-wrap .regist-btn{
  position: absolute;
  right: 0;
  top: 0;
}
.regist-btn{
  font-size: 1.4em;
  background-color: #34cc89;
  width: 90px;
  height: 45px;
  display: inline-block;
  line-height: 45px;
  color: #fff;
  text-align: center;
  float: right;
  cursor: pointer;
 }
.form-wrap input{ 
  display: block;
  border: none;
  background-color: #fff;
  height: 15px; 
  line-height: 15px;
  font-size: 1.5em;
  padding: 0 11px; 
  border-left: 1px solid #d9d9e2;
  border-radius:0;
} 
 
.phone img{ 
  width: 13px;
}
.msg img{ 
  width: 18px;
}
.check-link{
   font-size: 1.5em;
   height: 45px; 
   line-height: 45px;
   border-bottom: 1px solid #d9d9e2;  
   background-color: #fff;
   padding: 0 10px;
   cursor: pointer;
   margin-bottom: 15px;
}
.check-link .arrow{
    width: 12px;
    height: 12px;
    border-right: 1px solid #c3c3c7;
    border-top: 1px solid #c3c3c7;
    display: inline-block;
    transform: rotate(45deg);
    -ms-transform:rotate(45deg);   
    -moz-transform:rotate(45deg); 
    -webkit-transform:rotate(45deg);  
    -o-transform:rotate(45deg);  
    float: right;
    margin-top: 15px;
}
.help{
   color: #6eaade;
   font-size: 1.2em;
   text-align: right;
   padding: 0 10px;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}  
.regist-footer{
  /*position: static;*/
  /*width: auto;*/
  padding: 9px;
  border-top: 1px solid #fda28f;
  /*margin-top: -67px;*/
}
.regist-footer .button{
  margin:0 49px;
  width: auto;
  border-radius: 0;
}
.bg-org{
  background-color: #fb451f;
}
.brand-wrap{
  position: relative;
  min-height: 100%;
}
.brand-wrap .word{
  height: 26px;
  line-height: 26px;
  color: #c2c2c6;
  font-size: 1.6em;
  padding: 0 23px;
  background-color: #f4f7f8;
}
.brand-wrap ul{
   border-top: 1px solid #d9d9e2;
   background-color: #fff;
}
.brand-wrap li{
  height: 58px;
  line-height: 58px;
  font-size: 1.8em;
  color: #3b3b3b;
  padding: 0 18px;
  border-bottom: 1px solid #d9d9e2;
}
.car-wrap{
  position: absolute;
  top: 0;
  left:65px;  
  right: 0;
  min-height: 100%; 
  background-color: #fff;  
  border-left: 1px solid #d9d9e2;   
}  
.car-overlay{
  background-color: rgba(0,0,0,0.4); 
  position: absolute;
  top: 0;
  left:0;  
  width: 100%;
  height: 100%;
}
.overlay-wrap{ 
  top: 23em; 
}
.modelCheckBtn{  
    margin-bottom: 0;
}
.modelCheckBtn .arrow{ 
    transform: rotate(135deg);  
    -ms-transform:rotate(135deg);   
    -moz-transform:rotate(135deg); 
    -webkit-transform:rotate(135deg);  
    -o-transform:rotate(135deg); 
} 
.disabled{
	background-color: #ccc;
}
.overflow-hide{
	height: 100%;
	overflow: hidden;
}
.tasat-wrap{
    position: fixed;
    text-align: center;
    bottom: 50%;
    width: 100%; 
}
.tasat{
    background-color: #000;
    border-radius: 8px;
    color: #fff;
    font-size: 1.6em; 
    opacity: 0.8;
    padding: 0.5em; 
    display: inline-block;
    margin: 0 20px;
}
.help.unable{
	color:#ccc;
}