    *:focus {
             outline: none;
    }
    body{background: #dfe4ec;}
    #Wraper_promCode{
        /*min-width:1200px;*/
    }
    #Wraper_promCode h2{
        /*background-color:#35beeb;*/
        background-color:#fff;
    }
    a{
        text-decoration:none;
    }
    a:hover{
        text-decoration:none;
    }
    div.left{
        float:left;
        width:75%;
        margin-top:20px;
    }
    div.serviceCode,div.office_mess,div.app_download,div.info_count,div.connect{
        /*border:1px solid #ccc;*/
    }
    div.wraper{
        /*padding:10px 2%;
        background: #fff;
        padding-bottom: 20px;*/
    }
    /*服务码*/
    .serviceCode input{ 
        font-size: 24px;
        height:34px;
        line-height: 34px; 
        text-align:center;
    }
    .serviceCode #StationSelect .ycbTable input, .serviceCode #workerSelect .ycbMech input{ 
        height: 18px;
    }
    .serv_one{
        background: #9eb2ce;
        padding:40px 0 18px 0;
        /*min-width:940px;*/
        /*border-bottom:1px solid #ccc;*/
    }
    button{
        margin-left:23px;
    }
    .serv_two{
        background: #ccc;
        margin-bottom:30px;
    }
    .serv_two li{
        background: #fff;
        padding:25px 23px 15px 30px;
        margin-bottom:1px;
    }
    p.serv_date{
        color:#35beeb;
    }
    .orderList-two li{padding:22px 38px 15px 40px;}
    .orderList-two .ob-work-list li{padding:0;}
    /*官方消息*/
    div.office_mess,div.info_count,div.connect{
        margin-top:10px;
    }
    div.office_mess .ui-checkbox{
        margin-left:12px;
    }
    #itemContainer{
        padding:10px 25px 10px 30px;
    }
    ul#itemContainer h3{
        /*width:300px;*/
        height:30px;
        overflow: hidden;
        font-size:12px;
        line-height:30px;
        color:#1e2c47;
        margin:0;
        padding-left:20px;
    }
    ul#itemContainer li{
        /*padding-left:20px;*/
        /*padding-right:36px;*/
        border-bottom:1px dashed #ddd;
        position:relative;
        padding:5px 0;
    }
    ul#itemContainer li p.date{
        font-size:12px;
        color:#888;
        padding-left:20px;
        margin-bottom:5px;
    }
    ul#itemContainer li p.content{
        font-size:14px;
        color:#000;
        margin:10px 0 10px 0;
    }
    p.ishow{
        /*text-align:right;*/
        position: absolute;
        right:15px;
        top:25px;
        font-size: 16px;
        font-weight: bold;
    }
    .showicon{
        background:url(../img/icon.png) no-repeat 0 16px;
    }
    .add_p{
        text-align:center;
        font-size:32px;
    }
    .uiPage{
        display:none;
    }
    /*下载*/
    .right{
        float:right;
        width:24%;
        margin-left:1%;
        margin-top:20px;
        /*width:340px;*/
    }
    .app_download .wraper{
        text-align:center;
    }
    .app_download img{
        width:57%;
        height:auto;
        margin-bottom:10px;
    }
    .app_download a{
        cursor:pointer;
    }
    @media screen and (min-width:1400px){
        .app_download a.ios{
            /*display:inline-block;*/
            width:33%;
            height:46px;
            margin-right:4%;
            font-size:1.2em;
            line-height:46px;
            text-align:center;
            /*background-color:#188fcd;
            color:#fff;*/
        }
        .app_download a.android{
            /*display:inline-block;*/
            width:45%;
            height:46px;
            font-size:1.2em;
            line-height:46px;
            text-align:center;
            /*background-color:#1dd172;
            color:#fff;*/
        }

    }
    @media screen and (max-width:1399px){
        .app_download a.ios{
        display:inline-block;
        width:43%;
        height:40px;
        margin-right:4%;
        font-size:1em;
        line-height:40px;
        text-align:center;
        background-color:#188fcd;
        color:#fff;
    }
    .app_download a.android{
        display:inline-block;
        width:43%;
        height:40px;
        font-size:1em;
        line-height:40px;
        text-align:center;
        background-color:#1dd172;
        color:#fff;
    }
    }
    /*信息统计*/
    .info_count li.li_border{
        border-bottom:1px solid #ccc;
    }
    .info_count li h3{
        font-size:14px;
        font-weight:bold;
        /*padding-left:4%;*/
    }
    .info_count li p{
        /*width:100%;*/
        /*text-align:center;*/
        overflow:hidden;
    }
    .info_count li span.one{
        display:block;
        width:50%;
        float:left;
        text-align:right;
    }
    .info_count li span.two{
        display:block;
        width:32%;
        float:left;
        text-align:right;
    }
    /*联系养车宝*/
    .connect span{
        margin-left:6px;
    }
 .serviceCode select{  font-size: 24px;height: 24px;line-height: 24px;}
 .notice h2{width:96%;}
 .notice span{color:#fc2603;text-decoration: underline;font-weight: 500;}

 /* 新首页style */
 .top{/*width:100%;*/padding:25px 30px 0px;}
 .media-heading{margin:10px 0 0 260px;font-size:20px;font-weight: bold;}
 .top-ul li{float:left;padding:0 56px;border-right:1px dashed #cbd5dd;}
 .top-ul li p{margin-bottom:5px;line-height: 15px;}
 .top-ul li h3{background:url(../img/thericon.png) 0 0 no-repeat;height: 20px;line-height:23px;padding:5px 30px;font-weight:bold;margin-top:15px;}
 .top-ul li .li_h3_1{background-position: 0 0;}
 .top-ul li .li_h3_2{background-position: 0 -35px;}
 .top-ul li .li_h3_3{background-position: 0 -70px;}
 .ios-and{border-top:1px solid #ccc;overflow: hidden;}
 .ios-and a{background:url(../img/ios-and.png) center 0 no-repeat;}
 .app_download a.ios{background-position: -10px 5px;/*background-color:#fff;*/border-right:1px solid #ccc;float:left;width:50%;}
 .app_download a.android{background-position: -15px -35px;/*background-color:#fff;*/float:left;}
 .top-ul img{margin-bottom:5px;}

/*.navbar .brand {
    background: rgba(0, 0, 0, 0) url("css/images/base_header_logo_y.png") no-repeat scroll 0 0;
    min-height: 38px;
    width: 269px;
    margin:22px 0 0 20px;
}*/
/*.navbar .navbar-inner {
    min-height: 80px;
    background: #3586f5;
}*/
#page-content {
    background: #dfe4ec none repeat scroll 0 0;
    margin: 0;
    /*padding: 10px 20px 24px;*/
    padding: 10px 0px 24px 20px;
}
/* top 中间内容 */
.y-people{margin-left:10px;background:url("images/people.png") 0 0 no-repeat;width:50px;height:50px;position: relative;}
.pull-left p{font-size:14px;margin-top:2px;}
.y-people .phone{position: absolute;width:17px;height:29px;left:40px;top:20px;background: url("images/ico-phone.png") 0 0 no-repeat;cursor: pointer;}
.whera{background:#3586f5;color:#fff;padding:2px 4px;display:none;position: absolute;left:-8px;top:54px;width:86px;}
.y-people .pc{position: absolute;width:32px;height:21px;left:34px;top:24px;background: url("images/ico-pc.png") 0 0 no-repeat;cursor:pointer;}
/* 小三角 */
.y-tip{padding:2px 5px;border:1px solid #F00;border-radius:4px;background:#e74c3c;position:relative;margin-left:15px;}
.y-tip i{font-style:normal;color:#fff;font-size:12px;}
.y-tip em{font-style:normal;font-size:26px;position:absolute;left:-8px;top:0px;color:#e74c3c;}
.media .body-content p{margin:7px 0;}
.body-content .grie{color:#8e95a3;}
.media .body-content{margin-left:35px;}
.media > .pull-right {text-align: center;}
.serv_two .media > .pull-right{padding:0px 30px;margin-top:20px;}
.media .right-border{/*border-right:1px dashed #cbd5dd;*/margin-left:0px;background:url(images/deshed-border.png) right 0 no-repeat;}
.pull-right p{/*margin:5px 0;*/margin-bottom:1px;}
.pull-right strong{font-size:18px;color:#1e2c47;}
.pull-right span{color:#8e95a3;}
.y-page{background: #fff;margin-top:-29px;padding:30px 0;}
.important-notice{background: #fff5af;padding:27px 30px 2px 30px;}
.important-notice h3{font-size:18px;color:#000;}
.important-notice a{font-size:12px;color:#000;}

/* 是否显示按钮 */
.mode-toggle{
  line-height: 27px;
  margin: 10px auto;
  float: right;
  padding-right:15px;
}
input[switch] {
    display: none;
}
input[switch] + label {
    font-size: 1em;
    line-height: 1;
    width: 3.5rem;
    height: 22px;
    background-color: #9ea6b3;
    background-image: none;
    border-radius: 26px;
    cursor: pointer;
    /*display: inline-block;*/
    float:right;
    text-align: center;
    position: relative;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2) inset;
    font-family: inherit;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
input[switch] + label:before {
    text-transform: uppercase;
    color: #fff;
    content: attr(data-off-label);
    display: block;
    font-family: inherit;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.4rem;
    position: absolute;
    right: 0.21667rem;
    top: 0;
    text-align: center;
    min-width: 1.66667rem;
    overflow: hidden;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
input[switch] + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 3px;
    background-color: #fff;
    box-shadow: none;
    border-radius: 16px;
    height: 16px;
    width: 16px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
input[switch]:checked + label {
    background-color: #2e83f8;
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.2));*/
    /*box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3) inset;*/
}
input[switch]:checked + label:before {
    color: #fff;
    content: attr(data-on-label);
    right: auto;
    left: 0.21667rem;
}
input[switch]:checked + label:after {
    left: 2.16667rem;
    background-color: #f7f7f7;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
}
#demo4{
    padding:20px 0;
}
.wrap-input{
    border:1px solid #8fa2bd;background: #e1e6ed;padding:18px;
}
.inline-box{
    border:1px solid #cee0f9;
    overflow: hidden;
    background: #fff;
    padding:8px 2px;
}
.wrap-input input{
    float:left;
    font-size:30px;
    text-align:center;
    border:none;
    border-left:1px solid #cee0f9;
    font-weight: bold;
}
.wrap-input .input1{
    border-left:none;
    margin-left:10px;
}
.inline-box input:focus{ 
    outline:none; 
} 
#submit{
    margin-left:15px;height:90px;width:200px;font-size:25px;font-weight:bold;
}
.temp{color: #ff0000;}
.ybs-alert{width:520px;background: #fff;position:fixed;z-index: 99999;left:50%;top:50%;margin-top:-175px;margin-left:-260px;}
.alert-head{height:60px;padding:0 30px;overflow: hidden;border-bottom:1px solid #dee2e8;line-height:60px;}
.alert-head span{float:left;font-size:16px;}
.alert-head a{float:right;width:21px;height:21px;background:url(../img/y-colse.png) 0 0 no-repeat;margin-top:20px;}
.ybs-alert .y-h2{color:#1d77f2;font-size:18px;text-align: center;padding:20px 33px 0 33px;}
.y-time{color:#abb2bd;text-align: center;padding:5px 33px;}
.y-desc{padding:0 33px;font-size:14px;color:#1e2c47;line-height:20px;margin-top:10px;}
.y-btn{width:230px;height:50px;line-height: 50px;text-align:center;margin:30px 0 30px 145px;background: #7e8899;border-radius: 5px;color:#fff;font-size:20px;cursor: pointer;display:block;padding:0 100px;border:none;}
.drag{position:fixed;width:100%;height:100%;left:0;top:0;filter:;background: #000;z-index:99990;filter:alpha(opacity=70);-moz-opacity:0.7; opacity: 0.7;}

.ios-and2{border-top:1px solid #ccc;}
.ios-and2 a{float:left;height:47px;background:url(../img/ios-and.png) center 0 no-repeat;}
.ios-and2 .ios2{background-position: -10px 5px;border-right:1px solid #ccc;width:69px;}
.ios-and2 .android2{background-position: -8px -35px;width:70px;}


.clearfix::after,.clearfix::before{display: block;content:'';font-size: 0;}
.clearfix::after{clear: both;}


.lcBox-container{
    width: 230px;
    min-height: 840px;
    background-color: #fff;
    position: relative;
}
.lcBox-nav{
    width: 100%;
    /*height: 70px;*/
    border-bottom: 1px solid #dfe4ec;
}
.lcBox-nav h1{
    font-size: 18px;
    padding:10px;
    font-weight: normal;
    margin:0;
}

/*环形图*/
.lcBox-total{
    height: 180px;
}
.lcBox-total .circle {
    width: 128px;
    height: 128px;
    position: absolute;
    border-radius: 50%;
    background: #e74c3c;
    margin:30px auto 20px 46px;
}
 .pie_left, .pie_right {
    width:128px; 
    height:128px;
    position: absolute;
    top: 0;left: 0;
}
 .lcBox-left, .lcBox-right {
    width:128px; 
    height:128px;
    background:#dfe4ec;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    margin:0;
}
.pie_right,.lcBox-right {
    clip:rect(0,auto,auto,64px);
}
 .pie_left, .lcBox-left {
    clip:rect(0,64px,auto,0);
}
.lcBox-container .mask {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 34px;
    top: 34px;
    background: #FFF;
    position: absolute;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    font-weight: bold;
    /*color: #dfe4ec;*/
}
.lcBox-container .mask  span{
    display:none;
}

.lcBox-container .total-tips{
    margin-left: 25px;
    font-size: 12px;
}
.lcBox-container .total-tips div{
    display: inline-block;
    width: 97px;
    margin-bottom: 10px;
}
.lcBox-container .total-tips  span{
    font-size: 18px;
}
.lcBox-content{
    margin-top: 10px;
}
.lcBox-content ul{
    margin:0px;
    padding:0px;
}
.lcBox-content ul li{
    list-style: none;
    width: 190px;
    height: 44px;
    margin-left: 15px;
    border-radius:5px;
    margin-bottom: 7px;
    border:1px solid #f4f7fc;
    cursor: pointer;
    background: url(images/tips-icon.png) no-repeat 15px 10px #f4f7fc;
}
.lcBox-content ul li:hover{
    border:1px solid #3586f5;
}
.lcBox-content ul li:hover a{
    color:#3586f5;
}
.lcBox-content ul li a:hover{
    color:#3586f5;
}
.lcBox-content ul li a{
    line-height: 44px;
    font-size: 14px;
}
.lcBox-container .tips-title{
    margin-left: 40px;
}
.lcBox-container .tips-number{
    float: right;
    font-size: 18px !important;
    margin-right: 20px;
}
