
.PrintArea {
    margin: 20px 5px;
    padding: 10px;
    width: 400px;
}
.buttonBar {
    height: 30px;
}
.buttonBar div {
    display: inline-block;
    float: left;
    margin-right: 10px;
    padding: 3px 12px;
    cursor: pointer;
}
.button {
    background: none repeat scroll 0 0 #999999;
    border: 1px solid blue;
    color: #EEEEEE;
    text-align: center;
}

div.settingName { display: inline-block; vertical-align: top; }
div.settingVals { display: inline-block; padding-left: 10px; }

span.test {
    color: red;
}

#Retain.PrintArea.area1 {
    border: 1px solid #999;
}

.PrintArea.area1 {
    border: solid 1px #ffb40f;
}

.PrintArea.area2 {
    border: solid 1px #20ff58;
}

.PrintArea.area3 {
    border: solid 1px #999;
}

.details-box, #Form_workOrder{background:#fff;}
table tr td{text-align: center;}

.ycb-table tr{height:64px;/*line-height:64px;*/background:#fff;}
.ycb-table thead tr{height:80px;}
.ycb-table tbody tr input[type="text"]{background:#F4F7FC; width:195px; height:30px;border:none;margin-left:20px;color:#333;}
.ycb-table tbody tr textarea{background:#F4F7FC; width:97%; height:90px;margin:20px 0;border:none;margin-left:20px;color:#333;}

.tab-title{text-align: center;line-height:80px;font-size: 28px;color:#9EA6B4;font-weight: bold;background:#DFE3EC;}
.f-right{float:right;margin-right:20px;border:1px solid #D0D8E3;color:#4A6DA7;margin-top:15px;padding:10px 15px;height:20px;line-height:20px;cursor:pointer;font-size:16px;background: #fff;}
.row1 label, .row1 i{font-size:20px;color:#9EA6B4;/*margin-left:33px;*/display:inline-block;}
.row1 i{font-style: normal;}
.row1 span{font-size:20px;color:#9EA6B4;margin-left:15px;margin-right:50px;}
/* 模拟radion */
.checkbox{width: 26px;height: 26px;display: block;float: none;background:url(images/2check.png)  0 0 no-repeat;cursor: pointer;position: absolute;top: 0;left: 0;}
.checkbox-con{display:inline-block;padding:0;}
.checkbox-con .cur{background:url(images/1check.png) 0 0 no-repeat;}
.checkbox-con span{display: inline-block;position: relative;padding-left: 28px;margin-right: 10px;line-height:26px;}
.checkbox-con .ipt-hide{position: absolute;width: 0;height: 0;border: none;}
.checkbox-con span{vertical-align: middle;}
/* 模拟end */
.row1 td{white-space:nowrap;}
.row1 td label, .row1 td span{white-space:nowrap;}
.row2 input[type="text"]{margin-right:20px;}
.row2 span{margin:0;line-height: 0}
.row1 .ycb-button{display:block;background:#9EB1CF; width:110px;line-height:33px;text-align: center;height:33px;font-size:30px;color:#fff;cursor:pointer;display:inline-block;margin:0;}
.ycb-div4 em{font-style: normal;}
.ycb-tu{position: absolute;cursor: pointer;}
.tu1{width:50px;height:60px;top:40px;left:0px;}
.tu2{height: 35px;left: 15px;top: 100px;width: 80px;}
.tu3{height: 35px;left: 15px;top: 5px;width: 80px;}
.tu4{height: 40px;left: 110px;top: 100px;width: 80px;}
.tu5{height: 40px;left: 110px;top: 5px;width: 80px;}
.tu6{width:50px;height:60px;top:40px;left:304px;}
.tu7{height: 40px;left: 265px;top: 100px;width: 80px;}
.tu8{ height: 40px;left: 265px;top: 5px;width: 80px;}
.tu9{height: 40px;left: 187px;top: 100px;width: 80px;}
.tu10{height: 40px;left: 187px;top: 5px;width: 80px;}
.round{width:16px;height:16px;display: inline-block;font-size:50px;line-heigth:16px;text-align:center;color:#f00;text-decoration:none;position: absolute;left:50%;top:50%;margin-left:-18px;margin-top:-16px;display:none;}
.round:hover{text-decoration: none;color:#f00;}
.ycb-div5 span{font-size:18px;}
.comData .input-wrap{border:none;background:none;height:0px;padding:0;}
.comData .input-wrap input{background-color: #f4f7fc !important;margin-left:0 !important;margin-top:-10px;padding:3px;}
.add-on{display:none;}


#Form_workOrder{min-width:1400px;}
.ycb-table tbody tr input[type="text"]{width:133px;}
.row1 td{word-wrap: break-word;word-break:break-all;}