@charset 'utf-8';
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background-color: #F4F7F8;
	font-size: 100%;
	font-family: 'Hiragino Sans GB',Helvetica,Arial,sans-serif;
	color: #1e1e1e;
	-webkit-text-size-adjust: none;
	height: 100%;
}
a{
	text-decoration: none;
	outline:none;
	blr:expression(this.onFocus=this.blur());
}
img{
	width: 100%;
	border: none;
	vertical-align: middle;
}
input,textarea{
	border: 0;
	-webkit-appearance: none!important;
}
.clearfix::before,.clearfix::after{
	display: block;
	content: '';
	font-size: 0px;
}
.clearfix::after{
	clear: both;
}


span.cd{
	position: relative;
	float: right;
	margin-right: 0.6rem;
}
span.cd::after,span.cd::before{
	border: 10px solid transparent;
	border-left: 10px solid #fff;
	width: 0;
	height: 0;
	position: absolute;
	top: 0.1rem;
	/*right: -20px;*/
	content: ' ';
}
span.cd::before{
	border-left-color: #C2C2C6;
	right: -22px;
}


header nav{
	padding: 1.5rem 0;
}
nav ul li{
	float: left;
}
nav ul li.navLeft-li{
	width: 25%;
}
nav ul li.navRight-li{
	width: 27%;
}
nav ul li.navMiddle-li{
	width: 24%;
}
nav ul li p{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.9rem;
	font-weight: bold;
	color: #34CC89;
	text-align: center;
	float: left;
	background-color: #fff;
	/*border: 2px solid #34CC89;*/
	border:none;
	box-shadow: 0 0 0 1px #34CC89;
	line-height: 1.4rem;
	-webkit-border-radius: 0.7rem;
	-moz-border-radius: 0.7rem;
	border-radius: 0.7rem;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
nav ul li span{
	position: relative;
	float: left;
	display: inline-block;
	top: 0.65rem;
	height: 1px;
	font-size: 0;
	background-color: #34CC89;
}
span.navLine-left{
	width: 12%;
}
p.selectCarstyle{
	width: 88%;
}
span.navLine-middle{
	width: 8.334%;
}
p.selectService,p.selectParts{
	width: 91.666%;
}
p.submitOrder{
	width: 81.481%;
}
span.navLine-Rmiddle{
	width: 7.414%;
}
span.navLine-right{
	width: 11.111%;
}
.navNow{
	color: #fff!important;
	background-color: #34CC89!important;
}
.hasNav{
	color: #fff!important;
	background-color: #B1E9D3!important;
	box-shadow: 0 0 0 1px #B1E9D3!important;
}