@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
html,body{
	min-height: 100%;
}
html{
	font-size: 62.5%;
}
body{
	background-color: #fff;
	font-family: 'STHeitiSC-Light',Helvetica,Arial,sans-serif;
	color: #1e1e1e;
}
img{
	border: none;
	vertical-align: middle;
}
a{
	text-decoration: none;
	outline: none;
	blr: expression(this.onFocus=this.blur);
}
input,textarea{
	border: none;
	-webkit-appearance: none;
}
.clearfix::before,.clearfix::after{
	display: block;
	content: '';
	font-size: 0px;
}
.clearfix::after{
	clear: both;
}

div.errorLog{
	position: fixed;
	top: 0;
	z-index: 500;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0);
	text-align: center;
}
div.errorLog p{
	position: relative;
	display: inline-block;
	margin: 10rem auto;
	background-color: rgba(0,0,0,0.5);
	font-size: 1.6rem;
	color: #fff;
	text-align: center;
	padding: 0.6rem 1rem;
	border-radius: 8px;
}