div.invoice-content{
	font-family: "microsoft yahei";
}
div.mainTop{
	margin-top: 20px;
	position: relative;
}
div.mainTop div.invoiceBtn{
	float: right;
	position: relative;
	margin-top: -40px;
}
div.invoiceInfo{
	background: #F7F7F7;
	border:1px solid #E8E8E8;
	padding: 30px 20px;
	padding-right: 0px;
	font-family: "microsoft yahei";
	font-size: 18px;
	color: #000000;
}
div.invoiceInfo span,div.invoiceBtn span{
	font-family: "microsoft yahei";
	font-size: 18px;
	color: #000000;
	margin-right: 20px;
}
span.ui-note{
	display: block;
	width: 620px;
	height: 18px;
	font-size: 14px!important;
	color: #FD6244!important;
}
div.invoiceBtn span{
	width: 130px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	background: #FD6244;
	border-radius: 4px;
	text-align: center;
	font-family: "microsoft yahei";
	font-size: 14px;
	float: left;
	cursor: pointer;
}
div.mainFoot,div.mainCon{
	padding: 0 28px;
	margin-top: 30px;
}
div.mainFoot h2,div.mainCon h2{
	margin-bottom: 32px;
	color: #000000;
}
div.mainCon{
	border-bottom: 2px solid #E8E8E8;
	padding-bottom: 20px;
}
div.mainCon p{
	margin: 10px 0;
}
div.mainCon span{
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #000000;
}
.mainCon-l{
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: 10px;
}
div.mainFoot h2{
	color: #666666;
}
div.mainFoot p{
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #666666;
	margin: 10px 0 10px 20px;
}

/*invoice-add.html*/
._fir{
	margin-top: 50px;
}
.clear{
	clear: both;
}
.ui-star{
	color: #FD6244;
}
.regLine{
	/*height: 60px;
	line-height: 60px;*/
	+zoom: 1;
	font-family: "microsoft yahei";
	font-size: 14px;
	clear: both;
}
.regLine .item1{
	float: left;
	text-align: right;
	width: 205px;
	height: 60px;
	line-height: 60px;
	font-family: "microsoft yahei";
	font-size: 14px;
	margin-right: 10px;
}
.regLine .item2{
	line-height: 60px;
	float: left;
}
.regLine .item3{
	float: left;
	height: 60px;
	line-height: 60px;
	padding-left: 10px;
}
.regLine .item3 span{
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #FD6244;
}
.regLine .item4{
	/*display: none;*/
	float: left;
	height: 60px;
	line-height: 60px;
	background: url(../img/error.png) no-repeat 0px center;
	padding-left: 25px;
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #FD6244;
}
.regLine .item5{
	/*display: none;*/
	float: left;
	height: 60px;
	line-height: 60px;
	background: url(../img/ok.png) no-repeat 5px center;
	padding-left: 35px;
}
.regLine .item2 input{
	border:1px solid #E8E8E8;
	width: 400px;
	height: 36px;
	line-height: 36px;
	margin-top: 10px;
	text-indent: 5px;
}
.regLine .item2 input.loadInput{
	filter: Alpha(opacity=0); /* IE */   
	-moz-opacity:0;    /* FF 主要是为了兼容老版本的FF */
	opacity:0;    /* FF */
}
.uploaderNote{
	position: absolute;
  	top: 20px;
  	left: 120px;
  	font-family: 微软雅黑;
  	font-size: 14px;
}

.regLine .loaditem2{
	position: relative;
	width: 400px;
}
.regLine .item2 span.loadBtn,.regLine .item2 a.downLoad{
	display: inline-block;
	position: absolute;
	top: 11px;
	left: 0px;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 3px;
	background: #FD6244;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #FFF0ED;
}
.regLine .item2 a.downLoad{
	top: auto;
	bottom: 10px;
	right: 0;
	left: auto;
	background-color: #FFFFFF;
	border: 1px solid #E8E8E8;
	color: #000000;
}
.regLine .item2 span.load-note{
	position: absolute;
	width: 100px;
	top: 30px;
	left: 110px;
	font-family: "microsoft yahei";
}
.regLine .explanatory-note{
	float: left;
	width: 400px;
	border-top: 1px solid #FD6244;
	margin: 0px 0 10px 215px;
	padding: 5px 0;
}
.regLine .explanatory-note p{
	font-family: "microsoft yahei";
	color: #A8A8A8;
}
.regLine .submitItem3{
	padding-left: 0;
}
.regLine .item3 span.submit{
	display: inline-block;
	width: 140px;
	height: 42px;
	line-height: 42px;
	font-family: "microsoft yahei";
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	margin-right: 20px;
	border-radius: 3px;
	cursor: pointer;
}
span.submitOk{
	background: #FD6244;
}
span.submitCancel{
	background: #A0A0A0;
}
