@charset 'utf-8';
div.myShopCar-con{
	margin-top: 30px;
}
div.myShopCar-con div.myShopCar-con-top,div.myShopCar-con div.myShopCar-con-top ul{
	overflow: hidden;
}
div.myShopCar-con div.myShopCar-con-top div.myShopCar-con-topLeft{
	float: left;
}
div.myShopCar-con div.myShopCar-con-top div.myShopCar-con-topRight{
	float: right;
}
div.myShopCar-con div.myShopCar-con-top span.myShopCar-img{
	margin-right: 10px;
}
div.myShopCar-con div.myShopCar-con-top span.myShopCar-text{
	font-family: "microsoft yahei";
	font-size: 18px;
	color: #333;
	position: relative;
	top: 3px;
}
div.myShopCar-con div.myShopCar-con-top ul li{
	float: right;
	overflow: hidden;
}
div.myShopCar-con div.myShopCar-con-top ul li div.li-top{
	overflow: hidden;
}
div.myShopCar-con div.myShopCar-con-top ul li div.li-bottom{
	text-align: center;
	font-family: "microsoft yahei";
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	color: #D0D0D0;
}	
.thisBottom{
	color: #FD6244!important;
}
div.myShopCar-con div.myShopCar-con-top ul li p{
	float: left;
}
div.myShopCar-con div.myShopCar-con-top ul li p{
	float: left;
	background-color: #E5E4E2;
}
.thisP{
	background-color: #FD6244!important;
}
div.myShopCar-con div.myShopCar-con-top ul li p.line{
	width: 80px;
	height: 4px;
	border-radius: 2px;
	position:relative;
	top: 16px;
	z-index: 1;
}
div.myShopCar-con div.myShopCar-con-top ul li p.line-left{
	left: 5px;
}
div.myShopCar-con div.myShopCar-con-top ul li p.line-right{
	right: 5px;
}
div.myShopCar-con div.myShopCar-con-top ul li p.circle{
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 18px;
	text-align: center;
	font-family: "microsoft yahei";
	font-size: 18px;
	color: #fff;
	position: relative;
	z-index: 2;
}
div.myShopCar-con div.myShopCar-con-top ul li.li-second{
	position: relative;
	left: 12px;
}
div.myShopCar-con div.myShopCar-con-top ul li.li-first{
	position: relative;
	left: 24px;
}

div.myShopCar-con-main{
	margin-top: 20px;
}
div.myShopCar-con-main table{
	border-top: 2px solid #E5E4E2;
	width: 100%;
}
div.myShopCar-con-main table thead,div.myShopCar-con-main table tfoot{
	background-color: #F7F7F7;
}
div.myShopCar-con-main table td.checkboxTd{
	width: 40px;
	text-align: right;
}
div.myShopCar-con-main table thead td.checkAll{
	width: 40px;
	text-align: left;
}
div.myShopCar-con-main table thead input{
	vertical-align: middle;
}
div.myShopCar-con-main table thead td{
	text-align: center;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #333;
	height: 14px;
	line-height: 14px;
	padding: 14px 0;
}
div.myShopCar-con tbody td{
	text-align: center;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #333;
	padding: 15px 0;
	border-bottom: 1px solid #E5E4E2;
}
div.myShopCar-con tbody td span a{
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #333;
}
div.myShopCar-con td.goodsInfo_detail a.goods-img{
	margin-right: 16px;
}
div.myShopCar-con td.goodsInfo_detail a.goods-img img{
	border: 1px solid #E5E4E2!important;
}
div.myShopCar-con span.buyNum_down{
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 6px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #ededed;
	font-size: 14px;
	font-family: "microsoft yahei";
	color: #333;
	cursor: pointer;
}
div.myShopCar-con span.buyNum_up{
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 6px;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #ededed;
	font-size: 14px;
	font-family: "microsoft yahei";
	color: #333;
	cursor: pointer;
}
div.myShopCar-con input.selfBuyNum{
	width: 30px;
	height: 20px;
	line-height: 20px;
	padding: 8px 5px;
	border: 1px solid #ccc;
	background-color: #FFF;
	font-size: 14px;
	font-family: "microsoft yahei";
	color: #333;
	text-align: center;
}
div.myShopCar-con td.allPrice_detail{
	color: #FD6244!important;
}
div.myShopCar-con span.rel_perPrice,span.rel_price{
	font-size: 14px;
	font-family: "microsoft yahei";
	color: #333;
}

div.myShopCar-con tbody p.ui-note{
	padding-top: 10px;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	font-family: "microsoft yahei";
	color: #f00;
}
div.myShopCar-con tfoot td.tfoot_right{
	overflow: hidden;
}
div.myShopCar-con tfoot td.tfoot_right{
	overflow: hidden;
}
div.myShopCar-con tfoot td.checkboxTd input{
	vertical-align: middle;
}
div.myShopCar-con tfoot td.checkAll{
	width: 40px;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #333;
}
div.myShopCar-con tfoot td.tfoot_right a{
	display: inline-block;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #333;
	height: 14px;
	line-height: 14px;
	margin: 14px 0 14px 20px;
}
div.myShopCar-con tfoot td.tfoot_right p{
	float: right;
}
div.myShopCar-con tfoot td.tfoot_right p span{
	display: inline-block;
}
div.myShopCar-con tfoot td.tfoot_right p span.allPriceText{
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #333;
	height: 14px;
	line-height: 14px;
}
div.myShopCar-con tfoot td.tfoot_right p span.allPrice,div.myShopCar-con tfoot td.tfoot_right p span.allPrice span{
	font-family: "microsoft yahei";
	font-size: 20px;
	color: #fd6244;
	height: 20px;
	line-height: 20px;
}
div.myShopCar-con tfoot td.tfoot_right p a.settle{
	font-family: "microsoft yahei";
	font-size: 20px;
	color: #fff;
	height: 20px;
	line-height: 20px;
	padding: 11px 40px;
	background-color: #fd6244;
	margin: 0 0 0 20px!important;
	cursor: pointer;
}
div.myShopCar-con-bottom{
	margin: 30px 0 50px 0;
	text-align: center;
}
div.myShopCar-con-bottom a{
	font-family: "microsoft yahei";
	font-size: 18px;
	color: #fd6244;
}