@charset 'utf-8';
div.selectCharge{
	margin-top: 30px;
}


div.selectCharge div.myShopCar-con-topRight{
	overflow: hidden;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 2px solid #E5E4E2; 
}
div.selectCharge div.myShopCar-con-topRight ul li{
	float: right;
	overflow: hidden;
}
div.selectCharge div.myShopCar-con-topRight ul li div.li-top{
	overflow: hidden;
}
div.selectCharge div.myShopCar-con-topRight ul li div.li-bottom{
	text-align: center;
	font-family: "microsoft yahei";
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	color: #D0D0D0;
}	
div.selectCharge div.myShopCar-con-topRight ul li p{
	float: left;
}
div.selectCharge div.myShopCar-con-topRight ul li p{
	float: left;
	background-color: #E5E4E2;
}
div.selectCharge div.myShopCar-con-topRight ul li p.line{
	width: 80px;
	height: 4px;
	border-radius: 2px;
	position:relative;
	top: 16px;
	z-index: 1;
}
div.selectCharge div.myShopCar-con-topRight ul li p.line-left{
	left: 5px;
}
div.selectCharge div.myShopCar-con-topRight ul li p.line-right{
	right: 5px;
}
div.selectCharge div.myShopCar-con-topRight ul li p.circle{
	background: url(../img/bannerLine01.png) no-repeat 2px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	/*border-radius: 18px;*/
	text-align: center;
	font-family: "microsoft yahei";
	font-size: 18px;
	color: #fff;
	position: relative;
	z-index: 2;
}
div.selectCharge div.myShopCar-con-topRight ul li p.circleTh{
	background: url(../img/bannerLine.png) no-repeat 2px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	/*border-radius: 18px;*/
	text-align: center;
	font-family: "microsoft yahei";
	font-size: 18px;
	color: #fff;
	position: relative;
	z-index: 2;
}
div.selectCharge div.myShopCar-con-topRight ul li.li-second{
	position: relative;
	left: 12px;
}
div.selectCharge div.myShopCar-con-topRight ul li.li-first{
	position: relative;
	left: 24px;
}


div.selectCharge p.orderPrice-detail span{
	display: inline-block;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #333;
	height: 14px;
	line-height: 14px;
	padding: 6px 0;
}
div.selectCharge span.orderPrice-orderNumber{
	margin-right: 40px;
}
div.selectCharge span.orderPrice-chargePrice{
	color: #FD6244!important;
}
div.selectCharge p.orderPrice-note{
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #666;
}
div.selectCharge span.limitChargeTime{
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #FD6244;
}
div.selectCharge p.orderPrice-checkOrderDetail{
	margin-top: 20px;
}
div.selectCharge p.orderPrice-checkOrderDetail a{
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #FD6244;
	cursor: pointer;
}

div.selectChargeDetail{
	margin-top: 30px;
}
div.selectCharge h2{
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #333;
	background-color: #f7f7f7;
	height: 16px;
	line-height: 16px;
	padding: 15px 30px;
	border-top: 2px solid #E6E5E3;
}
div.selectChargeDetail-con{
	padding: 20px 30px 50px 30px;
}
div.selectChargeDetail-con form{
	position: relative;
	overflow: hidden;
}
div.selectChargeDetail-con span.span_wraper{
	display: block;
	float: left;
	height: 70px;
	+height: 50px;
	line-height: 70px;
	width: 230px;
	padding-left: 20px;
	+padding-top: 20px;
	border: 1px solid #E6E5E3;
	border-radius: 3px;
	margin-right: 16px;
}
.clickSpan_wraper{
	border: 2px solid #FFC9BE!important;
}
div.selectChargeDetail-con span{
	cursor: pointer;
}
div.selectChargeDetail-con span.span_wraper input{
	vertical-align: middle;
	margin-right: 10px;
}
div.selectCharge span.bankText,div.selectCharge span.lineText{
	font-family: "microsoft yahei";
	font-size: 18px;
	color: #333;
}
div.selectCharge div.chargeNext{
	padding-left: 30px;
	padding-top: 20px;
}
div.selectCharge div.chargeNext span{
	display: block;
	font-family: "microsoft yahei";
	font-size: 16px;
	color: #fff;
	background-color: #FD6244;
	width: 50px;
	height: 14px;
	line-height: 14px;
	padding: 10px 50px;
	border-radius: 4px;
	cursor: pointer;
}


.Form-bank-list{
	position: absolute;
	z-index: 1505;
	top: 120px;
	left: 50%;
	margin-left: -460px;
	border: 1px solid #FD6244;
	width: 920px;
	background-color: #fff;
}
.form-bank-con{
	padding: 40px 60px 30px 60px;
	text-align: center;
}
p.bankSure{
	margin-top: 30px;
}
.form-bank-con span.bankSureBtn{
	display: inline-block;
	background-color: #FD6244;
	font-size: 16px;
	font-family: "microsoft yahei";
	color: #fff;
	height: 16px;
	line-height: 16px;
	margin-right:20px;
	padding: 11px 52px;
	border-radius: 3px;
	cursor: pointer;
}
/*.login-dialog-overlay{
	position: absolute;
	top:0;
	z-index: 1500;
	display: block;
	height: 100%;
	width:100%;
	background-color: black;
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}*/

span.chargeSucBtn,span.chargeFailBtn{
	display: inline-block;
	background-color: #FD6244;
	font-size: 16px;
	font-family: "microsoft yahei";
	color: #fff;
	height: 16px;
	line-height: 16px;
	margin-top:26px;
	width: 130px;
	padding: 11px 0;
	border-radius: 3px;
	cursor: pointer;
	margin: 25px 15px 0 15px;
}
div.Form-bank-list ul{
	overflow: hidden;
}
div.Form-bank-list ul li{
	float: left;
}
div.Form-bank-list ul li img{
	border: 1px solid #ddd;
	margin: 6px 30px 6px 15px;
}