body{
	font-family:'华文细黑','HelveticaNeue-Light';
	font-size:62.5%;
	color:#1e1e1e;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
body,html{
	min-height:100%;
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}
img{
	border:none;
}
*{
	margin:0;
	padding:0;
}
.clearfix {
   *zoom: 1;
}
.clearfix:before,
.clearfix:after {
   display: table;
   line-height: 0;
   content: "";
}
.clearfix:after {
  clear: both;
}
.activity-wrap{
	color: #333333;
}
.activity-wrap h2{
	font-size: 1.6em;
	margin-bottom: 0.714em;	
}
.activity-wrap .intro{
	color: #000000;
	font-size: 1.6em;
	line-height: 1.427em;
	text-indent: 1.714em;
}
.activity-wrap .flag{
	background-color: #e90722;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	display: inline-block;
	font-weight:normal;
	height: 1.714em;
	line-height: 1.714em;
	text-align: center;
	padding: 0 0.714em;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	margin-right: 0.357em;
}
.activity-wrap .flag-wrap{
	margin-top:0.357em;
}
.activity-wrap figure img{
	display: block;
	width: 100%;
}
.activity-wrap figure > div{
	padding: 1.5em;
}
.activity-wrap figure .intro{
	color: #333333;
}
.activity-content{
	padding:1em 1.5em;
}
.activity-content article{
	margin-bottom: 1.8em;
}
.button-wrap{
	margin-top:1.25em;	
}
.module-wrap:first-child,
.button-wrap:first-child{
	margin-top:0;
}
.btn{
	background-color:#e90722;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#ffffff;
	font-size:1.8em;
	display:block;
	height:2.4em;
	line-height:2.4em;
	text-align:center;
	padding:0 0.5em;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.list-module,
.list-module-pic{
	margin-bottom:0.7em;
}
.list-module h3,
.list-module-pic h3{
	color:#000000;
	font-size: 1.8em;
	line-height:1.125em;
	font-weight:normal;
	margin-bottom: 0.313em;
}
.list-module h3 .tit,
.list-module-pic h3 .tit{
	display:inline-block;
	vertical-align: middle;
}
.list-module li,
.list-module-pic li{
	border-bottom:1px #5b89f3 solid;
	padding: 0 0 1em;
	margin-bottom: 1em;
}
.list-module li:last-child,
.list-module-pic li:last-child{
	border-bottom:none;
}
.list-module p,
.list-module-pic p{
	font-size:1.6em;
	line-height:1.286em;
}
.list-module-pic .pic{
	border:1px #cdcccc solid;
	float:left;
	width:11em;
}
.list-module-pic .pic img{
	display:block;
	width:100%;
}
.list-module-pic .pic + div{
	margin-left:12em;
}
.list-module-pic .flag{
	height: 1.429em;
	line-height: 1.429em;
}
.ui-tit{
	font-size:1.6em;
	line-height:1.25em; 
	font-weight:normal;
	padding:0.375em 1.125em;
	margin-bottom:1.25em;
}
.ui-tit > span{
	display:inline-block;
	vertical-align: middle;
}
