<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<script src="http://app.yangchebao.com.cn/group1/M00/00/9F/jquery-1.9.1.min.00000000000000.js "></script> 
		<script src="http://app.yangchebao.com.cn/group1/M00/00/9F/jquery.json-2.2.000000000000000.js"></script>
		<title></title>
		<link rel="stylesheet" type="text/css" href="http://app.yangchebao.com.cn/yangchebao-pubweb/template/css/custom-in.css">
	</head>
<body>
	<footer>
		<div class="ui-input">
			<input type="input" name="exchangeCode" placeholder="请输入兑换码" />
		</div>

		<div class="btn">确定</div>
	</footer>
	<div class="dialog">
		<div class="dialog-content">
			<p></p>
			<div class="confirm">确定</div>
		</div>
	</div>
	<div class="dialog-overlay"></div>
	<div class="loading">
		<img src="http://app.yangchebao.com.cn/group1/M00/06/CD/ChoCK1drjSqAU6r2AAAKZYVCAHM944.gif">
		<p>努力打开中，请稍候</p>
	</div>
</body>
<script type="text/javascript">
	$(function(){
		var paramJson = {};
		// 获取参数
		var url = window.location.search;     

	    if(url!=''){
	    	var paramsArr = (url.split("?")[1]).split("&");
		    $.each(paramsArr,function(i){
		        var item = paramsArr[i].split("=");
		        paramJson[item[0]] = item[1]
		    });
	    }

	    $('title').text(decodeURIComponent(paramJson.title));
	    var temp = '';
	    if(paramJson.img1 && paramJson.img1.length > 0) {
	    	temp += '<img src="'+decodeURIComponent(paramJson.img1)+'" />';
	    }

	    if(paramJson.img2 && paramJson.img2.length > 0) {
	    	temp += '<img src="'+decodeURIComponent(paramJson.img2)+'" />';
	    }
	    if(paramJson.img3 && paramJson.img3.length > 0) {
	    	temp += '<img src="'+decodeURIComponent(paramJson.img3)+'" />';
	    }

	    $('footer').before(temp);

	});
</script>
</html>