<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no" />
		<script src="http://app.yangchebao.com.cn/group1/M00/00/9F/jquery-1.9.1.min.00000000000000.js "></script> 
		<script src="http://app.yangchebao.com.cn/group1/M00/00/9F/jquery.json-2.2.000000000000000.js"></script>
		<title>自定义模板</title>
		<link rel="stylesheet" type="text/css" href="http://app.yangchebao.com.cn/yangchebao-pubweb/template/css/custom-in.css">
	</head>
<body>
	<img src="http://app.yangchebao.com.cn/group1/M00/06/B7/ChoCK1djybKAJge6AAIep7YLaMI792.png"/>
	<img src="http://app.yangchebao.com.cn/group1/M00/06/B7/ChoCK1djybKAJge6AAIep7YLaMI792.png"/>
	<img src="http://app.yangchebao.com.cn/group1/M00/06/B7/ChoCK1djybKAJge6AAIep7YLaMI792.png"/>
	<footer>
		<div class="ui-input">
			<input type="input" name="exchangeCode" placeholder="请输入兑换码" />
		</div>

		<div class="btn">确定</div>
	</footer>
	<div class="dialog">
		<div class="dialog-content">
			<p></p>
			<div class="confirm">确定</div>
		</div>
	</div>
	<div class="dialog-overlay"></div>
	<div class="loading">
		<img src="http://app.yangchebao.com.cn/group1/M00/06/CD/ChoCK1drjSqAU6r2AAAKZYVCAHM944.gif">
		<p>努力打开中，请稍候</p>
	</div>
</body>
<script type="text/javascript" src="http://app.yangchebao.com.cn/yangchebao-pubweb/template/js/custom-in.js"></script>
</html>