@charset 'utf-8';
.Arrow{
	position: relative;
}
.Arrow::after,.Arrow::before{
	position: absolute;
	content: '';
	font-size: 0;
	width: 0;
	height: 0;
	border-top: 0.8rem solid transparent;
	border-bottom: 0.8rem solid transparent;
	top: -0.4rem;
}
.arrowR::before{
	border-left: 0.8rem solid #6eaade;
	right: -0.2rem;
}
.arrowR::after{
	right: 0px;
	border-left: 0.8rem solid #fff;
}
.arrowL::before{
	border-right: 0.8rem solid #6eaade;
	right: 0.2rem;
}
.arrowL::after{
	right: 0px;
	border-right: 0.8rem solid #fff;
}
article.calender-top,article.calender-bottom{
	background-color: #fff;
}
article.calender-bottom{
	padding-bottom: 1.92rem;
	border-bottom: 1px solid #d9d9e2;
}
article.calender-top div.dateWraper{
	text-align: center;
	padding: 1.6rem 0 1.28rem 0;
}
article.calender-top span.theDate{
	color: #6eaade;
	font-size: 1.6rem;
	padding: 0 1.6rem;
}
article.calender-bottom table.Table-date{
	width: 100%;
}
article.calender-bottom thead tr th{
	border-top: 1px solid #6eaade;
	border-bottom: 1px solid #6eaade;
	color: #a2a2a2;
	font-size: 1.28rem;
	text-align: center;
	font-weight: normal;
	padding: 0.8rem;
}
article.calender-bottom tbody tr td{
	color: #a2a2a2;
	font-size: 1.6rem;
	text-align: center;
}
article.calender-bottom tbody tr td span{
	display: inline-block;
	line-height: 3.52rem;
	width: 2rem;
}
.hasData{
	color: #fff!important;
	background-color: #ff6138;
	padding: 0 8.5px; 
	border-radius: 100%;
}